Repository apache/nuttx, changes with the labels that .github/labeler.yml gives for each.
All labels: Arch: arm, Arch: arm64, Arch: avr, Arch: ceva, Arch: hc, Arch: mips, Arch: openrisc, Arch: renesas, Arch: risc-v, Arch: simulator, Arch: sparc, Arch: tricore, Arch: x86, Arch: x86_64, Arch: xtensa, Arch: z16, Arch: z80, Board: arm, Board: arm64, Board: avr, Board: hc, Board: mips, Board: openrisc, Board: renesas, Board: risc-v, Board: simulator, Board: sparc, Board: tricore, Board: x86, Board: x86_64, Board: xtensa, Board: z16, Board: z80, Area: Audio, Area: Binfmt, Area: Bluetooth, Area: Build system, Area: CI, Area: Crypto, Area: Documentation, Area: File System, Area: Github Actions, Area: Graphics, Area: Memory Management, Area: Networking, Area: OS Components, Area: PCI, Area: Sensors, Area: Tooling, Area: USB, Area: Video

sched: export sched_getcpu API in AMP mode
  include/sched.h
  include/sys/syscall_lookup.h
  sched/sched/CMakeLists.txt
  sched/sched/Make.defs
  sched/sched/sched_getcpu.c
  syscall/syscall.csv
Labels: Area: OS Components

stm32f429i-disco: disable TM32_FB_CMAP
  boards/arm/stm32/stm32f429i-disco/configs/fb/defconfig
Labels: Board: arm

arm: tc32 nested interrupts are not supported
  arch/arm/src/tlsr82/tc32/tc32_doirq.c
Labels: Arch: arm

irq: use up_interrupt_context to replace up_current_regs
  arch/arm/src/common/arm_switchcontext.c
  arch/arm64/src/common/arm64_switchcontext.c
  arch/risc-v/src/common/riscv_switchcontext.c
  arch/sim/src/sim/sim_switchcontext.c
  arch/x86_64/src/common/x86_64_switchcontext.c
  boards/arm/cxd56xx/common/src/cxd56_crashdump.c
  boards/arm/stm32/nucleo-f429zi/src/stm32_bbsram.c
  boards/arm/stm32f7/nucleo-144/src/stm32_bbsram.c
  boards/renesas/rx65n/rx65n-grrose/src/rx65n_sbram.c
  boards/renesas/rx65n/rx65n-rsk2mb/src/rx65n_sbram.c
Labels: Arch: arm, Arch: arm64, Arch: risc-v, Arch: simulator, Arch: x86_64, Board: arm, Board: renesas

arm: g_current_regs is only used to determine if we are in irq, with other functionalities removed.
  arch/arm/src/arm/arm_doirq.c
  arch/arm/src/arm/arm_schedulesigaction.c
  arch/arm/src/arm/arm_syscall.c
  arch/arm/src/armv6-m/arm_doirq.c
  arch/arm/src/armv6-m/arm_schedulesigaction.c
  arch/arm/src/armv6-m/arm_svcall.c
  arch/arm/src/armv7-a/arm_cpupause.c
  arch/arm/src/armv7-a/arm_cpustart.c
  arch/arm/src/armv7-a/arm_doirq.c
  arch/arm/src/armv7-a/arm_schedulesigaction.c
  arch/arm/src/armv7-a/arm_syscall.c
  arch/arm/src/armv7-m/arm_doirq.c
  arch/arm/src/armv7-m/arm_schedulesigaction.c
  arch/arm/src/armv7-m/arm_svcall.c
  arch/arm/src/armv7-r/arm_cpupause.c
  arch/arm/src/armv7-r/arm_cpustart.c
  arch/arm/src/armv7-r/arm_doirq.c
  arch/arm/src/armv7-r/arm_schedulesigaction.c
  arch/arm/src/armv7-r/arm_syscall.c
  arch/arm/src/armv8-m/arm_doirq.c
  arch/arm/src/armv8-m/arm_schedulesigaction.c
  arch/arm/src/armv8-m/arm_svcall.c
  arch/arm/src/armv8-r/arm_doirq.c
  arch/arm/src/armv8-r/arm_schedulesigaction.c
  arch/arm/src/armv8-r/arm_syscall.c
  arch/arm/src/common/arm_internal.h
  arch/arm/src/common/arm_switchcontext.c
  arch/arm/src/cxd56xx/cxd56_cpupause.c
  arch/arm/src/dm320/dm320_decodeirq.c
  arch/arm/src/imx1/imx_decodeirq.c
  arch/arm/src/lc823450/lc823450_cpupause.c
  arch/arm/src/lpc214x/lpc214x_decodeirq.c
  arch/arm/src/lpc2378/lpc23xx_decodeirq.c
  arch/arm/src/lpc31xx/lpc31_decodeirq.c
  arch/arm/src/moxart/moxart_irq.c
  arch/arm/src/rp2040/rp2040_cpupause.c
  arch/arm/src/sam34/sam4cm_cpupause.c
  arch/arm/src/str71x/str71x_decodeirq.c
  arch/arm/src/tlsr82/tc32/tc32_doirq.c
  arch/arm/src/tlsr82/tc32/tc32_schedulesigaction.c
Labels: Arch: arm

arm64: g_current_regs is only used to determine if we are in irq, with other functionalities removed.
  arch/arm64/src/common/arm64_cpupause.c
  arch/arm64/src/common/arm64_doirq.c
  arch/arm64/src/common/arm64_internal.h
  arch/arm64/src/common/arm64_schedulesigaction.c
  arch/arm64/src/common/arm64_switchcontext.c
Labels: Arch: arm64

arch/x86_64: add support for thread_local
  arch/Kconfig
  arch/x86_64/src/common/CMakeLists.txt
  arch/x86_64/src/common/Make.defs
  arch/x86_64/src/common/x86_64_internal.h
  arch/x86_64/src/common/x86_64_tls.c
  arch/x86_64/src/intel64/intel64_fullcontextrestore.S
  arch/x86_64/src/intel64/intel64_initialstate.c
  boards/x86_64/intel64/qemu-intel64/configs/nsh/defconfig
  boards/x86_64/intel64/qemu-intel64/scripts/qemu.ld
Labels: Arch: x86_64, Board: x86_64

Fix to compile parameters not taking effect When cmake version is greater than 3.18
  fs/littlefs/CMakeLists.txt
  fs/romfs/CMakeLists.txt
  fs/rpmsgfs/CMakeLists.txt
Labels: Area: File System

Revert "toolchain/ghs: Fix CONFIG_SCHED_CRITMONITOR_MAXTIME_XXX "zero used for undefined preprocessing identifier" warnings"
  include/nuttx/sched.h
  sched/sched/sched.h
Labels: Area: OS Components

sched: add nxsched_remove_self
  sched/mqueue/mq_rcvinternal.c
  sched/mqueue/mq_sndinternal.c
  sched/mqueue/msgrcv.c
  sched/mqueue/msgsnd.c
  sched/paging/pg_miss.c
  sched/sched/sched.h
  sched/sched/sched_removereadytorun.c
  sched/semaphore/sem_wait.c
  sched/signal/sig_suspend.c
  sched/signal/sig_timedwait.c
  sched/task/task_exit.c
Labels: Area: OS Components

gdbstub:expand buffer size to increase transfer speed
  libs/libc/gdbstub/Kconfig
  libs/libc/gdbstub/lib_gdbstub.c
Labels: Area: OS Components

gdbstub: support the use of recvbuf and sendbuf
  drivers/serial/serial_gdbstub.c
Labels: none

gdbstub: add RLE compression
  libs/libc/gdbstub/lib_gdbstub.c
Labels: Area: OS Components

gdbstub:support only use gdbstub when panic
  drivers/serial/Kconfig
  drivers/serial/serial.c
  drivers/serial/serial_gdbstub.c
  include/nuttx/serial/serial.h
Labels: none

gdbstub:support gdbstub memory access control
  libs/libc/gdbstub/lib_gdbstub.c
  sched/misc/coredump.c
Labels: Area: OS Components

Simplify BOARD_MEMORY_RANGE initialization logic
  boards/Kconfig
  cmake/nuttx_mkconfig.cmake
  drivers/misc/dev_mem.c
  libs/libc/gdbstub/lib_gdbstub.c
  sched/misc/coredump.c
  tools/cfgdefine.c
Labels: Area: Build system, Area: OS Components, Area: Tooling

libs/libc/fdt/Make.defs: cannot move due to directory not empty bugfix
  libs/libc/fdt/Make.defs
Labels: Area: OS Components

arch/arm/Kconfig: fix copy-paste error
  arch/arm/Kconfig
Labels: Arch: arm

drivers/battery: Fix Goldfish Battery x64 unresponsive interrupt issue
  drivers/power/battery/goldfish_battery.c
Labels: none

arch/x86_64: Resolve weak symbol compilation relocation errors
  arch/x86_64/src/cmake/Toolchain.cmake
  arch/x86_64/src/common/Toolchain.defs
Labels: Arch: x86_64

arch/x68_64: properly align ap boot stack for vector operations
  arch/x86_64/src/intel64/intel64_head.S
Labels: Arch: x86_64

arm64: fix backtrace failed
  arch/arm64/src/common/arm64_backtrace.c
  arch/arm64/src/common/arm64_vectors.S
Labels: Arch: arm64

arch/arm64: Add the interface for icache and dcache.
  arch/arm64/src/common/arm64_cache.c
Labels: Arch: arm64

arm64-r/mpu: add TBI setting to r82 when use SW_TAG
  arch/arm64/src/common/arm64_mpu.c
  arch/arm64/src/common/arm64_mpu.h
Labels: Arch: arm64

arm64_checkstack: fix crash, optimize the stack color, sync with arm
  arch/arm64/src/common/arm64_checkstack.c
Labels: Arch: arm64

arch/arm64: Fixed arm64_cache_get_info obtaining cache.
  arch/arm64/src/common/arm64_cache.c
  arch/arm64/src/common/arm64_mmu.h
Labels: Arch: arm64

arm64: update knsh qemu doc
  Documentation/platforms/arm64/qemu/boards/qemu-armv8a/README.txt
Labels: Area: Documentation

armv6/7/8m: use pendsv to handle context switch
  arch/arm/src/armv6-m/arm_doirq.c
  arch/arm/src/armv6-m/arm_svcall.c
  arch/arm/src/armv6-m/arm_vectors.c
  arch/arm/src/armv7-m/arm_doirq.c
  arch/arm/src/armv7-m/arm_svcall.c
  arch/arm/src/armv7-m/arm_vectors.c
  arch/arm/src/armv8-m/arm_doirq.c
  arch/arm/src/armv8-m/arm_svcall.c
  arch/arm/src/armv8-m/arm_vectors.c
Labels: Arch: arm

armv7/8m: unmask all the IRQ when thread start
  arch/arm/include/armv7-m/irq.h
  arch/arm/include/armv8-m/irq.h
  arch/arm/src/armv7-m/arm_initialstate.c
  arch/arm/src/armv8-m/arm_initialstate.c
Labels: Arch: arm

arm-M: set current regs for crash dump
  arch/arm/src/armv6-m/arm_doirq.c
  arch/arm/src/armv7-m/arm_doirq.c
  arch/arm/src/armv8-m/arm_doirq.c
Labels: Arch: arm

armv6m: add up_trigger_irq() support
  arch/arm/Kconfig
  arch/arm/src/armv6-m/CMakeLists.txt
  arch/arm/src/armv6-m/Make.defs
  arch/arm/src/armv6-m/arm_trigger_irq.c
  arch/arm/src/armv6-m/nvic.h
Labels: Arch: arm

arch/x86_64: Resolve weak symbol compilation relocation errors
  arch/x86_64/src/cmake/Toolchain.cmake
  arch/x86_64/src/common/Toolchain.defs
Labels: Arch: x86_64

arch/x68_64: properly align ap boot stack for vector operations
  arch/x86_64/src/intel64/intel64_head.S
Labels: Arch: x86_64

arch/x86_64: add support for thread_local
  arch/Kconfig
  arch/x86_64/src/common/CMakeLists.txt
  arch/x86_64/src/common/Make.defs
  arch/x86_64/src/common/x86_64_internal.h
  arch/x86_64/src/common/x86_64_tls.c
  arch/x86_64/src/intel64/intel64_fullcontextrestore.S
  arch/x86_64/src/intel64/intel64_initialstate.c
  boards/x86_64/intel64/qemu-intel64/configs/nsh/defconfig
  boards/x86_64/intel64/qemu-intel64/scripts/qemu.ld
Labels: Arch: x86_64, Board: x86_64

.github/labeler.yml:

# SPDX-License-Identifier: Apache-2.0
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

# add arch labels

"Arch: arm":
  - changed-files:
      - any-glob-to-any-file: 'arch/arm/**'

"Arch: arm64":
  - changed-files:
      - any-glob-to-any-file: 'arch/arm64/**'

"Arch: avr":
  - changed-files:
      - any-glob-to-any-file: 'arch/avr/**'

"Arch: ceva":
  - changed-files:
      - any-glob-to-any-file: 'arch/ceva/**'

"Arch: hc":
  - changed-files:
      - any-glob-to-any-file: 'arch/hc/**'

"Arch: mips":
  - changed-files:
      - any-glob-to-any-file: 'arch/mips/**'

"Arch: openrisc":
  - changed-files:
      - any-glob-to-any-file: 'arch/or1k/**'

"Arch: renesas":
  - changed-files:
      - any-glob-to-any-file: 'arch/renesas/**'

"Arch: risc-v":
  - changed-files:
      - any-glob-to-any-file: 'arch/risc-v/**'

"Arch: simulator":
  - changed-files:
      - any-glob-to-any-file: 'arch/sim/**'

"Arch: sparc":
  - changed-files:
      - any-glob-to-any-file: 'arch/sparc/**'

"Arch: tricore":
  - changed-files:
      - any-glob-to-any-file: 'arch/tricore/**'

"Arch: x86":
  - changed-files:
      - any-glob-to-any-file: 'arch/x86/**'

"Arch: x86_64":
  - changed-files:
      - any-glob-to-any-file: 'arch/x86_64/**'

"Arch: xtensa":
  - changed-files:
      - any-glob-to-any-file: 'arch/xtensa/**'

"Arch: z16":
  - changed-files:
      - any-glob-to-any-file: 'arch/z16/**'

"Arch: z80":
  - changed-files:
      - any-glob-to-any-file: 'arch/z80/**'

# add board labels

"Board: arm":
  - changed-files:
      - any-glob-to-any-file: 'boards/arm/**'

"Board: arm64":
  - changed-files:
      - any-glob-to-any-file: 'boards/arm64/**'

"Board: avr":
  - changed-files:
      - any-glob-to-any-file: 'boards/avr/**'

"Board: hc":
  - changed-files:
      - any-glob-to-any-file: 'boards/hc/**'

"Board: mips":
  - changed-files:
      - any-glob-to-any-file: 'boards/mips/**'

"Board: openrisc":
  - changed-files:
      - any-glob-to-any-file: 'boards/or1k/**'

"Board: renesas":
  - changed-files:
      - any-glob-to-any-file: 'boards/renesas/**'

"Board: risc-v":
  - changed-files:
      - any-glob-to-any-file: 'boards/risc-v/**'

"Board: simulator":
  - changed-files:
      - any-glob-to-any-file: 'boards/sim/**'

"Board: sparc":
  - changed-files:
      - any-glob-to-any-file: 'boards/sparc/**'

"Board: tricore":
  - changed-files:
      - any-glob-to-any-file: 'boards/tricore/**'

"Board: x86":
  - changed-files:
      - any-glob-to-any-file: 'boards/x86/**'

"Board: x86_64":
  - changed-files:
      - any-glob-to-any-file: 'boards/x86_64/**'

"Board: xtensa":
  - changed-files:
      - any-glob-to-any-file: 'boards/xtensa/**'

"Board: z16":
  - changed-files:
      - any-glob-to-any-file: 'boards/z16/**'

"Board: z80":
  - changed-files:
      - any-glob-to-any-file: 'boards/z80/**'

# add area labels

"Area: Audio":
  - changed-files:
      - any-glob-to-any-file: 'audio/**'
      - any-glob-to-any-file: 'drivers/audio/**'
      - any-glob-to-any-file: 'include/nuttx/audio/**'

"Area: Binfmt":
  - changed-files:
      - any-glob-to-any-file: 'binfmt/**'
      - any-glob-to-any-file: 'include/nuttx/binfmt/**'

"Area: Bluetooth":
  - changed-files:
      - any-glob-to-any-file: 'wireless/bluetooth/**'
      - any-glob-to-any-file: 'nuttx/drivers/wireless/bluetooth/**'
      - any-glob-to-any-file: 'include/nuttx/wireless/bluetooth/**'

"Area: Build system":
  - changed-files:
      - any-glob-to-any-file: 'Makefile'
      - any-glob-to-any-file: 'CMakeLists.txt'
      - any-glob-to-any-file: 'cmake/**'
      - any-glob-to-any-file: 'tools/*.mk'

"Area: CI":
  - changed-files:
      - any-glob-to-any-file: '.github/**'
      - any-glob-to-any-file: 'tools/ci/**'

"Area: Crypto":
  - changed-files:
      - any-glob-to-any-file: 'crypto/**'
      - any-glob-to-any-file: 'drivers/crypto/**'
      - any-glob-to-any-file: 'include/crypto/**'
      - any-glob-to-any-file: 'include/nuttx/crypto/**'

"Area: Documentation":
  - changed-files:
      - any-glob-to-any-file: 'Documentation/**'
      - any-glob-to-any-file: 'README.md'
      - any-glob-to-any-file: 'ReleaseNotes'
      - any-glob-to-any-file: 'CONTRIBUTING.md'
      - any-glob-to-any-file: 'INVIOLABLES.md'

"Area: File System":
  - changed-files:
      - any-glob-to-any-file: 'fs/**'
      - any-glob-to-any-file: 'include/nuttx/fs/**'

"Area: Github Actions":
  - changed-files:
      - any-glob-to-any-file: '.github/actions/**'

"Area: Graphics":
  - changed-files:
      - any-glob-to-any-file: 'graphics/**'
      - any-glob-to-any-file: 'drivers/lcd/**'
      - any-glob-to-any-file: 'include/nuttx/lcd/**'

"Area: Memory Management":
  - changed-files:
      - any-glob-to-any-file: 'mm/**'
      - any-glob-to-any-file: 'include/nuttx/mm/**'

"Area: Networking":
  - changed-files:
      - any-glob-to-any-file: 'net/**'
      - any-glob-to-any-file: 'drivers/net/**'
      - any-glob-to-any-file: 'include/nuttx/net/**'

"Area: OS Components":
  - changed-files:
      - any-glob-to-any-file: 'sched/**'
      - any-glob-to-any-file: 'syscall/**'
      - any-glob-to-any-file: 'libs/**'

"Area: PCI":
  - changed-files:
      - any-glob-to-any-file: 'drivers/pci/**'
      - any-glob-to-any-file: 'include/nuttx/pci/**'

"Area: Sensors":
  - changed-files:
      - any-glob-to-any-file: 'drivers/sensors/**'
      - any-glob-to-any-file: 'include/nuttx/sensors/**'
      - any-glob-to-any-file: 'include/nuttx/uorb.h'

"Area: Tooling":
  - changed-files:
      - any-glob-to-any-file: 'tools/**'

"Area: USB":
  - changed-files:
      - any-glob-to-any-file: 'drivers/usbdev/**'
      - any-glob-to-any-file: 'drivers/usbhost/**'
      - any-glob-to-any-file: 'drivers/usbmisc/**'
      - any-glob-to-any-file: 'drivers/usbmonitor/**'
      - any-glob-to-any-file: 'include/nuttx/usb/**'

"Area: Video":
  - changed-files:
      - any-glob-to-any-file: 'video/**'
      - any-glob-to-any-file: 'drivers/video/**'
      - any-glob-to-any-file: 'include/nuttx/video/**'
