Repository apache/nuttx, pull requests merged in 2020-07, with the labels that each got.

#1336 syscall/prctl: fix PR_SET_NAME failure if without <pid> arg
  include/pthread.h
  include/sys/prctl.h
  sched/task/task_prctl.c
Labels: bug

#1319 Revert "sched/sched_releasetcb.c: Handle custom stack allocations.
  include/nuttx/sched.h
  sched/sched/sched_releasetcb.c
  sched/task/task_init.c
Labels: documentation

#1373 board/sim: Don't ignore any files under src/etc/ folder
  boards/sim/sim/sim/src/.gitignore
Labels: backport/9.1

#1376 tools/zipme.sh: Remove the option to exclude patterns based on the VCS' "ignore" file.
  tools/zipme.sh
Labels: backport/9.1

#1355 fs/vfs: Implement statvfs and fstatvfs
  include/sys/statvfs.h
  include/sys/types.h
  libs/libc/unistd/Make.defs
  libs/libc/unistd/lib_fstatvfs.c
  libs/libc/unistd/lib_statvfs.c
Labels: Standards
