Repository apache/nuttx, pull requests merged in 2020-10, with the labels that each got.

#1900 ARM stack fix: Same boundary calculation in do_stackcheck and stack_color.
  arch/arm/src/common/arm_checkstack.c
  arch/arm/src/common/arm_createstack.c
  arch/arm/src/common/arm_usestack.c
Labels: backport/10.0.0

#1996 tools/Config.mk: Don't set HOSTEXEEXT to .exe for Ubuntu on Windows
  tools/Config.mk
Labels: backport/10.0.0, backport/9.1

#2053 serial/termios: support custom baud rate setting
  include/termios.h
  libs/libc/termios/lib_cfspeed.c
Labels: backport/10.0.0

#2100 bt_netdev: remove invalid assert breaking build when debugging is enabled
  wireless/bluetooth/bt_netdev.c
Labels: backport/10.0.0

#2105 bt_hcicore.c: Fix wrong order of bt_send() and setting last command sent
  wireless/bluetooth/bt_hcicore.c
Labels: backport/10.0.0

#2115 Store artifacts durring build
  .github/workflows/build.yml
  boards/xtensa/esp32/esp32-core/scripts/Config.mk
  tools/Makefile.unix
  tools/Makefile.win
  tools/cxd56/Config.mk
  tools/testbuild.sh
Labels: build system, ci

#1997 Remove all fclose with stdin, stdout and stderr
  libs/libc/unistd/lib_daemon.c
Labels: backport/10.0.0
