Repository apache/nuttx, pull requests merged in 2024-11, with the labels that each got.

#14585 AUTHORS: add Felipe Moura Oliveira
  AUTHORS
Labels: Size: XS

#14587 sim: add note related configuration
  boards/sim/sim/sim/configs/note/defconfig
Labels: Size: S, Board: simulator

#14595 sys/socket: fix struct sockaddr_storage alignment issue
  include/sys/socket.h
Labels: Size: XS

#14584 docs: add nxboot documentation entry
  Documentation/applications/boot/nxboot/index.rst
Labels: Area: Documentation, Size: M

#14588 mm: fix tlsf compiler error
  mm/tlsf/mm_tlsf.c
Labels: Area: Memory Management, Size: XS

#14589 libc/unistd: fixed tasking build issue
  libs/libc/unistd/lib_getoptargp.c
  libs/libc/unistd/lib_getopterrp.c
  libs/libc/unistd/lib_getoptindp.c
  libs/libc/unistd/lib_getoptoptp.c
Labels: Area: OS Components, Size: XS

#14592 cmake:implement CMake build of xtensa arch
  arch/xtensa/CMakeLists.txt
  arch/xtensa/src/CMakeLists.txt
  arch/xtensa/src/cmake/Toolchain.cmake
  arch/xtensa/src/cmake/platform.cmake
  arch/xtensa/src/common/CMakeLists.txt
Labels: Arch: xtensa, Size: M

#14603 drivers: Fix the missing headers.
  drivers/audio/vs1053.c
  drivers/sensors/fxos8700cq.c
Labels: Area: Sensors, Size: XS, Area: Audio

#14602 CI: Enable builds for msys2, msvc, arm-08, arm-10, arm-13 for Complex PRs
  .github/workflows/arch.yml
Labels: Area: CI, Size: S

#14581 pthread_cond remove csection and sched_lock
  include/pthread.h
  libs/libc/pthread/pthread_condinit.c
  sched/pthread/pthread_condclockwait.c
  sched/pthread/pthread_condsignal.c
  sched/pthread/pthread_condwait.c
Labels: Area: OS Components, Size: S

#14605 libc/machine/CMakeLists: should alaways build arch_atomic.c
  libs/libc/machine/CMakeLists.txt
Labels: Area: OS Components, Size: XS

#13033 tcp:set NET_TCP_NPOLLWAITERS default value to 2 & add warning of different events having same event bit
  net/tcp/Kconfig
  net/tcp/tcp_netpoll.c
Labels: Area: Networking, Size: XS

#13056 Fix the bug and add tls cleanup in that netlink
  net/netlink/netlink.h
  net/netlink/netlink_conn.c
  net/netlink/netlink_notifier.c
Labels: Area: Networking, Size: XS

#14607 cmake(bugfix):add xtensa libc machine function build
  libs/libc/machine/xtensa/CMakeLists.txt
Labels: Area: OS Components, Size: S

#14608 Replace __attribute__((packed)) with [begin|end]_packed_struct
  boards/xtensa/esp32s3/esp32s3-box/src/esp32s3_board_touchsceen_gt911.c
  boards/xtensa/esp32s3/esp32s3-box/src/esp32s3_board_touchsceen_tt21100.c
  drivers/net/ksz9477_reg.h
  include/nuttx/lin.h
  include/sys/socket.h
Labels: Area: Networking, Area: OS Components, Size: S, Board: xtensa

#14610 Fix Error: implicit declaration of function 'enter_critical_section'
  arch/xtensa/src/esp32s3/esp32s3_efuse_lowerhalf.c
Labels: Arch: xtensa, Size: XS

#14612 cmake(build):add the specified armclang compiler to the cmake Toolchain file
  arch/arm/src/cmake/Toolchain.cmake
  arch/arm/src/cmake/armclang.cmake
  arch/arm/src/cmake/armv7-m.cmake
  arch/arm/src/cmake/armv7-m_armclang.cmake
Labels: Arch: arm, Size: M

#14613 remove nxsched_lock_irq/nxsched_unlock_irq
  drivers/serial/serial.c
  include/nuttx/sched.h
Labels: Area: OS Components, Size: S

#14604 fs/mnemofs: Fix open and rmdir return value and seek out of bounds.
  fs/mnemofs/mnemofs.c
  fs/mnemofs/mnemofs.h
  fs/mnemofs/mnemofs_fsobj.c
  fs/mnemofs/mnemofs_lru.c
Labels: Area: File System, Size: L

#14614 sched/misc/assert.c: don't compile dump_task logic if CONFIG_DEBUG_ALERT=n
  sched/misc/assert.c
Labels: Area: OS Components, Size: XS

#14616 .github/labeler.yml: add missing drivers label
  .github/labeler.yml
Labels: Area: CI, Size: S

#14615 cmake: don't include syslog files if CONFIG_SYSLOG=n
  drivers/syslog/CMakeLists.txt
Labels: Size: S

#14618 CI: Disable the CI Build on push to master branch
  .github/workflows/build.yml
Labels: Area: CI, Size: XS

#14611 fix regression caused by remove sync pause
  sched/sched/sched_roundrobin.c
Labels: Area: OS Components, Size: S

#14621 Pico SDK version bump + assimilate old READMEs into RST
  Documentation/platforms/arm/rp2040/boards/adafruit-feather-rp2040/README.txt
  Documentation/platforms/arm/rp2040/boards/adafruit-feather-rp2040/index.rst
  Documentation/platforms/arm/rp2040/boards/adafruit-kb2040/README.txt
  Documentation/platforms/arm/rp2040/boards/adafruit-kb2040/index.rst
  Documentation/platforms/arm/rp2040/boards/adafruit-qt-py-rp2040/README.txt
  Documentation/platforms/arm/rp2040/boards/adafruit-qt-py-rp2040/index.rst
  Documentation/platforms/arm/rp2040/boards/pimoroni-tiny2040/README.txt
  Documentation/platforms/arm/rp2040/boards/pimoroni-tiny2040/index.rst
  Documentation/platforms/arm/rp2040/boards/raspberrypi-pico-w/README.txt
  Documentation/platforms/arm/rp2040/boards/raspberrypi-pico-w/index.rst
  Documentation/platforms/arm/rp2040/boards/raspberrypi-pico/README.txt
  Documentation/platforms/arm/rp2040/boards/raspberrypi-pico/index.rst
  Documentation/platforms/arm/rp2040/boards/seeed-xiao-rp2040/README.txt
  Documentation/platforms/arm/rp2040/boards/seeed-xiao-rp2040/index.rst
  Documentation/platforms/arm/rp2040/boards/w5500-evb-pico/index.rst
  Documentation/platforms/arm/rp2040/boards/waveshare-rp2040-lcd-1.28/README.txt
  Documentation/platforms/arm/rp2040/boards/waveshare-rp2040-lcd-1.28/index.rst
  Documentation/platforms/arm/rp2040/index.rst
Labels: Area: Documentation, Size: XL

#14622 Document release process
  Documentation/contributing/index.rst
  Documentation/contributing/releases.rst
Labels: Area: Documentation, Size: L

#14518 CI: Check out the correct branch of nuttx repo when compiling nuttx-apps
  .github/workflows/build.yml
Labels: Area: CI, Size: XS

#14628 arm64: fix compile failed when build ELF apps
  arch/arm64/src/Toolchain.defs
Labels: Arch: arm64, Size: XS

#14619 timers: Replace DEBUGASSERT with the error code, reopen from #12484
  include/nuttx/timers/oneshot.h
  include/nuttx/timers/timer.h
Labels: Area: Drivers, Size: S

#14627 sched/sched: change the judgment condition for nxsched_set_affinity
  sched/sched/sched_setaffinity.c
Labels: Area: OS Components, Size: XS

#14633 x86_64: fix compile warning
  arch/x86_64/src/cmake/Toolchain.cmake
  arch/x86_64/src/common/Toolchain.defs
Labels: Arch: x86_64, Size: S

#14629 sched/wqueue: fix work_notifier_setup() false failure
  sched/wqueue/kwork_notifier.c
Labels: Area: OS Components, Size: S

#14624 cmake(bugfix):make sure the extra_lib only added once
  cmake/nuttx_add_library.cmake
Labels: Area: Build system, Size: S

#14636 netinet/if_ether.h: move #define ETH_XXX into if_ether.h
  include/netinet/if_ether.h
  include/nuttx/wireless/ieee80211/ieee80211.h
Labels: Area: Drivers, Size: S

#14631 sched: add header irq.h to exit.c
  sched/task/exit.c
Labels: Area: OS Components, Size: XS

#14638 AUTHORS: add missing authors with submitted ICLA
  AUTHORS
Labels: Size: S

#14635 macos: fix “sed: -I or -i may not be used with stdin”
  tools/Unix.mk
  tools/process_config.sh
Labels: Area: Tooling, Area: Build system, Size: XS

#14634 net: inet.h match inet_sockif.c definition
  include/nuttx/net/netconfig.h
  libs/libc/net/lib_indextoname.c
  libs/libc/net/lib_nametoindex.c
  net/inet/inet.h
  net/socket/net_sockif.c
Labels: Area: Networking, Area: OS Components, Size: S

#14600 libs/modlib: Load data using `up_textheap_data_address`
  libs/libc/modlib/modlib_load.c
Labels: Area: OS Components, Size: S

#14643 net/igc: Support Intel I226V.
  drivers/net/Kconfig
  drivers/net/igc.c
Labels: Area: Networking, Size: S

#14597 file_readv_compat/file_writev_compat: Fix partial success handling
  fs/vfs/fs_read.c
  fs/vfs/fs_write.c
Labels: Area: File System, Size: S

#14650 net: fix inet #14634 regression
  include/nuttx/net/netconfig.h
  net/inet/inet.h
  net/inet/inet_sockif.c
  net/socket/net_sockif.c
Labels: Area: Networking, Size: S

#14646 Enable DEV_PIPE_NPOLLWAITERS default value 4 for adapte APP
  drivers/pipes/Kconfig
Labels: Area: Drivers, Size: XS

#14655 binfmt: migrate to SPDX identifier
  binfmt/binfmt.h
  binfmt/builtin.c
  binfmt/elf.c
  binfmt/nxflat.c
Labels: Size: XS, Area: BINFMT

#14654 msys2: fix make[3]: warning: jobserver unavailable: using -j1.
  tools/ci/cibuild.sh
Labels: Area: Tooling, Area: CI, Size: XS

#14649 Remove all jira and changeid information from the kernel
  libs/libm/libmcs/0001-fix-build-error-remove-unused-file-fenv.h.patch
  libs/libm/libmcs/0002-fix-build-error-do-not-include-config.h.patch
  libs/libm/libmcs/0003-fix-build-error-INFINITY-error-in-quickjs.c.patch
  libs/libm/libmcs/0004-Fix-warning-function-declaration-isn-t-a-prototype-W.patch
  libs/libm/libmcs/0005-libm-libmcs-Fix-clang-build-libmcs-warning.patch
  libs/libm/newlib/0001-newlib-libm-fix-__RCSID-build-error.patch
  libs/libm/newlib/0002-newlib-libm-remove-include-reent.h.patch
  libs/libm/newlib/0003-newlib-fix-compilation-for-x86.patch
  libs/libm/newlib/0004-newlib-disable-optmisation-for-sincos.patch
  libs/libm/openlibm/0001-fix-build-float_t-error-float_t-has-not-been-declare.patch
  libs/libm/openlibm/0002-add-math.h-and-complex.h-to-openlibm.patch
  libs/libm/openlibm/0003-nuttx-openlibm-Fix-openlibm-M_PI-undeclared-error.patch
  openamp/0001-lib-errno.h-fix-compile-error.patch
  openamp/0001-ns-acknowledge-the-received-creation-message.patch
  openamp/0002-Negotiate-individual-buffer-size-dynamically.patch
  openamp/0002-libmetal-atomic-enable-64-bit-atomic-by-toolchain-bu.patch
  openamp/0003-atomic.h-fix-compiler-error.patch
  openamp/0003-rpmsg-notify-the-user-when-the-remote-address-is-rec.patch
  openamp/0004-lib-system-nuttx-fix-unused-parameter-compile-error.patch
  openamp/0004-openamp-virtio.h-negotiate_features-also-can-be-call.patch
  openamp/0005-libmetal-cmake-set-HAVE_STDATOMIC_H-default-true-in-.patch
  openamp/0005-remoteproc-rpmsg_virtio-change-sched_yeild-to-usleep.patch
  openamp/0006-lib-system-nuttx-io.c-include-stddef.h-in-nuttx-io.c.patch
  openamp/0006-rpmsg-wait-ept-ready-in-rpmsg_send.patch
  openamp/0007-openamp-add-VIRTIO_RING_F_MUST_NOTIFY-event.patch
  openamp/0008-rpmsg_virtio-don-t-need-check-status-when-get_tx_pay.patch
  openamp/0009-openamp-swap-get_rx_buffer-return_rx_buffer-to-resol.patch
  openamp/0010-rpmsg_virtio.c-virtqueue_kick-after-all-rx-buffer-re.patch
  openamp/0011-virtio-change-feature-to-64-bit-in-all-virtio_dispat.patch
  openamp/0012-rpmsg_virtio.c-fix-get_tx_payload_buffer-error.patch
  openamp/0013-openamp-add-assert-when-get-tx-buffer-failed.patch
  openamp/0014-virtio.h-add-memory-operation-for-virtio-device.patch
Labels: Area: OS Components, Size: S

#14647 nuttx/sim: Remove math.h in sim.
  arch/sim/include/math.h
  boards/sim/sim/sim/configs/libcxxtest/defconfig
  libs/libxx/0001-Fix-build-error-about-__GLIBC__.patch
  libs/libxx/libcxx.cmake
  libs/libxx/libcxx.defs
Labels: Arch: simulator, Area: OS Components, Size: S, Board: simulator

#14653 arch/arm64/imx9: Clear edma4 mux conf before set
  arch/arm64/src/imx9/imx9_edma.c
Labels: Arch: arm64, Size: XS

#14599 Adding STM32H5 arch files
  arch/arm/Kconfig
  arch/arm/include/stm32h5/chip.h
  arch/arm/include/stm32h5/irq.h
  arch/arm/include/stm32h5/stm32h5xx_irq.h
  arch/arm/src/stm32h5/Kconfig
  arch/arm/src/stm32h5/Make.defs
  arch/arm/src/stm32h5/chip.h
  arch/arm/src/stm32h5/hardware/stm32_crs.h
  arch/arm/src/stm32h5/hardware/stm32_dbgmcu.h
  arch/arm/src/stm32h5/hardware/stm32_flash.h
  arch/arm/src/stm32h5/hardware/stm32_gpio.h
  arch/arm/src/stm32h5/hardware/stm32_i2c.h
  arch/arm/src/stm32h5/hardware/stm32_memorymap.h
  arch/arm/src/stm32h5/hardware/stm32_pinmap.h
  arch/arm/src/stm32h5/hardware/stm32_pwr.h
  arch/arm/src/stm32h5/hardware/stm32_rcc.h
  arch/arm/src/stm32h5/hardware/stm32_uart.h
  arch/arm/src/stm32h5/hardware/stm32h56xxx_pinmap.h
  arch/arm/src/stm32h5/hardware/stm32h5xxx_flash.h
  arch/arm/src/stm32h5/hardware/stm32h5xxx_gpio.h
  arch/arm/src/stm32h5/hardware/stm32h5xxx_i2c.h
  arch/arm/src/stm32h5/hardware/stm32h5xxx_memorymap.h
  arch/arm/src/stm32h5/hardware/stm32h5xxx_pwr.h
  arch/arm/src/stm32h5/hardware/stm32h5xxx_rcc.h
  arch/arm/src/stm32h5/hardware/stm32h5xxx_uart.h
  arch/arm/src/stm32h5/stm32.h
  arch/arm/src/stm32h5/stm32_flash.h
  boards/Kconfig
Labels: Arch: arm, Size: XL

#14656 smpcall: add nxsched_smp_call_async and nxsched_smp_call_single_async
  include/nuttx/sched.h
  libs/libc/gdbstub/lib_gdbstub.c
  sched/misc/assert.c
  sched/sched/sched_backtrace.c
  sched/sched/sched_profil.c
  sched/sched/sched_roundrobin.c
  sched/sched/sched_setpriority.c
  sched/sched/sched_smp.c
  sched/sched/sched_suspend.c
  sched/signal/sig_dispatch.c
  sched/task/task_restart.c
  sched/task/task_terminate.c
Labels: Area: OS Components, Size: M

#14664 ci: Fix ci problem
  arch/xtensa/src/esp32/esp32_spiram.c
  arch/xtensa/src/esp32s3/esp32s3_spiram.c
Labels: Arch: xtensa, Size: S

#13346 crypto: migrate to SPDX identifier
  crypto/CMakeLists.txt
  crypto/Makefile
  crypto/aes.c
  crypto/blake2s.c
  crypto/blf.c
  crypto/bn.c
  crypto/cast.c
  crypto/castsb.h
  crypto/chacha_private.h
  crypto/chachapoly.c
  crypto/cmac.c
  crypto/crypto.c
  crypto/cryptodev.c
  crypto/cryptosoft.c
  crypto/curve25519.c
  crypto/des_locl.h
  crypto/ecb3_enc.c
  crypto/ecb_enc.c
  crypto/gmac.c
  crypto/hmac.c
  crypto/hmac_buff.c
  crypto/idgen.c
  crypto/key_wrap.c
  crypto/md5.c
  crypto/podd.h
  crypto/poly1305.c
  crypto/random_pool.c
  crypto/rijndael.c
  crypto/rmd160.c
  crypto/set_key.c
  crypto/sha1.c
  crypto/sha2.c
  crypto/siphash.c
  crypto/sk.h
  crypto/spr.h
  crypto/testmngr.c
  crypto/testmngr.h
Labels: Size: M, Area: Crypto

#14665 nuttx/uorb.h: Add GNSS firmware version for `struct sensor_gnss`
  include/nuttx/uorb.h
Labels: Area: OS Components, Area: Sensors, Size: XS

#14671 arch/arm64/src/common/arm64_fatal.c: Fix compilation warning with -We…
  arch/arm64/src/common/arm64_fatal.c
Labels: Arch: arm64, Size: S

#14667 drivers/pipes: return after short write if buffer is full
  drivers/pipes/pipe_common.c
Labels: Area: Drivers, Size: M

#14663 smpcall: we directly call the function to handle local smpcall
  sched/sched/sched_smp.c
Labels: Area: OS Components, Size: S

#14676 arch/stm32h5: H5 add ethernet options to Kconfig
  arch/arm/src/stm32h5/Kconfig
Labels: Arch: arm, Size: M

#14678 Support for the Seeed Studio XIAO SAMD21
  Documentation/platforms/arm/samd2l2/boards/xiao-seeeduino/index.rst
  Documentation/platforms/arm/samd2l2/boards/xiao-seeeduino/seeed-xiao-samd21.jpg
  boards/Kconfig
  boards/arm/samd2l2/xiao-seeeduino/Kconfig
  boards/arm/samd2l2/xiao-seeeduino/configs/nsh/defconfig
  boards/arm/samd2l2/xiao-seeeduino/include/board.h
  boards/arm/samd2l2/xiao-seeeduino/scripts/Make.defs
  boards/arm/samd2l2/xiao-seeeduino/scripts/flash.ld
  boards/arm/samd2l2/xiao-seeeduino/src/Makefile
  boards/arm/samd2l2/xiao-seeeduino/src/sam_appinit.c
  boards/arm/samd2l2/xiao-seeeduino/src/sam_autoleds.c
  boards/arm/samd2l2/xiao-seeeduino/src/sam_boot.c
  boards/arm/samd2l2/xiao-seeeduino/src/xiao-seeeduino.h
Labels: Area: Documentation, Size: XL, Board: arm

#14677 Fix STM32H5 Serial APB Clock Sources
  arch/arm/src/stm32h5/stm32_serial.c
Labels: Arch: arm, Size: XS

#14674 crypto/se05x: Allow set_enable_pin to be NULL and fix error handling
  drivers/crypto/pnt/pnt_se05x_api.c
  drivers/crypto/se05x.c
Labels: Size: S, Area: Crypto

#14673 fs: add merge partitions support
  fs/driver/CMakeLists.txt
  fs/driver/Make.defs
  fs/driver/fs_blockmerge.c
  include/nuttx/fs/fs.h
Labels: Area: File System, Size: M

#14648 arch/arm64: add have fork config
  arch/Kconfig
Labels: Size: XS

#14685 imx9/flexcan: Add disable/enable cycle
  arch/arm64/src/imx9/imx9_flexcan.c
Labels: Arch: arm64, Size: S

#14684 Imx9 flexspi updates
  arch/arm64/src/imx9/imx9_flexspi.c
  arch/arm64/src/imx9/imx9_flexspi_nor.c
Labels: Arch: arm64, Size: M

#14575 mm/mm_gran: fix compile warnings
  mm/mm_gran/mm_grantable.c
Labels: Area: Memory Management, Size: XS

#14689 arch/arm64: Optimized SGI to avoid VM exit.
  arch/arm64/src/common/arm64_gicv3.c
Labels: Arch: arm64, Size: XS

#14691 tools/ci/platforms/darwin.sh: Port NuttX CI Job to macOS-14
  tools/ci/platforms/darwin.sh
Labels: Area: Tooling, Area: CI, Size: S

#14686 isrthread: add configuring the stack of an isrthread as static
  include/nuttx/wqueue.h
  sched/Kconfig
  sched/irq/CMakeLists.txt
  sched/irq/Make.defs
  sched/irq/irq_attach_wqueue.c
  sched/wqueue/kwork_thread.c
Labels: Area: OS Components, Size: S

#14668 libxx: All cxx libraries move down one level
  libs/libxx/.gitignore
  libs/libxx/CMakeLists.txt
  libs/libxx/Makefile
  libs/libxx/etl/Make.defs
  libs/libxx/libcxx.cmake
  libs/libxx/libcxx/.gitignore
  libs/libxx/libcxx/0001-Fix-build-error-about-__GLIBC__.patch
  libs/libxx/libcxx/0001-libcxx-fix-ld-errors.patch
  libs/libxx/libcxx/0001-libcxx-remove-mach-time-h.patch
  libs/libxx/libcxx/0001_fix_stdatomic_h_miss_typedef.patch
  libs/libxx/libcxx/CMakeLists.txt
  libs/libxx/libcxx/Make.defs
  libs/libxx/libcxx/mbstate_t.patch
  libs/libxx/libcxxabi.cmake
  libs/libxx/libcxxabi/.gitignore
  libs/libxx/libcxxabi/0001-libcxxabi-Fix-build-warnings-generated-by-CMake-comp.patch
  libs/libxx/libcxxabi/0002-libcxxabi-fix-compilation-errors.patch
  libs/libxx/libcxxabi/CMakeLists.txt
  libs/libxx/libcxxabi/Make.defs
  libs/libxx/libcxxmini/CMakeLists.txt
  libs/libxx/libcxxmini/Make.defs
  libs/libxx/uClibc++.cmake
  libs/libxx/uClibc++/.gitignore
  libs/libxx/uClibc++/0001-uClibcxx-basic_definitions-fix-GCC-specific-definiti.patch
  libs/libxx/uClibc++/0001-uclibxx-use-overload-constructor-of-filebuf-ostream.patch
  libs/libxx/uClibc++/CMakeLists.txt
  libs/libxx/uClibc++/Make.defs
  libs/libxx/uClibc++/system_configuration.h
Labels: Area: OS Components, Size: L

#14700 riscv_syscall.S: Fix a massive bug in syscall dispatch logic
  arch/risc-v/src/common/supervisor/riscv_syscall.S
Labels: Arch: risc-v, Size: XS

#14705 libs/uClibc++: Fix the Download URL for uClibc++
  libs/libxx/uClibc++/Make.defs
Labels: Area: OS Components, Size: XS

#14706 libs/uClibc++: Fix the Download URL for uClibc++ (CMake)
  libs/libxx/uClibc++/CMakeLists.txt
Labels: Area: OS Components, Size: XS

#14707 Update BOARD_USExxx naming, input clock selection, and setting of HSIDIV
  arch/arm/src/stm32h5/stm32h5xx_rcc.c
Labels: Arch: arm, Size: S

#14698 tcp: fix tcp can not retransmit timely when ACK with TCP_NEWDATA
  net/tcp/tcp_send_buffered.c
Labels: Area: Networking, Size: S

#14703 cmake(bugfix):fix directory not being successfully added when adding romfs
  cmake/nuttx_add_romfs.cmake
Labels: Area: Build system, Size: S

#14702 fs/vfs: Fix initialization of `g_pseudofile_ops`
  fs/vfs/fs_pseudofile.c
Labels: Area: File System, Size: XS

#14692 arch/stm32h5: Add ethernet hardware support files
  arch/arm/src/stm32h5/hardware/stm32_ethernet.h
  arch/arm/src/stm32h5/hardware/stm32_sbs.h
  arch/arm/src/stm32h5/hardware/stm32h56xxx_pinmap.h
  arch/arm/src/stm32h5/stm32_gpio.h
  boards/arm/stm32h5/nucleo-h563zi/include/board.h
Labels: Arch: arm, Size: XL, Board: arm

#14696 makefile/build: Delete unnecessary bin and kbin folders
  libs/libc/Makefile
  libs/libc/bin/CMakeLists.txt
  libs/libc/bin/Makefile
  libs/libc/kbin/CMakeLists.txt
  libs/libc/kbin/Makefile
  libs/libm/Makefile
  libs/libm/bin/Makefile
  libs/libm/kbin/Makefile
  libs/libnx/Makefile
  libs/libnx/bin/CMakeLists.txt
  libs/libnx/bin/Makefile
  libs/libnx/kbin/CMakeLists.txt
  libs/libnx/kbin/Makefile
  mm/Makefile
  mm/bin/CMakeLists.txt
  mm/bin/Makefile
  mm/kbin/CMakeLists.txt
  mm/kbin/Makefile
  tools/Directories.mk
Labels: Area: Tooling, Area: Build system, Area: Memory Management, Area: OS Components, Size: S

#14710 Doc: migration 5
  Documentation/components/net/delay_act_and_tcp_perf.rst
  Documentation/components/net/index.rst
  Documentation/components/net/tcp_network_perf.rst
  Documentation/components/nxgraphics/GraphicsInterfaces.png
  Documentation/components/nxgraphics/framebuffer_char_driver.rst
  Documentation/components/nxgraphics/index.rst
  Documentation/components/nxgraphics/nxwm_threading.rst
  Documentation/components/nxgraphics/nxwm_threading_model/nxwm_theading_model_page_0.png
  Documentation/components/nxgraphics/nxwm_threading_model/nxwm_theading_model_page_1.png
  Documentation/components/nxgraphics/nxwm_threading_model/nxwm_theading_model_page_2.png
  Documentation/components/nxgraphics/nxwm_threading_model/nxwm_theading_model_page_3.png
  Documentation/components/nxgraphics/nxwm_threading_model/nxwm_theading_model_page_4.png
Labels: Area: Documentation, Size: L

#14679 libbuiltin/Makefile: Modify the libbuiltin makefile to standard
  libs/libbuiltin/Makefile
  libs/libbuiltin/bin/Makefile
  libs/libbuiltin/compiler-rt/Make.defs
  libs/libbuiltin/kbin/Makefile
  tools/Directories.mk
Labels: Area: Tooling, Area: Build system, Area: OS Components, Size: S

#14712 arm/phy6222: Fix the garbled Linker Script
  boards/arm/phy62xx/phy6222/scripts/flash.ld
Labels: Size: XS, Board: arm

#14549 Bluetooth: improved pairing process and host layer now successfully receives ACL packets
  arch/xtensa/src/esp32/Kconfig
  include/nuttx/wireless/bluetooth/bt_hci.h
  wireless/bluetooth/Kconfig
  wireless/bluetooth/bt_conn.c
  wireless/bluetooth/bt_hcicore.c
Labels: Area: Bluetooth, Arch: xtensa, Area: Drivers, Size: M

#14714 Doc: migration filesystem doc
  Documentation/components/filesystem/how_nxffs_works.rst
  Documentation/components/filesystem/index.rst
  Documentation/components/filesystem/nuttxfs.rst
  Documentation/components/filesystem/nuttxfs/nuttxfs_page_0.png
  Documentation/components/filesystem/nuttxfs/nuttxfs_page_1.png
  Documentation/components/filesystem/nuttxfs/nuttxfs_page_2.png
  Documentation/components/filesystem/nuttxfs/nuttxfs_page_3.png
  Documentation/components/filesystem/nxffs.rst
  Documentation/components/filesystem/nxffs/nxffs_page_0.png
  Documentation/components/filesystem/nxffs/nxffs_page_1.png
  Documentation/components/filesystem/nxffs/nxffs_page_2.png
  Documentation/components/filesystem/nxflat.rst
  Documentation/components/filesystem/nxflat/nxflat-addressing.png
  Documentation/components/filesystem/pseudofs.rst
  Documentation/components/filesystem/special_files_dev_num.rst
Labels: Area: Documentation, Size: L

#14709 tools/rp2040: Building picotool if necessary
  tools/rp2040/Config.mk
Labels: Area: Tooling, Size: S

#14606 fix macos sim nsh break, fix no -mcmodel=medium in clang.
  boards/sim/sim/sim/scripts/Make.defs
Labels: Size: XS, Board: simulator

#14720 boards/esp32c3-legacy: Add missing include to esp32c3_boot.c
  boards/risc-v/esp32c3-legacy/esp32c3-devkit-rust-1/src/esp32c3_boot.c
  boards/risc-v/esp32c3-legacy/esp32c3-devkit/src/esp32c3_boot.c
Labels: Size: XS, Board: risc-v

#14716 fix compiler error when CONFIG_CLOCK_TIMEKEEPING=y
  include/nuttx/wdog.h
  sched/sched/sched_processtimer.c
Labels: Area: OS Components, Size: XS

#14718 GreenHills support: fix the naked_function function non-compatible issue with arm_svcall
  arch/arm/src/armv6-m/arm_svcall.c
  arch/arm/src/armv7-a/arm_syscall.c
  arch/arm/src/armv7-m/arm_svcall.c
  arch/arm/src/armv7-r/arm_syscall.c
  arch/arm/src/armv8-m/arm_svcall.c
  arch/arm/src/armv8-r/arm_syscall.c
Labels: Arch: arm, Size: M

#14721 nuttx/qemu: Fix funciton up_idle multiple definition
  arch/arm/src/qemu/CMakeLists.txt
Labels: Arch: arm, Size: XS

#14717 GreenHills Support: add __ARM_ARCH, __ARM_FEATURE_DSP macro definition when build with ghs compiler
  arch/arm/include/armv6-m/irq.h
  arch/arm/include/armv7-a/irq.h
  arch/arm/include/armv7-m/irq.h
  arch/arm/include/armv7-r/irq.h
  arch/arm/include/armv8-m/irq.h
  arch/arm/include/armv8-r/irq.h
  arch/arm/include/irq.h
  arch/arm64/include/irq.h
Labels: Arch: arm, Arch: arm64, Size: S

#14719 GreenHills support: fix the naked_function attr cannot handle warning with old version GHS compiler
  include/nuttx/compiler.h
Labels: Area: OS Components, Size: XS

#14724 riscv: Suppress LOAD RWX linker warning
  arch/risc-v/src/cmake/Toolchain.cmake
  arch/risc-v/src/common/Toolchain.defs
Labels: Arch: risc-v, Size: S

#14722 SYSLOG_DEFAULT: wrap up_putc/up_nputs calls with critical section
  drivers/serial/serial.c
  drivers/syslog/syslog_channel.c
Labels: Area: Drivers, Size: S

#14725 gprof: Add a configuration dependency
  sched/Kconfig
Labels: Area: OS Components, Size: XS

#14681 arch_atomic : Introduce CONFIG_LIBC_ARCH_ATOMIC
  arch/arm/Kconfig
  include/nuttx/atomic.h
  include/nuttx/lib/stdatomic.h
  include/nuttx/macro.h
  libs/libc/machine/Kconfig
  libs/libc/machine/arch_atomic.c
Labels: Arch: arm, Area: OS Components, Size: L

#14729 drivers/misc: fix rpmsgdev read overflow
  drivers/misc/rpmsgdev.c
Labels: Area: Drivers, Size: XS

#14733 rammtd:add rammtd_uninitialize
  drivers/mtd/rammtd.c
  include/nuttx/mtd/mtd.h
Labels: Area: Drivers, Size: S

#14728 drivers/misc: fix rpmsg dev poll assert crash
  drivers/misc/rpmsgdev_server.c
Labels: Area: Drivers, Size: S

#14727 net:Compatible with cellular network cards of lladdr generation
  net/icmpv6/icmpv6_linkipaddr.c
Labels: Area: Networking, Size: S

#14734 v9fs/CMakeLists.txt:Fix the problem that virtio-9p is not compiled
  fs/v9fs/CMakeLists.txt
Labels: Area: File System, Size: XS

#14737 Fix typo errors in include/nuttx/clock.h
  include/nuttx/clock.h
Labels: Area: OS Components, Size: XS

#14736 Remove "dumprun" functions from various LCD drivers
  boards/arm/sam34/sam4e-ek/src/sam_ili9325.c
  boards/arm/sam34/sam4e-ek/src/sam_ili9341.c
  boards/arm/samv7/samv71-xult/src/sam_ili9488.c
  boards/arm/stm32/shenzhou/src/stm32_ili93xx.c
  boards/arm/stm32/stm3210e-eval/src/stm32_lcd.c
  boards/arm/stm32/stm3220g-eval/src/stm32_lcd.c
  boards/arm/stm32/stm3240g-eval/src/stm32_lcd.c
  drivers/lcd/mio283qt2.c
  drivers/lcd/mio283qt9a.c
  drivers/lcd/ra8875.c
  drivers/lcd/ssd1289.c
Labels: Area: Drivers, Size: M, Area: Graphics, Board: arm

#14730 arch/arm64: bug fix,arm64_fatal_handler need regs parms
  arch/arm64/src/common/arm64_vectors.S
Labels: Arch: arm64, Size: XS

#14732 modlib:need add ctors to init_array and dtors to fini_array
  libs/libc/modlib/gnu-elf.ld
Labels: Area: OS Components, Size: XS

#14741 arch/risc-v: Add ARCH_HAVE_RAMFUNCS option for ESP32-C3
  arch/risc-v/Kconfig
Labels: Arch: risc-v, Size: XS

#14747 cmake(enhance):add NuttX CMake extensions module
  CMakeLists.txt
  cmake/nuttx_add_application.cmake
  cmake/nuttx_add_dependencies.cmake
  cmake/nuttx_extensions.cmake
Labels: Area: Build system, Size: M

#14748 arm/olimex-stm32-p407: Fix kmodule board profile
  boards/arm/stm32/olimex-stm32-p407/scripts/memory.ld
Labels: Size: XS, Board: arm

#14745 Revert "arch_atomic : Introduce CONFIG_LIBC_ARCH_ATOMIC"
  arch/arm/Kconfig
  include/nuttx/atomic.h
  include/nuttx/lib/stdatomic.h
  include/nuttx/macro.h
  libs/libc/machine/Kconfig
  libs/libc/machine/arch_atomic.c
Labels: Arch: arm, Area: OS Components, Size: L

#14750 arm/rp2040: Add support for Waveshare RP2040 Zero board
  Documentation/platforms/arm/rp2040/boards/waveshare-rp2040-zero/WaveshareRP2040Zero.png
  Documentation/platforms/arm/rp2040/boards/waveshare-rp2040-zero/index.rst
  boards/Kconfig
  boards/arm/rp2040/waveshare-rp2040-zero/Kconfig
  boards/arm/rp2040/waveshare-rp2040-zero/configs/gpio/defconfig
  boards/arm/rp2040/waveshare-rp2040-zero/configs/nsh/defconfig
  boards/arm/rp2040/waveshare-rp2040-zero/configs/usbnsh/defconfig
  boards/arm/rp2040/waveshare-rp2040-zero/configs/ws2812/defconfig
  boards/arm/rp2040/waveshare-rp2040-zero/include/board.h
  boards/arm/rp2040/waveshare-rp2040-zero/include/rp2040_i2cdev.h
  boards/arm/rp2040/waveshare-rp2040-zero/include/rp2040_i2sdev.h
  boards/arm/rp2040/waveshare-rp2040-zero/include/rp2040_spidev.h
  boards/arm/rp2040/waveshare-rp2040-zero/include/rp2040_spisd.h
  boards/arm/rp2040/waveshare-rp2040-zero/scripts/Make.defs
  boards/arm/rp2040/waveshare-rp2040-zero/scripts/waveshare-rp2040-zero-flash.ld
  boards/arm/rp2040/waveshare-rp2040-zero/scripts/waveshare-rp2040-zero-sram.ld
  boards/arm/rp2040/waveshare-rp2040-zero/src/Make.defs
  boards/arm/rp2040/waveshare-rp2040-zero/src/rp2040_appinit.c
  boards/arm/rp2040/waveshare-rp2040-zero/src/rp2040_boardinitialize.c
  boards/arm/rp2040/waveshare-rp2040-zero/src/rp2040_bringup.c
  boards/arm/rp2040/waveshare-rp2040-zero/src/rp2040_gpio.c
  boards/arm/rp2040/waveshare-rp2040-zero/src/rp2040_pico.h
Labels: Area: Documentation, Size: XL, Board: arm

#14751 Revert "SYSLOG_DEFAULT: wrap up_putc/up_nputs calls with critical sec…
  drivers/serial/serial.c
  drivers/syslog/syslog_channel.c
Labels: Area: Drivers, Size: S

#14752 fs_automount:fix ci break
  fs/mount/fs_automount.c
Labels: Area: File System, Size: XS

#14754 risc-v and xtensa Kconfig : Remove LIBC_ARCH_ATOMIC
  arch/risc-v/Kconfig
  arch/xtensa/Kconfig
Labels: Arch: risc-v, Arch: xtensa, Size: XS

#14739 arch/arm64: syscall SYS_switch_context and SYS_restore_context use tcb as parm
  arch/arm64/include/irq.h
  arch/arm64/src/common/arm64_exit.c
  arch/arm64/src/common/arm64_internal.h
  arch/arm64/src/common/arm64_sigdeliver.c
  arch/arm64/src/common/arm64_syscall.c
Labels: Arch: arm64, Size: S

#14687 boards/arm64/imx9/imx93-evk: add trdc header
  arch/arm64/src/imx9/Make.defs
  arch/arm64/src/imx9/hardware/imx93/imx93_memorymap.h
  arch/arm64/src/imx9/hardware/imx9_trdc.h
  arch/arm64/src/imx9/imx9_boot.c
  arch/arm64/src/imx9/imx9_trdc.c
  arch/arm64/src/imx9/imx9_trdc.h
  boards/arm64/imx9/imx93-evk/include/imx9_trdc_config.h
Labels: Arch: arm64, Size: XL, Board: arm64

#14760 xtensa: use up_interrupt_context() to determine if in interrupt context
  arch/xtensa/src/common/xtensa_switchcontext.c
Labels: Arch: xtensa, Size: XS

#14762 boards/stm32f103-minimum: fix unaligned pointer to .data section in ld.script
  boards/arm/stm32/stm32f103-minimum/scripts/ld.script
Labels: Size: XS, Board: arm

#14763 fs/procfs: The procfsversion should be under control of `FS_PROCFS_EXCLUDE_VERSION`
  fs/procfs/fs_procfsversion.c
Labels: Area: File System, Size: XS

#14767 sim:nsh: Enable `PIPES` to make nsh pipeline available
  boards/sim/sim/sim/configs/nsh/defconfig
Labels: Size: XS, Board: simulator

#14757 cmake(bugfix):remove no need target_link_library in static target
  cmake/nuttx_add_application.cmake
Labels: Area: Build system, Size: XS

#14765 riscv/espressif/bootloader/mcuboot: Sign image with MCUBoot version
  arch/risc-v/src/common/espressif/Kconfig
  tools/espressif/Config.mk
Labels: Area: Tooling, Arch: risc-v, Size: XS

#14768 arch/stm32h5: Add ADC hardware register file
  arch/arm/src/stm32h5/hardware/stm32_adc.h
Labels: Arch: arm, Size: L

#14769 STM32H5 I2C Driver
  arch/arm/src/stm32h5/Kconfig
  arch/arm/src/stm32h5/Make.defs
  arch/arm/src/stm32h5/hardware/stm32h56xxx_pinmap.h
  arch/arm/src/stm32h5/hardware/stm32h5xxx_i2c.h
  arch/arm/src/stm32h5/stm32.h
  arch/arm/src/stm32h5/stm32_i2c.c
  arch/arm/src/stm32h5/stm32_i2c.h
Labels: Arch: arm, Size: XL

#14770 Add arm64 support for gdbserver.py tool
  tools/gdbserver.py
Labels: Area: Tooling, Size: S

#14776 mps3-an547:ap: Disable cmd_wait() as it depends on procfs currently
  boards/arm/mps/mps3-an547/configs/ap/defconfig
Labels: Size: XS, Board: arm

#14779 arch/toolchain: Add toolchain gcc
  arch/Kconfig
  arch/arm/Kconfig
  arch/arm64/Kconfig
  arch/xtensa/Kconfig
Labels: Arch: arm, Arch: arm64, Arch: xtensa, Size: S

#14784 Documentation: migrate qemu-armv7a/README.txt to rst
  Documentation/platforms/arm/qemu/boards/qemu-armv7a/README.txt
  Documentation/platforms/arm/qemu/boards/qemu-armv7a/index.rst
Labels: Area: Documentation, Size: M

#14780 cmake(bugfix):fix libcxx build error cause by layout changed
  libs/libxx/libcxx/CMakeLists.txt
  libs/libxx/libcxxabi/CMakeLists.txt
Labels: Area: OS Components, Size: S

#14791 boards/x86_64/intel64/qemu-intel64: add jumbo configuration
  boards/x86_64/intel64/qemu-intel64/configs/jumbo/defconfig
  boards/x86_64/intel64/qemu-intel64/configs/smp/defconfig
Labels: Size: S, Board: x86_64

#14789 gdbstub:typo fix
  libs/libc/gdbstub/lib_gdbstub.c
Labels: Area: OS Components, Size: XS

#14786 pthread_cond_broadcast use wait_count for judement
  include/pthread.h
  libs/libc/pthread/pthread_condinit.c
  sched/pthread/pthread_condbroadcast.c
  sched/pthread/pthread_condclockwait.c
  sched/pthread/pthread_condsignal.c
  sched/pthread/pthread_condwait.c
Labels: Area: OS Components, Size: S

#14795 arch/arm/src/samv7/sam_afec.c: AFEC1 actually has 12 physical inputs
  arch/arm/src/samv7/sam_afec.c
Labels: Arch: arm, Size: S

#14787 arm64/imx9: add imx93-evk ddr training
  arch/arm64/src/imx9/Kconfig
  arch/arm64/src/imx9/Make.defs
  arch/arm64/src/imx9/ddr/.gitignore
  arch/arm64/src/imx9/ddr/Make.defs
  arch/arm64/src/imx9/ddr/hardware/imx9_ddr_training.h
  arch/arm64/src/imx9/ddr/imx9_ddr_training.c
  arch/arm64/src/imx9/ddr/imx9_ddr_training.h
  arch/arm64/src/imx9/imx9_boot.c
  boards/arm64/imx9/imx93-evk/configs/bootloader/defconfig
  boards/arm64/imx9/imx93-evk/include/imx9_ddr_training.h
  boards/arm64/imx9/imx93-evk/scripts/ocramboot.ld
Labels: Arch: arm64, Size: XL, Board: arm64

#14800 build(bugfix):pac sim elf ONLY in Linux platform
  boards/sim/sim/sim/scripts/Make.defs
Labels: Size: S, Board: simulator

#14797 sim/configs/rpserver/rpproxy_virtio: Change the sim 32bit to 64bit compilation
  boards/sim/sim/sim/configs/rpproxy_virtio/defconfig
  boards/sim/sim/sim/configs/rpserver_virtio/defconfig
  drivers/ioexpander/ioe_rpmsg.c
Labels: Area: Drivers, Size: XS, Board: simulator

#14803 arch_atomic : Introduce CONFIG_LIBC_ARCH_ATOMIC
  arch/arm/Kconfig
  arch/arm/src/common/Toolchain.defs
  include/nuttx/lib/stdatomic.h
  include/nuttx/macro.h
  libs/libc/machine/Kconfig
  libs/libc/machine/arch_atomic.c
Labels: Arch: arm, Area: OS Components, Size: L

#14798 libc/misc: do not sanitize backtrace_format
  libs/libc/misc/lib_backtrace.c
Labels: Area: OS Components, Size: XS

#14626 pthread: remove enter_critical_section in pthread_barrier_wait
  include/pthread.h
  libs/libc/pthread/pthread_barrierinit.c
  sched/pthread/pthread_barrierwait.c
Labels: Area: OS Components, Size: S

#14802 segger/stream_rtt: fix warning after stream update
  drivers/segger/stream_rtt.c
Labels: Area: Drivers, Size: S

#14809 can/sja100: leave critical section properly
  drivers/can/sja1000.c
Labels: Area: Drivers, Size: XS

#14806 Revert "system: pthread_barrierwait should be moved to kernel space"
  include/sys/syscall_lookup.h
  libs/libc/pthread/CMakeLists.txt
  libs/libc/pthread/Make.defs
  libs/libc/pthread/pthread_barrierwait.c
  sched/pthread/CMakeLists.txt
  sched/pthread/Make.defs
  syscall/syscall.csv
Labels: Area: OS Components, Size: S

#14813 arch/stm32h5: Simplify PLL configuration.
  arch/arm/src/stm32h5/stm32h5xx_rcc.c
  boards/arm/stm32h5/nucleo-h563zi/include/board.h
Labels: Arch: arm, Size: M, Board: arm

#14799 lib_pathbuffer: change nxmutex -> spinlock
  libs/libc/misc/lib_pathbuffer.c
Labels: Area: OS Components, Size: S

#14812 in smp_call handle we only change TCB_FLAG_CPU_LOCKED bit of tcb->flag
  sched/sched/sched_backtrace.c
  sched/sched/sched_setpriority.c
  sched/sched/sched_suspend.c
  sched/signal/sig_dispatch.c
  sched/task/task_restart.c
Labels: Area: OS Components, Size: S

#14815 sched/misc/assert.c: don't compile dump_assert_info logic if CONFIG_DEBUG_ALERT=n
  sched/misc/assert.c
Labels: Area: OS Components, Size: S

#14814 remove sched_lock in pthread_cond_broadcast
  sched/pthread/pthread_condbroadcast.c
Labels: Area: OS Components, Size: S

#14764 mm/iob: remove csection
  mm/iob/iob.h
  mm/iob/iob_add_queue.c
  mm/iob/iob_alloc.c
  mm/iob/iob_alloc_qentry.c
  mm/iob/iob_free.c
  mm/iob/iob_free_qentry.c
  mm/iob/iob_free_queue_qentry.c
  mm/iob/iob_initialize.c
  mm/iob/iob_navail.c
  mm/iob/iob_remove_queue.c
  mm/iob/iob_statistics.c
Labels: Area: Memory Management, Size: M

#14817 drivers/adc: Rename up_ads1255initialize to ads1255_initialize
  drivers/analog/ads1255.c
  include/nuttx/analog/adc.h
Labels: Area: Drivers, Size: S

#14818 Fix timers/arch_alarm.c:109:3: error: 'now' may be used uninitialized
  drivers/timers/arch_alarm.c
Labels: Area: Drivers, Size: XS

#14824 arm64: remove unused code
  arch/arm64/src/common/arm64_cpustart.c
Labels: Arch: arm64, Size: XS

#14826 Revert "sim/m64:Fix ld error."
  boards/sim/sim/sim/scripts/Make.defs
Labels: Size: XS, Board: simulator
