Repository apache/nuttx, pull requests merged in 2024-10, with the labels that each got.

#13749 x86_64: we should call x86_64_restorestate/x86_64_savestate
  arch/x86_64/src/intel64/intel64_cpupause.c
Labels: Arch: x86_64, Size: XS

#13770 include/sys/select.h: Define __SELECT_NUINT32 in generic way
  include/sys/select.h
Labels: Size: S

#13766 xtensa: add parameters to xtensa_pause_handler
  arch/xtensa/src/common/xtensa.h
  arch/xtensa/src/common/xtensa_cpupause.c
  arch/xtensa/src/esp32/esp32_intercpu_interrupt.c
  arch/xtensa/src/esp32s3/esp32s3_intercpu_interrupt.c
Labels: Arch: xtensa, Size: S

#13627 greenhills: add cmake support
  CMakeLists.txt
  arch/arm/src/cmake/Toolchain.cmake
  arch/arm/src/cmake/armv7-m.cmake
  arch/arm/src/cmake/armv7-m_clang.cmake
  arch/arm/src/cmake/armv7-m_gcc.cmake
  arch/arm/src/cmake/armv7-m_ghs.cmake
  arch/arm/src/cmake/clang.cmake
  arch/arm/src/cmake/gcc.cmake
  arch/arm/src/cmake/ghs.cmake
  arch/arm/src/cmake/platform.cmake
  arch/arm64/src/cmake/Toolchain.cmake
  arch/risc-v/src/cmake/Toolchain.cmake
  arch/sim/src/cmake/Toolchain.cmake
  arch/sim/src/cmake/platform.cmake
  arch/x86_64/src/cmake/Toolchain.cmake
  cmake/nuttx_add_library.cmake
  cmake/nuttx_add_romfs.cmake
  cmake/nuttx_allsyms.cmake
  cmake/nuttx_toolchain.cmake
  libs/libc/assert/CMakeLists.txt
Labels: Area: Build system, Arch: arm, Arch: arm64, Arch: risc-v, Arch: simulator, Arch: x86_64, Area: OS Components, Size: XL

#13700 add Systick irq_attach_thread
  arch/arm/src/armv7-m/Kconfig
  arch/arm/src/armv7-m/arm_systick.c
Labels: Arch: arm, Size: S

#13773 build.yml: Undo debug print
  .github/workflows/build.yml
Labels: Area: CI, Size: XS

#13771 task: use get_task_name where possible
  arch/arm/include/cxd56xx/crashdump.h
  arch/risc-v/src/bl602/bl602_start.c
  arch/risc-v/src/common/riscv_exception.c
  arch/xtensa/src/common/xtensa_assert.c
  binfmt/libelf/libelf_coredump.c
  boards/arm/cxd56xx/common/src/cxd56_crashdump.c
  boards/arm/stm32/nucleo-f429zi/src/stm32_bbsram.c
  boards/arm/stm32f7/nucleo-144/src/stm32_bbsram.c
  boards/renesas/rx65n/rx65n-grrose/src/rx65n_sbram.c
  boards/renesas/rx65n/rx65n-rsk2mb/src/rx65n_sbram.c
  drivers/note/note_driver.c
  drivers/note/notelog_driver.c
  drivers/note/noteram_driver.c
  drivers/segger/note_sysview.c
  drivers/serial/serial.c
  drivers/syslog/Kconfig
  drivers/syslog/vsyslog.c
  fs/procfs/fs_procfsproc.c
  include/nuttx/sched.h
  libs/libc/gdbstub/lib_gdbstub.c
  sched/misc/assert.c
  sched/sched/sched_dumponexit.c
  sched/task/task_activate.c
  sched/task/task_exit.c
Labels: Arch: arm, Arch: risc-v, Arch: xtensa, Area: Board support, Area: File System, Area: OS Components, Size: M, Area: BINFMT

#13762 chardriver upperCAN: support to independent set TX/RX FIFO size.
  Documentation/platforms/arm/samv7/boards/same70-xplained/README.txt
  Documentation/platforms/arm/samv7/boards/samv71-xult/README.txt
  Documentation/platforms/arm/stm32f1/boards/cloudctrl/index.rst
  Documentation/platforms/arm/stm32f1/boards/fire-stm32v2/index.rst
  Documentation/platforms/arm/stm32f1/boards/hymini-stm32/index.rst
  Documentation/platforms/arm/stm32f1/boards/shenzhou/index.rst
  Documentation/platforms/arm/stm32f1/boards/stm3210e-eval/index.rst
  Documentation/platforms/arm/stm32f1/boards/stm32_tiny/index.rst
  Documentation/platforms/arm/stm32f1/boards/stm32f103-minimum/index.rst
  Documentation/platforms/arm/stm32f2/index.rst
  Documentation/platforms/arm/stm32f3/index.rst
  Documentation/platforms/arm/stm32f4/index.rst
  Documentation/platforms/arm/stm32f7/index.rst
  drivers/can/Kconfig
  drivers/can/can.c
  include/nuttx/can/can.h
Labels: Area: Documentation, Size: M

#13720 nuttx/arch: Remove GCCVER and add compilation options directly.
  arch/arm/src/common/Toolchain.defs
  arch/arm/src/tlsr82/Toolchain.defs
  arch/arm64/src/Toolchain.defs
  arch/arm64/src/cmake/Toolchain.cmake
  arch/risc-v/src/cmake/Toolchain.cmake
  arch/risc-v/src/common/Toolchain.defs
Labels: Arch: arm, Arch: arm64, Arch: risc-v, Size: S

#13669 cmake(bugfix): sync CMake SIM Toolchain file
  arch/sim/CMakeLists.txt
  arch/sim/src/cmake/Toolchain.cmake
Labels: Arch: simulator, Size: M

#13760 add the ability that control CAN transceiver and controller state.
  drivers/can/can.c
  include/nuttx/can/can.h
Labels: Size: M

#13778 sched: process scheduler before wd_timer handler
  sched/sched/sched_timerexpiration.c
Labels: Area: OS Components, Size: S

#13781 lcd/st7735: add option to invert display color
  drivers/lcd/Kconfig
  drivers/lcd/st7735.c
Labels: Size: S, Area: Graphics

#13785 Documentation: add NuttX-12.7.0 release notes
  Documentation/ReleaseNotes/NuttX-12.7.0
Labels: Area: Documentation, Size: L

#13779 greenhills support: fix the pow() function calculate error
  arch/arm/src/common/CMakeLists.txt
  arch/arm/src/common/ghs/lib_dummy.c
Labels: Arch: arm, Size: XS

#13787 libc/dlsym: add more header to fixed protected build issue
  libs/libc/dlfcn/lib_dlsym.c
Labels: Area: OS Components, Size: XS

#13758 char driver CAN: add tx_confirm ability in upperCAN driver.
  arch/arm/src/at32/at32_can.c
  arch/arm/src/lpc17xx_40xx/lpc17_40_can.c
  arch/arm/src/sama5/sam_can.c
  arch/arm/src/sama5/sam_mcan.c
  arch/arm/src/samv7/sam_mcan.c
  arch/arm/src/stm32/stm32_can.c
  arch/arm/src/stm32/stm32_fdcan.c
  arch/arm/src/stm32f7/stm32_can.c
  arch/arm/src/stm32l4/stm32l4_can.c
  drivers/can/Kconfig
  drivers/can/can.c
  drivers/can/mcp2515.c
  include/nuttx/can/can.h
Labels: Arch: arm, Size: S

#13799 drivers/rptun: add cmake support for rptun_secure
  drivers/rptun/CMakeLists.txt
  drivers/rptun/Make.defs
Labels: Size: S

#13794 tools/testbuild.sh: Improved speed in the skipping stage
  tools/testbuild.sh
Labels: Area: Tooling, Size: XS

#13793 {Bp-13639} sensor:Update sensor type
  drivers/sensors/sensor.c
  include/nuttx/uorb.h
Labels: Area: Sensors, Size: L

#13788 {bp-13585} riscv: use g_running_task store current regs
  arch/risc-v/src/common/riscv_doirq.c
  arch/risc-v/src/common/riscv_exit.c
  arch/risc-v/src/common/riscv_internal.h
  arch/risc-v/src/common/riscv_sigdeliver.c
  arch/risc-v/src/common/riscv_swint.c
  arch/risc-v/src/common/supervisor/riscv_perform_syscall.c
Labels: Arch: risc-v, Size: S

#13789 {bp-13633} riscv_fork.c: Fix vfork() for kernel mode + SMP
  arch/risc-v/include/irq.h
  arch/risc-v/src/common/riscv_fork.c
  arch/risc-v/src/common/riscv_swint.c
Labels: Arch: risc-v, Size: S

#13783 arm64_fpu: Remove fpu_regs from the TCB
  arch/arm64/include/irq.h
  arch/arm64/src/common/arm64_copystate.c
  arch/arm64/src/common/arm64_fork.c
Labels: Arch: arm64, Size: S

#13796 rpmsg_virtio: move rpmsg virtio cmd definition before the resource table
  arch/sim/src/sim/sim_rpmsg_virtio.c
  drivers/rpmsg/rpmsg_virtio.c
  drivers/rpmsg/rpmsg_virtio_ivshmem.c
  include/nuttx/rpmsg/rpmsg_virtio.h
Labels: Arch: simulator, Size: S

#13800 build.yml: Skip the CI Builds that don't match the Arch Label
  .github/workflows/build.yml
Labels: Area: CI, Size: S

#13786 sched/group: replace the pthread interface used in the kernel
  sched/group/group_killchildren.c
Labels: Area: OS Components, Size: XS

#13798 fs/file: bug fix about fdcheck can't assert
  fs/inode/fs_files.c
Labels: Area: File System, Size: S

#13803 arch: cxd56xx: Fix gnss compile error
  arch/arm/src/cxd56xx/cxd56_gnss.c
Labels: Arch: arm, Size: XS

#13804 boards: cxd56xx: Fix an issue not to enter cold sleep
  arch/arm/include/cxd56xx/pm.h
  boards/arm/cxd56xx/spresense/src/cxd56_sdcard.c
Labels: Arch: arm, Area: Board support, Size: S

#13805 arch: cxd56xx: update loader and gnssfw version
  arch/arm/src/cxd56xx/cxd56_farapistub.h
Labels: Arch: arm, Size: XS

#13806 build.yml: Check out the correct branch of nuttx-apps
  .github/workflows/build.yml
Labels: Area: CI, Size: XS

#13809 arch/x86_64/src/intel64: use legacy method to map memory <4GB
  arch/x86_64/src/intel64/intel64_map_region.c
Labels: Arch: x86_64, Size: S

#13808 arch/intel64: fix IRQ conflict with GOLDFISH
  arch/x86_64/include/intel64/irq.h
  arch/x86_64/src/intel64/intel64_irq.c
Labels: Arch: x86_64, Size: S

#13807 arch/x86_64/addrenv.h: fix MMU flags for USER region
  arch/x86_64/src/common/addrenv.h
Labels: Arch: x86_64, Size: XS

#13811 arch/intel64: colorize IDLE stack for AP cores
  arch/x86_64/src/intel64/intel64_cpustart.c
Labels: Arch: x86_64, Size: S

#13816 Create a documentation folder to list sensor drivers
  Documentation/components/drivers/special/sensors.rst
  Documentation/components/drivers/special/sensors/adt7320.rst
  Documentation/components/drivers/special/sensors/adxl345.rst
  Documentation/components/drivers/special/sensors/adxl362.rst
  Documentation/components/drivers/special/sensors/adxl372.rst
  Documentation/components/drivers/special/sensors/aht10.rst
  Documentation/components/drivers/special/sensors/ak09912.rst
  Documentation/components/drivers/special/sensors/lsm330.rst
  Documentation/components/drivers/special/sensors/mpl115a.rst
  Documentation/components/drivers/special/sensors/sht4x.rst
Labels: Area: Documentation, Size: M

#13818 nuttx/arch: Fix the issue where the compiler cannot recognize min-pagesize=0.
  arch/arm/src/common/Toolchain.defs
  arch/arm/src/tlsr82/Toolchain.defs
Labels: Arch: arm, Size: S

#13705 mmcsd: move block driver register to probe stage in order to read ext_csd reg
  drivers/mmcsd/mmcsd.h
  drivers/mmcsd/mmcsd_sdio.c
Labels: Size: S

#13822 fs_lock: fix cmake build error
  fs/vfs/CMakeLists.txt
Labels: Area: File System, Size: XS

#13734 sched: replace sync pause with async pause for nxsched_suspend
  sched/sched/sched_suspend.c
Labels: Area: OS Components, Size: S

#13731 sched: replace sync pause with async pause for setpriority
  sched/sched/sched_setpriority.c
Labels: Area: OS Components, Size: S

#13735 sched: replace sync pause with async pause for nxtask_restart
  sched/task/task_restart.c
Labels: Area: OS Components, Size: M

#13829 boards/sim: update foc test config
  boards/sim/sim/sim/configs/foc/defconfig
Labels: Area: Board support, Size: S

#13826 fs_lock:Check the nwaiter when deleting a bucket
  fs/vfs/fs_lock.c
Labels: Area: File System, Size: XS

#13835 drivers/serial/CMakeLists.txt: add missing files
  drivers/serial/CMakeLists.txt
Labels: Size: S

#13834 arch/arm/nrf{52|53|91}: fix read GPIO state for outputs
  arch/arm/src/nrf52/nrf52_gpio.c
  arch/arm/src/nrf53/nrf53_gpio.c
  arch/arm/src/nrf91/nrf91_gpio.c
Labels: Arch: arm, Size: S

#13840 boards/arm/stm32f0l0g0/stm32g071b-disco: fix djoy example
  boards/arm/stm32f0l0g0/stm32g071b-disco/configs/oled/defconfig
Labels: Area: Board support, Size: XS

#13728 sched: replace sync pause with async pause for nxtask_terminate
  arch/arm/src/common/arm_exit.c
  arch/arm64/src/common/arm64_exit.c
  arch/avr/src/common/avr_exit.c
  arch/hc/src/common/hc_exit.c
  arch/mips/src/common/mips_exit.c
  arch/misoc/src/lm32/lm32_exit.c
  arch/misoc/src/minerva/minerva_exit.c
  arch/or1k/src/common/or1k_exit.c
  arch/renesas/src/common/renesas_exit.c
  arch/risc-v/src/common/riscv_exit.c
  arch/sim/src/sim/sim_exit.c
  arch/sparc/src/common/sparc_exit.c
  arch/tricore/src/common/tricore_exit.c
  arch/x86/src/common/x86_exit.c
  arch/x86_64/src/common/x86_64_exit.c
  arch/xtensa/src/common/xtensa_exit.c
  arch/z16/src/common/z16_exit.c
  arch/z80/src/common/z80_exit.c
  sched/pthread/pthread_exit.c
  sched/task/exit.c
  sched/task/task_exit.c
  sched/task/task_exithook.c
  sched/task/task_terminate.c
Labels: Arch: arm, Arch: arm64, Arch: avr, Arch: hc, Arch: mips, Arch: openrisc, Arch: renesas, Arch: risc-v, Arch: simulator, Arch: sparc, Arch: tricore, Arch: x86, Arch: x86_64, Arch: xtensa, Arch: z16, Arch: z80, Area: OS Components, Size: M

#13719 nuttx/libxx: Simplify compilation warnings for passing CXXFLAGS.
  libs/libxx/libcxx.cmake
  libs/libxx/libcxx.defs
  libs/libxx/libcxxmini.cmake
  libs/libxx/libcxxmini.defs
Labels: Area: OS Components, Size: M

#13817 Add LPUART driver for the STM32G4 series
  arch/arm/include/stm32/chip.h
  arch/arm/src/stm32/Kconfig
  arch/arm/src/stm32/hardware/stm32g4xxr_pinmap.h
  arch/arm/src/stm32/hardware/stm32g4xxr_pinmap_legacy.h
  arch/arm/src/stm32/hardware/stm32g4xxxx_uart.h
  arch/arm/src/stm32/stm32_lowputc.c
  arch/arm/src/stm32/stm32_serial.c
  arch/arm/src/stm32/stm32_uart.h
  boards/arm/stm32/nucleo-g474re/configs/lpuartnsh/defconfig
  boards/arm/stm32/nucleo-g474re/include/board.h
Labels: Arch: arm, Area: Board support, Size: L

#13849 mm/heap: hold heap lock before access mm_nregions
  mm/mm_heap/mm_initialize.c
Labels: Area: Memory Management, Size: S

#13858 CI: Refactor the Build Rules based on Arch Labels
  .github/workflows/arch.yml
Labels: Area: CI, Size: M

#13843 task: merge nxtask_setup_name() before create_stack
  sched/task/task.h
  sched/task/task_fork.c
  sched/task/task_init.c
  sched/task/task_setup.c
Labels: Area: OS Components, Size: M

#13861 arch: cxd56xx: Add SD card 4-bit capability
  arch/arm/src/cxd56xx/cxd56_sdhci.c
Labels: Arch: arm, Size: XS

#13864 math: remove is_power_of_2() keep IS_POWER_OF_2()
  drivers/clk/clk_divider.c
  include/nuttx/lib/math32.h
Labels: Size: XS

#13862 CI: Apply the Refactored Build Rules based on Arch Labels
  .github/workflows/build.yml
Labels: Area: CI, Size: M

#13815 Cmake: Improved setconfig support for setting multiple parameters
  CMakeLists.txt
  cmake/menuconfig.cmake
  cmake/nuttx_kconfig.cmake
  cmake/nuttx_sethost.cmake
Labels: Area: Build system, Size: M

#13267 mq: change mqueue msg mail to dynamic array
  sched/mqueue/mq_initialize.c
  sched/mqueue/mq_send.c
  sched/mqueue/mqueue.h
Labels: Area: OS Components, Size: S

#13841 esp32: fix esp32 wifi bug caused scan failed
  arch/risc-v/src/esp32c3-legacy/esp32c3_ble_adapter.c
  arch/risc-v/src/esp32c3-legacy/esp32c3_wifi_adapter.c
  arch/risc-v/src/esp32c3/esp_wifi_adapter.c
  arch/risc-v/src/esp32c6/esp_wifi_adapter.c
  arch/xtensa/src/esp32/esp32_ble_adapter.c
  arch/xtensa/src/esp32/esp32_wifi_adapter.c
  arch/xtensa/src/esp32s2/esp32s2_wifi_adapter.c
  arch/xtensa/src/esp32s3/esp32s3_ble_adapter.c
  arch/xtensa/src/esp32s3/esp32s3_wifi_adapter.c
Labels: Arch: risc-v, Arch: xtensa, Size: S

#13871 uart_rpmsg: some bugs fixed
  drivers/serial/uart_rpmsg.c
Labels: Size: XS

#13837 fs/romfs: Call block_operations::close when romfs_bind fail
  fs/romfs/fs_romfs.c
  fs/romfs/fs_romfsutil.c
Labels: Area: File System, Size: S

#13795 riscv/esp32c6: fix rtc text section and wifi ram placement
  boards/risc-v/esp32c6/common/scripts/esp32c6_sections.ld
Labels: Area: Board support, Size: S

#13870 arch/arm/stm32{|f7}/socketcan: fix debugassert for extid frames
  arch/arm/src/stm32/stm32_can_sock.c
  arch/arm/src/stm32/stm32_fdcan_sock.c
  arch/arm/src/stm32f7/stm32_can_sock.c
Labels: Arch: arm, Size: XS

#13865 cache: do cache_invalidate_all before enable dcache
  arch/arm/src/armv7-a/arm_cache.c
  arch/arm/src/armv7-a/cp15_cacheops.h
  arch/arm/src/armv7-m/arm_cache.c
  arch/arm/src/armv7-r/arm_cache.c
  arch/arm/src/armv7-r/cp15_cacheops.h
  arch/arm/src/armv8-m/arm_cache.c
  arch/arm/src/armv8-r/arm_cache.c
  arch/arm/src/armv8-r/cp15_cacheops.h
  arch/arm64/src/common/arm64_cache.c
  arch/x86_64/src/intel64/intel64_cache.c
  arch/xtensa/src/common/xtensa_cache.c
Labels: Arch: arm, Arch: arm64, Arch: x86_64, Arch: xtensa, Size: M

#13872 drivers/note: suport rpmsg transfer channel for note,some note api
  drivers/note/CMakeLists.txt
  drivers/note/Kconfig
  drivers/note/Make.defs
  drivers/note/note_driver.c
  drivers/note/note_initialize.c
  drivers/note/noterpmsg.h
  drivers/note/noterpmsg_driver.c
  drivers/note/noterpmsg_server.c
Labels: Size: L

#13842 net: Remove IFF_DOWN flag to compatible with Linux/*BSD
  boards/arm/s32k3xx/mr-canhubk3/src/s32k3xx_tja1153.c
  drivers/wireless/ieee80211/bcm43xxx/bcmf_netdev.c
  include/net/if.h
  net/netdev/netdev_ioctl.c
Labels: Area: Networking, Area: Board support, Size: S

#13860 drivers/net: Register "/dev/net/tun" as tun node too
  drivers/net/tun.c
Labels: Area: Networking, Size: XS

#13877 arch: fix the sched parameter update when exiting
  arch/arm/src/arm/arm_syscall.c
  arch/arm/src/common/arm_exit.c
  arch/arm64/src/common/arm64_exit.c
  arch/avr/src/common/avr_exit.c
  arch/hc/src/common/hc_exit.c
  arch/mips/src/common/mips_exit.c
  arch/misoc/src/lm32/lm32_exit.c
  arch/misoc/src/minerva/minerva_exit.c
  arch/or1k/src/common/or1k_exit.c
  arch/renesas/src/common/renesas_exit.c
  arch/risc-v/src/common/riscv_exit.c
  arch/sim/src/sim/sim_exit.c
  arch/sparc/src/common/sparc_exit.c
  arch/tricore/src/common/tricore_exit.c
  arch/x86/src/common/x86_exit.c
  arch/x86_64/src/common/x86_64_exit.c
  arch/xtensa/src/common/xtensa_exit.c
  arch/z16/src/common/z16_exit.c
  arch/z80/src/common/z80_exit.c
  sched/sched/sched_suspendscheduler.c
Labels: Arch: arm, Arch: arm64, Arch: avr, Arch: hc, Arch: mips, Arch: openrisc, Arch: renesas, Arch: risc-v, Arch: simulator, Arch: sparc, Arch: tricore, Arch: x86, Arch: x86_64, Arch: xtensa, Arch: z16, Arch: z80, Area: OS Components, Size: S

#13888 x86_64: fix regression
  arch/x86_64/src/intel64/intel64_schedulesigaction.c
Labels: Arch: x86_64, Size: XS

#13896 sched/signal: change pthread_exit to nx_pthread_exit
  sched/signal/sig_default.c
Labels: Area: OS Components, Size: XS

#13890 Cmake/kasan: cmake supports multiple link global variables out of bounds
  CMakeLists.txt
  cmake/nuttx_allsyms.cmake
  cmake/nuttx_multiple_link.cmake
Labels: Area: Build system, Size: M

#13897 pci: msi and msix irq need release irq
  drivers/pci/pci_ep_test.c
Labels: Size: XS, Area: PCI

#13887 rpmsg services: should release the tx buffer when rpmsg_send_nocopy failed
  drivers/clk/clk_rpmsg.c
  drivers/misc/rpmsgblk.c
  drivers/misc/rpmsgblk_server.c
  drivers/mtd/rpmsgmtd_server.c
  drivers/net/rpmsgdrv.c
  drivers/note/noterpmsg_driver.c
  drivers/power/supply/regulator_rpmsg.c
  drivers/rpmsg/rpmsg_ping.c
  drivers/sensors/sensor_rpmsg.c
  drivers/serial/uart_rpmsg.c
  drivers/syslog/syslog_rpmsg.c
  drivers/usrsock/usrsock_rpmsg.c
  drivers/usrsock/usrsock_rpmsg_server.c
  drivers/wireless/bluetooth/bt_rpmsghci.c
  drivers/wireless/bluetooth/bt_rpmsghci_server.c
  fs/rpmsgfs/rpmsgfs_client.c
  fs/rpmsgfs/rpmsgfs_server.c
Labels: Area: Networking, Area: File System, Area: Sensors, Size: M

#13902 e1000: add polling mode support for tx/rx
  drivers/net/e1000.c
Labels: Area: Networking, Size: S

#13891 mm/kconfig: set the default alignment of global variable out-of-bounds detection is 1
  mm/Kconfig
Labels: Area: Memory Management, Size: XS

#13900 zipfs:zipfs not need mtd drivers
  fs/mount/fs_mount.c
Labels: Area: File System, Size: XS

#13876 arch/irq: add the up_getusrpc macro to get the PC of the interrupted …
  arch/arm/include/irq.h
  arch/arm64/include/irq.h
  arch/avr/include/avr/irq.h
  arch/avr/include/avr32/irq.h
  arch/ceva/include/irq.h
  arch/hc/include/m9s12/irq.h
  arch/mips/include/irq.h
  arch/misoc/include/lm32/irq.h
  arch/misoc/include/minerva/irq.h
  arch/or1k/include/irq.h
  arch/renesas/include/m16c/irq.h
  arch/renesas/include/rx65n/irq.h
  arch/renesas/include/sh1/irq.h
  arch/risc-v/include/irq.h
  arch/sim/include/irq.h
  arch/sparc/include/irq.h
  arch/x86/include/irq.h
  arch/x86_64/include/irq.h
  arch/xtensa/include/irq.h
  arch/z16/include/irq.h
  arch/z80/include/irq.h
Labels: Arch: arm, Arch: arm64, Arch: avr, Arch: ceva, Arch: hc, Arch: mips, Arch: openrisc, Arch: renesas, Arch: risc-v, Arch: simulator, Arch: sparc, Arch: x86, Arch: x86_64, Arch: xtensa, Arch: z16, Arch: z80, Size: M

#13820 riscv_internal.h: Remove riscv_sbi.h from the file
  arch/risc-v/src/common/riscv_internal.h
  arch/risc-v/src/common/riscv_ipi.h
  arch/risc-v/src/common/riscv_mtimer.c
  arch/risc-v/src/nuttsbi/sbi_mcall.c
  arch/risc-v/src/qemu-rv/qemu_rv_start.c
  boards/risc-v/qemu-rv/rv-virt/src/qemu_rv_appinit.c
Labels: Arch: risc-v, Area: Board support, Size: S

#13915 boards/stm32f7/stm32f746g-disco: fix FMC pin
  boards/arm/stm32f7/stm32f746g-disco/include/board.h
  boards/arm/stm32f7/stm32f746g-disco/src/stm32_extmem.c
  boards/arm/stm32f7/stm32f769i-disco/src/stm32_extmem.c
Labels: Area: Board support, Size: XS

#13907 fs_open:Adjust the definition of the open path
  fs/vfs/fs_open.c
Labels: Area: File System, Size: XS

#13920 usbdev/cdcacm: Fix read queue counter in shutdown
  drivers/usbdev/cdcacm.c
Labels: Size: XS, Area: USB

#13921 files_getlist:Handling the situation when tcb's grouplist is empty
  fs/inode/fs_files.c
Labels: Area: File System, Size: S

#13917 fix snprintf truncation warnings
  net/netdev/netdev_ifconf.c
Labels: Area: Networking, Size: XS

#13931 fs/semaphore: fix a minor issue with goto label
  fs/semaphore/sem_open.c
Labels: Area: File System, Size: XS

#13925 driver: add GOLDFISH_GPU_FB_PRIORITY for goldfish_gpu_fb_vsync_thread
  drivers/video/Kconfig
  drivers/video/goldfish_gpu_fb.c
Labels: Size: XS, Area: Video

#13916 drivers/fb: use ENOTTY to replace assert
  drivers/video/fb.c
Labels: Size: M, Area: Video

#13926 fs: fix compile break
  fs/inode/inode.h
Labels: Area: File System, Size: XS

#13899 Deadlock detect fix
  sched/misc/deadlock.c
Labels: Area: OS Components, Size: M

#13912 release msi/msix irq clean capability struct
  drivers/pci/pci.c
Labels: Size: S, Area: PCI

#13892 notesnap_driver.c: modify struct notesnap_s member type
  drivers/note/notesnap_driver.c
Labels: Size: XS

#13942 {Bp-13864} math: remove is_power_of_2() keep IS_POWER_OF_2()
  drivers/clk/clk_divider.c
  include/nuttx/lib/math32.h
Labels: Size: XS

#13936 {Bp-13915} boards/stm32f7/stm32f746g-disco: fix FMC pin
  boards/arm/stm32f7/stm32f746g-disco/include/board.h
  boards/arm/stm32f7/stm32f746g-disco/src/stm32_extmem.c
  boards/arm/stm32f7/stm32f769i-disco/src/stm32_extmem.c
Labels: Area: Board support, Size: XS

#13945 usensor.c:fix container_of member error.
  drivers/sensors/usensor.c
Labels: Area: Sensors, Size: XS

#13721 libcxxabi: Optimize cxx code size.
  libs/libxx/0001-libcxx-fix-ld-errors.patch
  libs/libxx/libcxx.cmake
  libs/libxx/libcxx.defs
  libs/libxx/libcxxabi.cmake
  libs/libxx/libcxxabi.defs
Labels: Area: OS Components, Size: S

#13934 sched/signal: Fix compilation errors for MSVC.
  include/nuttx/signal.h
  sched/timer/timer.h
  sched/timer/timer_settime.c
Labels: Area: OS Components, Size: S

#13939 arch/x86_64:Add check stack function
  arch/x86_64/src/common/x86_64_internal.h
  arch/x86_64/src/intel64/CMakeLists.txt
  arch/x86_64/src/intel64/Make.defs
  arch/x86_64/src/intel64/intel64_checkstack.c
  arch/x86_64/src/intel64/intel64_initialstate.c
  arch/x86_64/src/intel64/intel64_irq.c
  arch/x86_64/src/intel64/intel64_usestack.c
Labels: Arch: x86_64, Size: M

#13905 net/rpmsg: add SO_SNDBUF and SO_RCVBUF support
  net/rpmsg/rpmsg_sockif.c
Labels: Area: Networking, Size: S

#13908 board_reset: flush cache before reset
  boards/boardctl.c
  sched/misc/assert.c
Labels: Area: Board support, Area: OS Components, Size: XS

#13948 note: change sched_note_counter to a macro
  include/nuttx/sched_note.h
Labels: Size: S

#13910 Support shutdown
  net/rpmsg/rpmsg_sockif.c
Labels: Area: Networking, Size: S

#13943 misc/assert: add backtrace dump support for mutex hold task
  include/nuttx/mutex.h
  libs/libc/misc/Kconfig
  libs/libc/misc/lib_mutex.c
  sched/misc/assert.c
Labels: Area: OS Components, Size: M

#13848 circbuf: Move from mm/circbuf to libs/libc/misc
  arch/arm/src/phy62xx/uart.c
  arch/risc-v/src/common/espressif/esp_rmt.c
  arch/xtensa/src/common/espressif/esp_rmt.c
  arch/xtensa/src/esp32/esp32_i2s.c
  arch/xtensa/src/esp32s2/esp32s2_i2s.c
  arch/xtensa/src/esp32s3/esp32s3_i2s.c
  boards/risc-v/bl602/bl602evb/src/bl602_bringup.c
  drivers/input/keyboard_upper.c
  drivers/input/mouse_upper.c
  drivers/input/touchscreen_upper.c
  drivers/ipcc/ipcc_register.c
  drivers/pipes/pipe_common.h
  drivers/rc/lirc_dev.c
  drivers/rmt/rmtchar.c
  drivers/sensors/gnss_uorb.c
  drivers/sensors/sensor.c
  drivers/serial/uart_bth4.c
  drivers/serial/uart_bth5.c
  drivers/video/fb.c
  include/nuttx/circbuf.h
  include/nuttx/input/touchscreen.h
  include/nuttx/ipcc.h
  libs/libc/misc/CMakeLists.txt
  libs/libc/misc/Make.defs
  libs/libc/misc/lib_circbuf.c
  mm/Makefile
  mm/circbuf/CMakeLists.txt
  mm/circbuf/Make.defs
  net/rpmsg/rpmsg_sockif.c
Labels: Area: Networking, Arch: arm, Arch: risc-v, Arch: xtensa, Area: Board support, Area: Memory Management, Area: OS Components, Area: Sensors, Size: S, Area: Video

#13927 mq: correct inode release in mq_inode_release()
  fs/mqueue/mq_unlink.c
Labels: Area: File System, Size: XS

#13928 fs: fix wrong config for FS_SHMFS
  fs/vfs/fs_stat.c
Labels: Area: File System, Size: XS

#13952 misc/dev_mem: fix compile error in aarch64
  drivers/misc/dev_mem.c
Labels: Size: XS

#13933 sim: fix sim smp boot regression
  arch/sim/src/sim/posix/sim_hostsmp.c
  arch/sim/src/sim/sim_doirq.c
  arch/sim/src/sim/sim_internal.h
  include/nuttx/irq.h
Labels: Arch: simulator, Size: S

#13929 fs/vfs: Avoid calling stat with oldrelpath twice in mountptrename
  fs/vfs/fs_rename.c
Labels: Area: File System, Size: S

#13953 case SIOCGIWNAME: add filter out non-802.11 interfaces
  net/netdev/netdev_ioctl.c
Labels: Area: Networking, Size: XS

#13954 CI: Split the Build Job arm-05 into multiple smaller jobs
  .github/workflows/build.yml
  tools/ci/testlist/arm-05.dat
  tools/ci/testlist/arm-06.dat
  tools/ci/testlist/arm-07.dat
  tools/ci/testlist/arm-08.dat
  tools/ci/testlist/arm-09.dat
  tools/ci/testlist/arm-10.dat
  tools/ci/testlist/arm-11.dat
  tools/ci/testlist/arm-12.dat
  tools/ci/testlist/arm-13.dat
  tools/ci/testlist/arm-14.dat
Labels: Area: Tooling, Area: CI, Size: L

#13957 sched/group: There is no need to use sched_[un]lock
  sched/group/group_continue.c
  sched/group/group_killchildren.c
  sched/group/group_suspendchildren.c
Labels: Area: OS Components, Size: S

#13955 cmake(Enhancement):enhance compile options for custom toolchain,implement the REVERSE opt of `add_compile_options()`
  CMakeLists.txt
  cmake/nuttx_remove_compile_options.cmake
Labels: Area: Build system, Size: S

#13874 mmcsd: add multi partitions prototype implementation
  drivers/mmcsd/mmcsd.h
  drivers/mmcsd/mmcsd_procfs.c
  drivers/mmcsd/mmcsd_sdio.c
Labels: Size: S

#13918 nuttx/fs:Rename node with inode.
  fs/inode/fs_foreachinode.c
  fs/inode/fs_inodefind.c
  fs/inode/fs_inodefree.c
  fs/inode/fs_inodegetpath.c
  fs/inode/fs_inoderemove.c
  fs/inode/fs_inodereserve.c
  fs/inode/fs_inodesearch.c
  fs/inode/inode.h
Labels: Area: File System, Size: M

#13959 [bugfix]checkpatch.sh:Fix checking for wrong cmake files
  tools/checkpatch.sh
Labels: Area: Tooling, Size: XS

#13960 usb: If usb3.0, set the ep0 sssize to cfgdescsize
  drivers/usbdev/usbdev_fs.c
Labels: Size: XS, Area: USB

#13958 [bugfix]tools/mkdeps.c:add options for gen full path object target
  tools/mkdeps.c
Labels: Area: Tooling, Size: S

#13962 sched: export sched_getcpu API in AMP mode
  include/sched.h
  include/sys/syscall_lookup.h
  sched/sched/CMakeLists.txt
  sched/sched/Make.defs
  sched/sched/sched_getcpu.c
  syscall/syscall.csv
Labels: Area: OS Components, Size: S

#13961 libs/libc/fdt/Make.defs: cannot move due to directory not empty bugfix
  libs/libc/fdt/Make.defs
Labels: Area: OS Components, Size: XS

#13982 arch/x86_64: Resolve weak symbol compilation relocation errors
  arch/x86_64/src/cmake/Toolchain.cmake
  arch/x86_64/src/common/Toolchain.defs
Labels: Arch: x86_64, Size: XS

#13983 arch/x68_64: properly align ap boot stack for vector operations
  arch/x86_64/src/intel64/intel64_head.S
Labels: Arch: x86_64, Size: XS

#13973 arch/x86_64: add support for thread_local
  arch/Kconfig
  arch/x86_64/src/common/CMakeLists.txt
  arch/x86_64/src/common/Make.defs
  arch/x86_64/src/common/x86_64_internal.h
  arch/x86_64/src/common/x86_64_tls.c
  arch/x86_64/src/intel64/intel64_fullcontextrestore.S
  arch/x86_64/src/intel64/intel64_initialstate.c
  boards/x86_64/intel64/qemu-intel64/configs/nsh/defconfig
  boards/x86_64/intel64/qemu-intel64/scripts/qemu.ld
Labels: Arch: x86_64, Area: Board support, Size: M

#13970 CI: Set PR Label to the Arch-Specific Board
  .github/labeler.yml
Labels: Area: CI, Size: S

#13977 Fix to compile parameters not taking effect When cmake version is greater than 3.18
  fs/littlefs/CMakeLists.txt
  fs/romfs/CMakeLists.txt
  fs/rpmsgfs/CMakeLists.txt
Labels: Area: File System, Size: S

#13966 sim: disable sim uart output processing
  arch/sim/src/nuttx-names.in
  arch/sim/src/sim/posix/sim_hostuart.c
Labels: Arch: simulator, Size: S

#13976 stm32f429i-disco: disable TM32_FB_CMAP
  boards/arm/stm32/stm32f429i-disco/configs/fb/defconfig
Labels: Area: Board support, Size: XS

#13906 local_sock: fix accept use-after-free
  include/nuttx/queue.h
  net/local/local_release.c
Labels: Area: Networking, Size: XS

#13974 {Bp-13569} Revert "toolchain/ghs: Fix CONFIG_SCHED_CRITMONITOR_MAXTIME_XXX "zero…
  include/nuttx/sched.h
  sched/sched/sched.h
Labels: Area: OS Components, Size: S

#13979 drivers/battery: Fix Goldfish Battery x64 unresponsive interrupt issue
  drivers/power/battery/goldfish_battery.c
Labels: Size: XS

#13986 {Bp-13806} build.yml: Check out the correct branch of nuttx-apps
  .github/workflows/build.yml
Labels: Area: CI, Size: XS

#13981 misc/rpmsgdev: fix block mode read/write bug in rpmsgdev
  drivers/misc/rpmsgdev.c
  drivers/misc/rpmsgdev_server.c
Labels: Size: M

#13993 arch/x86_64:Configure arch delay using CONFIG_ALARM_ARCH
  arch/x86_64/src/common/CMakeLists.txt
  arch/x86_64/src/common/Make.defs
Labels: Arch: x86_64, Size: S

#13989 arch/x86_64: Map the new page table with read-write permissions
  arch/x86_64/src/intel64/intel64_map_region.c
Labels: Arch: x86_64, Size: XS

#13992 drivers/timers:Arch_alarm and arch_timer add up_ndelay interface
  drivers/timers/arch_alarm.c
  drivers/timers/arch_timer.c
  include/nuttx/arch.h
Labels: Size: S

#13988 libs/x86_64:Add the setjmp/longjmp function
  arch/Kconfig
  arch/x86_64/include/setjmp.h
  libs/libc/machine/x86_64/CMakeLists.txt
  libs/libc/machine/x86_64/Make.defs
  libs/libc/machine/x86_64/arch_setjmp_x86_64.S
Labels: Arch: x86_64, Area: OS Components, Size: M

#13997 {Bp-13881} arch/arm/Kconfig: fix copy-paste error
  arch/arm/Kconfig
Labels: Arch: arm, Size: S

#13996 {Bp-13906} local_sock: fix accept use-after-free
  include/nuttx/queue.h
  net/local/local_release.c
Labels: Area: Networking, Size: XS

#14000 long double need use the format of 'Lf'
  libs/libc/stdio/lib_libvsprintf.c
Labels: Area: OS Components, Size: XS

#14004 {Bp-13928} fs: fix wrong config for FS_SHMFS
  fs/vfs/fs_stat.c
Labels: Area: File System, Size: XS

#13886 arch: support customized up_cpu_index() in AMP mode
  arch/arm/include/arm/irq.h
  arch/arm/include/armv6-m/irq.h
  arch/arm/include/armv7-a/irq.h
  arch/arm/include/armv7-m/irq.h
  arch/arm/include/armv7-r/irq.h
  arch/arm/include/armv8-m/irq.h
  arch/arm/include/armv8-r/irq.h
  arch/arm/include/tlsr82/irq.h
  arch/arm/src/armv7-a/arm_gicv2.c
  arch/arm/src/armv8-r/arm_gicv3.c
  arch/arm/src/cxd56xx/CMakeLists.txt
  arch/arm/src/cxd56xx/Make.defs
  arch/arm/src/cxd56xx/cxd56_cpuindex.c
  arch/arm/src/lc823450/Make.defs
  arch/arm/src/lc823450/lc823450_cpuindex.c
  arch/arm/src/rp2040/Make.defs
  arch/arm/src/rp2040/rp2040_cpuindex.c
  arch/arm/src/sam34/Make.defs
  arch/arm/src/sam34/sam4cm_cpuindex.c
  arch/arm64/include/irq.h
  arch/arm64/src/common/arm64_gicv3.c
  arch/arm64/src/zynq-mpsoc/zynq_boot.c
  arch/avr/include/irq.h
  arch/ceva/include/irq.h
  arch/hc/include/irq.h
  arch/mips/include/irq.h
  arch/misoc/include/irq.h
  arch/or1k/include/irq.h
  arch/renesas/include/irq.h
  arch/risc-v/include/irq.h
  arch/risc-v/src/common/CMakeLists.txt
  arch/risc-v/src/common/Make.defs
  arch/risc-v/src/common/riscv_cpuindex.c
  arch/sim/include/irq.h
  arch/sim/src/Makefile
  arch/sim/src/sim/CMakeLists.txt
  arch/sim/src/sim/posix/sim_hostsmp.c
  arch/sparc/include/irq.h
  arch/sparc/src/s698pm/Make.defs
  arch/sparc/src/s698pm/s698pm_cpuindex.c
  arch/tricore/include/irq.h
  arch/x86/include/irq.h
  arch/x86_64/include/irq.h
  arch/xtensa/include/irq.h
  arch/xtensa/src/common/espressif/esp_spiflash.c
  arch/xtensa/src/esp32/Make.defs
  arch/xtensa/src/esp32/esp32_cpuindex.S
  arch/xtensa/src/esp32s3/Make.defs
  arch/xtensa/src/esp32s3/esp32s3_cpuindex.S
  arch/z16/include/irq.h
  drivers/syslog/vsyslog.c
  include/nuttx/arch.h
  include/nuttx/spinlock.h
  net/tcp/tcp_recvfrom.c
  net/udp/udp_recvfrom.c
  sched/irq/irq_spinlock.c
Labels: Area: Networking, Arch: arm, Arch: arm64, Arch: avr, Arch: ceva, Arch: hc, Arch: mips, Arch: openrisc, Arch: renesas, Arch: risc-v, Arch: simulator, Arch: sparc, Arch: tricore, Arch: x86, Arch: x86_64, Arch: xtensa, Arch: z16, Area: OS Components, Size: L

#14003 sched/wdog: Revert wd_cancel semantics
  sched/wdog/wd_cancel.c
Labels: Area: OS Components, Size: S

#14011 CI: Split the RISC-V Build Jobs into smaller jobs
  .github/workflows/build.yml
  tools/ci/testlist/risc-v-01.dat
  tools/ci/testlist/risc-v-02.dat
  tools/ci/testlist/risc-v-03.dat
  tools/ci/testlist/risc-v-04.dat
  tools/ci/testlist/risc-v-05.dat
  tools/ci/testlist/risc-v-06.dat
Labels: Area: Tooling, Area: CI, Size: S

#14009 nuttx/drivers: add ept_release_cb for destroy server resource
  drivers/clk/clk_rpmsg.c
  drivers/ioexpander/ioe_rpmsg.c
  drivers/misc/rpmsgblk_server.c
  drivers/misc/rpmsgdev_server.c
  drivers/mtd/rpmsgmtd_server.c
  drivers/power/supply/regulator_rpmsg.c
  drivers/reset/reset_rpmsg.c
  drivers/sensors/sensor_rpmsg.c
  drivers/syslog/syslog_rpmsg_server.c
  drivers/timers/rpmsg_rtc.c
  drivers/usrsock/usrsock_rpmsg_server.c
  drivers/wireless/bluetooth/bt_rpmsghci_server.c
  fs/rpmsgfs/rpmsgfs_server.c
Labels: Area: File System, Area: Sensors, Size: L

#13995 sched: remove param in nxsched_remove_readytorun
  sched/sched/sched.h
  sched/sched/sched_removereadytorun.c
  sched/sched/sched_reprioritizertr.c
  sched/sched/sched_setpriority.c
  sched/sched/sched_suspend.c
  sched/task/task_restart.c
  sched/task/task_terminate.c
Labels: Area: OS Components, Size: S

#13967 arch/libc: Integrate vfork into fork, and vfork directly call up_fork
  libs/libc/unistd/CMakeLists.txt
  libs/libc/unistd/Make.defs
  libs/libc/unistd/lib_fork.c
  libs/libc/unistd/lib_vfork.c
Labels: Area: OS Components, Size: S

#14017 arch/x86_64:Use the checkstack function
  arch/x86_64/src/intel64/intel64_createstack.c
Labels: Arch: x86_64, Size: S

#14016 arch/x86_64:Add perf tool
  arch/Kconfig
  arch/x86_64/src/intel64/CMakeLists.txt
  arch/x86_64/src/intel64/Make.defs
  arch/x86_64/src/intel64/intel64_perf.c
Labels: Arch: x86_64, Size: S

#14019 arch/x86_64: cpuid expect 32 bit variables
  arch/x86_64/src/intel64/intel64_check_capability.c
Labels: Arch: x86_64, Size: XS

#14021 arch/x86_64: idle convert all asm() to __asm__()
  arch/x86_64/src/intel64/intel64_idle.c
Labels: Arch: x86_64, Size: S

#14020 risc-v/espressif: Fix alert message in `esp_setup_irq()`
  arch/risc-v/src/common/espressif/esp_irq.c
Labels: Arch: risc-v, Size: XS

#14013 sched/wdog: Fix code style
  sched/wdog/wd_cancel.c
Labels: Area: OS Components, Size: XS
