Repository apache/nuttx, pull requests merged in 2024-12, with the labels that each got.

#15000 libc/puts: newline was omitted for empty string
  libs/libc/stdio/lib_puts.c
Labels: Area: OS Components, Size: XS

#14995 imxrt_serial: use small lock in arch/arm/src/imxrt/imxrt_serial.c
  arch/arm/src/imxrt/imxrt_serial.c
Labels: Arch: arm, Size: S

#15004 Fix compile error
  sched/misc/coredump.c
Labels: Area: OS Components, Size: XS

#14964 xtensa: remove g_running_tasks[this_cpu()] = NULL
  arch/xtensa/src/common/xtensa_exit.c
  arch/xtensa/src/common/xtensa_irqdispatch.c
Labels: Arch: xtensa, Size: S

#15008 video/fb: fix integer overflow issue
  drivers/video/fb.c
Labels: Size: XS, Area: Video

#15006 max32660_wdt: use small lock in arch/arm/src/max326xx/max32660/max32660_wdt.c
  arch/arm/src/max326xx/max32660/max32660_wdt.c
Labels: Arch: arm, Size: S

#15005 lc823450_usbdev: use small lock in arch/arm/src/lc823450/lc823450_usbdev.c
  arch/arm/src/lc823450/lc823450_usbdev.c
Labels: Arch: arm, Size: S

#15003 esp32s3-devkit/usbmsc: Add bind for MTD
  boards/xtensa/esp32s3/esp32s3-devkit/configs/usbmsc/defconfig
Labels: Size: XS, Board: xtensa

#15002 install kconfiglib using apt repo
  CMakeLists.txt
  Documentation/quickstart/install.rst
  tools/merge_config.py
Labels: Area: Documentation, Area: Tooling, Area: Build system, Size: XS

#15007 sim/tflm: enable tflm hello world
  boards/sim/sim/sim/configs/tflm/defconfig
Labels: Size: XS, Board: simulator

#15011 drivers/audio/wm8994.c: Include nuttx/arch.h to fix compilation (up_m…
  drivers/audio/wm8994.c
Labels: Size: XS, Area: Audio

#15013 samv7: fix bytes to words calculation in user signature read
  arch/arm/src/samv7/sam_us.c
Labels: Arch: arm, Size: XS

#15009 cmake(enhance):Enhance romfs so that RAWS files can be added in any location
  CMakeLists.txt
  cmake/nuttx_add_romfs.cmake
Labels: Area: Build system, Size: M

#15010 xtensa: syscall SYS_switch_context and SYS_restore_context use 0 para
  arch/xtensa/src/common/xtensa.h
  arch/xtensa/src/common/xtensa_exit.c
  arch/xtensa/src/common/xtensa_sigdeliver.c
  arch/xtensa/src/common/xtensa_swint.c
  arch/xtensa/src/common/xtensa_switchcontext.c
  arch/xtensa/src/esp32/esp32_cpustart.c
  arch/xtensa/src/esp32s3/esp32s3_cpustart.c
Labels: Arch: xtensa, Size: S

#15014 fix compile error
  arch/risc-v/src/common/riscv_exit.c
Labels: Arch: risc-v, Size: XS

#14962 riscv: remove up_set_current_regs/up_current_regs
  arch/risc-v/include/irq.h
  arch/risc-v/src/common/riscv_backtrace.c
  arch/risc-v/src/common/riscv_doirq.c
  arch/risc-v/src/common/riscv_exception.c
  arch/risc-v/src/common/riscv_initialize.c
  arch/risc-v/src/common/riscv_registerdump.c
  arch/risc-v/src/common/supervisor/riscv_perform_syscall.c
Labels: Arch: risc-v, Size: M

#15019 First commit of STM32H5 SPI Hardware file.
  arch/arm/src/stm32h5/hardware/stm32h5xxx_spi.h
Labels: Arch: arm, Size: M

#15021 Add STM32H5 FDCAN Hardware File
  arch/arm/src/stm32h5/hardware/stm32_fdcan.h
Labels: Arch: arm, Size: L

#15024 float.h: Define FLT_ROUNDS if not defined by toolchain previously
  include/nuttx/lib/float.h
Labels: Size: XS

#14713 com/can: Remove unnecessary judgment logic
  drivers/can/can_sender.c
Labels: Area: Drivers, Size: S

#15026 arm64/imx8: fix build break
  arch/arm64/src/imx8/imx8qm_lowputc.S
Labels: Arch: arm64, Size: XS

#15025 board/nucleo-h563zi: Add HSE option
  boards/arm/stm32h5/nucleo-h563zi/Kconfig
  boards/arm/stm32h5/nucleo-h563zi/configs/nsh/defconfig
  boards/arm/stm32h5/nucleo-h563zi/include/board.h
Labels: Size: S, Board: arm

#15027 boards/mte: Dependencies changed, so need to delete it now
  boards/arm64/qemu/qemu-armv8a/configs/mte/defconfig
Labels: Size: XS, Board: arm64

#15029 arm64/qemu: Add 9pfs configuration
  Documentation/platforms/arm64/qemu/boards/qemu-armv8a/README.txt
  boards/arm64/qemu/qemu-armv8a/configs/netnsh/defconfig
Labels: Area: Documentation, Size: S, Board: arm64

#15032 gcc/gcov: Add instrumentation function
  libs/libbuiltin/libgcc/gcov.c
Labels: Area: OS Components, Size: S

#15031 cxd56xx: use small lock in arch/arm/src/cxd56xx/cxd56_nxaudio_src.c
  arch/arm/src/cxd56xx/cxd56_nxaudio_src.c
Labels: Arch: arm, Size: S

#15036 libm: Do not link the toolchain's libm unless explicitly selected
  arch/risc-v/src/cmake/platform.cmake
  arch/tricore/src/cmake/platform.cmake
Labels: Arch: risc-v, Arch: tricore, Size: XS

#15037 libm: Do not link the toolchain's libm unless explicitly selected [2]
  arch/arm64/src/cmake/platform.cmake
  arch/xtensa/src/cmake/platform.cmake
Labels: Arch: arm64, Arch: xtensa, Size: XS

#14985 bt_atomic: use atomic macro to replace wireless/bluetooth/bt_atomic.c
  wireless/bluetooth/CMakeLists.txt
  wireless/bluetooth/Make.defs
  wireless/bluetooth/bt_atomic.c
  wireless/bluetooth/bt_atomic.h
Labels: Area: Bluetooth, Size: S

#15035 addrenv: Ensure that the transmission parameter of addrenv_switch is not NULL
  arch/arm/src/arm/arm_doirq.c
  arch/arm/src/armv7-a/arm_doirq.c
  arch/arm/src/dm320/dm320_decodeirq.c
  arch/arm/src/imx1/imx_decodeirq.c
  arch/arm/src/lpc31xx/lpc31_decodeirq.c
  arch/arm64/src/common/arm64_doirq.c
  arch/avr/src/avr32/avr_doirq.c
  arch/hc/src/common/hc_doirq.c
  arch/mips/src/mips32/mips_doirq.c
  arch/mips/src/pic32mx/pic32mx_decodeirq.c
  arch/mips/src/pic32mz/pic32mz_decodeirq.c
  arch/misoc/src/lm32/lm32_doirq.c
  arch/misoc/src/minerva/minerva_doirq.c
  arch/renesas/src/common/renesas_doirq.c
  arch/risc-v/src/common/riscv_doirq.c
  arch/risc-v/src/common/supervisor/riscv_perform_syscall.c
  arch/sparc/src/sparc_v8/sparc_v8_doirq.c
  arch/tricore/src/common/tricore_doirq.c
  arch/x86/src/qemu/qemu_handlers.c
  arch/x86_64/src/intel64/intel64_handlers.c
  arch/xtensa/src/common/xtensa_irqdispatch.c
  arch/z80/src/common/z80_doirq.c
  sched/addrenv/addrenv.c
Labels: Arch: arm, Arch: arm64, Arch: avr, Arch: hc, Arch: mips, Arch: renesas, Arch: risc-v, Arch: sparc, Arch: tricore, Arch: x86, Arch: x86_64, Arch: xtensa, Arch: z80, Area: OS Components, Size: M

#15033 rp23xx: use small lock in arch/arm/src/rp23xx/rp23xx_usbdev.c
  arch/arm/src/rp23xx/rp23xx_usbdev.c
Labels: Arch: arm, Size: S

#15038 drivers/timers: export arch timer api to support higher resolution
  drivers/timers/arch_alarm.c
  drivers/timers/arch_timer.c
  include/nuttx/arch.h
Labels: Area: Drivers, Area: OS Components, Size: S

#15041 arch: lc823450: Add missing license info to lc823450_symbols.ld
  arch/arm/src/lc823450/lc823450_symbols.ld
Labels: Arch: arm, Size: S

#15043 virtio: Add virtio version check
  drivers/virtio/virtio-mmio.c
Labels: Area: Drivers, Size: XS

#15042 debug symbol level: Use config instead
  Kconfig
  arch/tricore/src/common/ToolchainGnuc.defs
  arch/tricore/src/common/ToolchainTasking.defs
  arch/x86/src/common/Toolchain.defs
  tools/D.defs
  tools/Rust.defs
  tools/Swift.defs
Labels: Area: Tooling, Arch: tricore, Arch: x86, Size: S

#15046 remove redundant judgments *running_task != NULL
  arch/avr/src/avr/avr_doirq.c
  arch/avr/src/avr32/avr_doirq.c
  arch/hc/src/common/hc_doirq.c
  arch/or1k/src/common/or1k_doirq.c
  arch/renesas/src/common/renesas_doirq.c
  arch/sim/src/sim/sim_doirq.c
  arch/x86/src/qemu/qemu_handlers.c
  arch/x86_64/src/intel64/intel64_handlers.c
  arch/xtensa/src/common/xtensa_assert.c
  arch/z16/src/common/z16_doirq.c
  arch/z16/src/z16f/z16f_sysexec.c
  arch/z80/src/common/z80_doirq.c
Labels: Arch: avr, Arch: hc, Arch: openrisc, Arch: renesas, Arch: simulator, Arch: x86, Arch: x86_64, Arch: xtensa, Arch: z16, Arch: z80, Size: S

#14805 arch/xtensa: use arch atomic when enable iram heap
  arch/arm/src/common/Toolchain.defs
  arch/xtensa/src/esp32/Kconfig
  include/nuttx/atomic.h
Labels: Arch: arm, Arch: xtensa, Area: OS Components, Size: XS

#15030 riscv: Some judgments are missing
  arch/risc-v/src/common/riscv_doirq.c
  arch/risc-v/src/common/supervisor/riscv_perform_syscall.c
Labels: Arch: risc-v, Size: S

#15052 arm64/toolchain: Fix toolchain judgment after opening lto
  arch/arm64/src/Toolchain.defs
Labels: Arch: arm64, Size: XS

#15054 arm64/lto: Fix link error after opening lto
  boards/arm64/qemu/qemu-armv8a/scripts/dramboot.ld
Labels: Size: XS, Board: arm64

#15047 drivers/net: change netdev_lower_quota_load to macro
  drivers/net/netdev_upperhalf.c
  include/nuttx/net/netdev_lowerhalf.h
  wireless/bluetooth/bt_conn.c
Labels: Area: Bluetooth, Area: Networking, Size: S

#15055 xtensa: inline up_switch_context
  arch/xtensa/include/irq.h
  arch/xtensa/src/common/CMakeLists.txt
  arch/xtensa/src/common/Make.defs
  arch/xtensa/src/common/xtensa.h
  arch/xtensa/src/common/xtensa_switchcontext.c
Labels: Arch: xtensa, Size: S

#15060 mm_grantable.c: Fix infinite loop due to memory fragmentation
  mm/mm_gran/mm_grantable.c
Labels: Area: Memory Management, Size: S

#15053 kasan/globals: fix compile error
  tools/kasan_global.py
Labels: Area: Tooling, Size: XS

#15061 wm8776: use small lock in drivers/audio/wm8776.c
  drivers/audio/wm8776.c
  drivers/audio/wm8776.h
Labels: Size: S, Area: Audio

#15045 virtio: Fix the problem of incorrect setting of virtio queue address under label kasan
  drivers/virtio/virtio-mmio.c
Labels: Area: Drivers, Size: XS

#15057 libcxxabi: Soft link the libcxxabi header file to nuttx/include
  libs/libxx/libcxxabi/CMakeLists.txt
Labels: Area: OS Components, Size: XS

#15050 Remove FAR from 32/64bit arch
  Documentation/platforms/arm/goldfish/goldfish_timer.rst
  arch/arm/src/arm/arm_syscall.c
  arch/arm/src/armv7-r/arm_syscall.c
  arch/arm/src/armv8-r/arm_syscall.c
  arch/arm/src/goldfish/goldfish_timer.c
  arch/arm/src/moxart/moxart_16550.c
  arch/arm/src/s32k1xx/s32k1xx_flexio_i2c.c
  arch/arm/src/samv7/sam_lin_sock.c
  arch/arm64/src/goldfish/goldfish_rtc.c
  arch/risc-v/src/common/espressif/esp_temperature_sensor.c
  arch/risc-v/src/common/espressif/esp_timer.c
  arch/sim/src/sim/sim_heap.c
  arch/xtensa/src/common/espressif/esp_temperature_sensor.c
  arch/xtensa/src/esp32/esp32_spiram.c
  arch/xtensa/src/esp32s3/esp32s3_spiram.c
  boards/arm/mps/mps3-an547/src/mps3_bringup.c
  boards/arm/rp23xx/common/src/rp23xx_uniqueid.c
  libs/libc/machine/arm64/arch_elf.c
  libs/libc/machine/sim/arch_elf64.c
Labels: Area: Documentation, Arch: arm, Arch: arm64, Arch: risc-v, Arch: simulator, Arch: xtensa, Area: OS Components, Size: S, Board: arm

#15064 cmake(bugfix):fix CMake build break on MacOS
  arch/sim/src/cmake/Toolchain.cmake
Labels: Arch: simulator, Size: XS

#15067 Update cdc.h to fix typo in the comments
  include/nuttx/usb/cdc.h
Labels: Size: XS, Area: USB

#15058 armv7-a/armv7-r/armv8-r: percpu reg store this_task
  arch/arm/include/armv7-a/cp15.h
  arch/arm/include/armv7-a/irq.h
  arch/arm/include/armv7-r/cp15.h
  arch/arm/include/armv7-r/irq.h
  arch/arm/include/armv8-r/cp15.h
  arch/arm/include/armv8-r/irq.h
  arch/arm/src/armv7-a/arm_scu.c
  arch/arm/src/armv7-r/arm_scu.c
Labels: Arch: arm, Size: S

#15070 boards: Update configs about system/usbmsc
  boards/arm/cxd56xx/spresense/configs/audio/defconfig
  boards/arm/cxd56xx/spresense/configs/audio_sdk/defconfig
  boards/arm/cxd56xx/spresense/configs/camera/defconfig
  boards/arm/cxd56xx/spresense/configs/example_camera/defconfig
  boards/arm/cxd56xx/spresense/configs/example_lcd/defconfig
  boards/arm/cxd56xx/spresense/configs/fmsynth/defconfig
  boards/arm/cxd56xx/spresense/configs/lcd/defconfig
  boards/arm/cxd56xx/spresense/configs/lte/defconfig
  boards/arm/cxd56xx/spresense/configs/mpy/defconfig
  boards/arm/cxd56xx/spresense/configs/usbmsc/defconfig
  boards/arm/cxd56xx/spresense/configs/usbnsh/defconfig
  boards/arm/cxd56xx/spresense/configs/wifi/defconfig
  boards/arm/cxd56xx/spresense/configs/wifi_smp/defconfig
  boards/arm/lc823450/lc823450-xgevk/configs/audio/defconfig
  boards/arm/lc823450/lc823450-xgevk/configs/usb/defconfig
  boards/arm/lpc17xx_40xx/lpcxpresso-lpc1768/configs/usbmsc/defconfig
  boards/arm/lpc17xx_40xx/olimex-lpc1766stk/configs/usbmsc/defconfig
  boards/arm/lpc214x/mcu123-lpc214x/configs/usbmsc/defconfig
  boards/arm/rp2040/adafruit-feather-rp2040/configs/usbmsc/defconfig
  boards/arm/rp2040/adafruit-kb2040/configs/usbmsc/defconfig
  boards/arm/rp2040/pimoroni-tiny2040/configs/usbmsc/defconfig
  boards/arm/rp2040/raspberrypi-pico-w/configs/usbmsc/defconfig
  boards/arm/rp2040/raspberrypi-pico/configs/usbmsc/defconfig
  boards/arm/rp2040/waveshare-rp2040-lcd-1.28/configs/usbmsc/defconfig
  boards/arm/rp23xx/pimoroni-pico-2-plus/configs/usbmsc/defconfig
  boards/arm/sama5/sama5d3x-ek/configs/demo/defconfig
  boards/arm/stm32/fire-stm32v2/configs/nsh/defconfig
  boards/arm/stm32/hymini-stm32v/configs/nsh2/defconfig
  boards/arm/stm32/hymini-stm32v/configs/usbmsc/defconfig
  boards/arm/stm32/stm3210e-eval/configs/nsh2/defconfig
  boards/arm/stm32/stm3210e-eval/configs/usbmsc/defconfig
  boards/arm/stm32/stm32f401rc-rs485/configs/usbmsc/defconfig
  boards/arm/stm32/stm32f411-minimum/configs/composite/defconfig
  boards/arm/stm32/stm32f411-minimum/configs/usbmsc/defconfig
  boards/arm/stm32/stm32f4discovery/configs/usbmsc/defconfig
  boards/arm/stm32h7/linum-stm32h753bi/configs/usbmsc-sdcard/defconfig
  boards/arm/stm32h7/nucleo-h743zi/configs/composite/defconfig
  boards/avr/at90usb/teensy-2.0/configs/usbmsc/defconfig
  boards/mips/pic32mx/pic32mx7mmb/configs/nsh/defconfig
  boards/xtensa/esp32s3/esp32s3-devkit/configs/usbmsc/defconfig
Labels: Size: S, Board: arm, Board: avr, Board: mips, Board: xtensa

#15074 virtio: fix compile error
  drivers/virtio/virtio-mmio.c
Labels: Area: Drivers, Size: XS

#15071 pci: fix pci dev alloc bridge mem error
  drivers/devicetree/fdt_pci.c
  drivers/pci/pci.c
  drivers/pci/pci_ecam.c
  include/nuttx/pci/pci.h
Labels: Area: Drivers, Size: M, Area: PCI

#15077 fs/tmpfs: Skip any slash at the beginning of relpath
  fs/tmpfs/fs_tmpfs.c
Labels: Area: File System, Size: XS

#15091 build(CMAKE): fix pac sim elf ONLY in Linux platform
  boards/sim/sim/sim/CMakeLists.txt
Labels: Size: XS, Board: simulator

#15087 {bp-15077} fs/tmpfs: Skip any slash at the beginning of relpath
  fs/tmpfs/fs_tmpfs.c
Labels: Area: File System, Size: XS

#15085 [POSIX][Bug] `mqueue.h`: Include file does not conform the standard
  include/mqueue.h
Labels: Area: OS Components, Size: XS

#15083 arch/arm64/src/imx9/imx9_usdhc.c: Simplify eventwait logic and remove…
  arch/arm64/src/imx9/imx9_usdhc.c
Labels: Arch: arm64, Size: S

#15094 max32660_rtc: use small lock in arch/arm/src/max326xx/max32660/max32660_rtc.c
  arch/arm/src/max326xx/max32660/max32660_rtc.c
Labels: Arch: arm, Size: S

#15092 cxd56_rtc.c: use small lock in arch/arm/src/cxd56xx/cxd56_rtc.c
  arch/arm/src/cxd56xx/cxd56_rtc.c
Labels: Arch: arm, Size: S

#15096 s32k3xx_serial: use small lock in arch/arm/src/s32k3xx/s32k3xx_serial.c
  arch/arm/src/s32k3xx/s32k3xx_serial.c
Labels: Arch: arm, Size: S

#15093 lc823450_dma: use small lock in arch/arm/src/lc823450/lc823450_dma.c
  arch/arm/src/lc823450/lc823450_dma.c
Labels: Arch: arm, Size: S

#15097 litex_serial: use small lock in arch/risc-v/src/litex/litex_serial.c
  arch/risc-v/src/litex/litex_serial.c
Labels: Arch: risc-v, Size: S

#15098 STM32H5 SPI Driver - First Commit
  arch/arm/src/stm32h5/Kconfig
  arch/arm/src/stm32h5/Make.defs
  arch/arm/src/stm32h5/hardware/stm32h56xxx_pinmap.h
  arch/arm/src/stm32h5/hardware/stm32h5xxx_rcc.h
  arch/arm/src/stm32h5/stm32_spi.c
  arch/arm/src/stm32h5/stm32_spi.h
  arch/arm/src/stm32h5/stm32h5xx_rcc.c
Labels: Arch: arm, Size: XL

#15103 limits/path: replace CONFIG_PATH_MAX to PATH_MAX to ensure consistency
  binfmt/binfmt_execmodule.c
  drivers/devicetree/fdt.c
Labels: Area: Drivers, Size: S, Area: BINFMT

#15105 arm/cxd56xx: Add g_ prefix to rtc spin lock
  arch/arm/src/cxd56xx/cxd56_rtc.c
Labels: Arch: arm, Size: S

#15106 syslog: allow microsecond on user specific time format
  drivers/syslog/Kconfig
Labels: Area: Drivers, Size: XS

#15090 netconfig.h:modify netconfig to support communicating in slave core
  include/nuttx/net/netconfig.h
Labels: Area: Networking, Size: XS

#15080 xtensa/esp32: encrypted MTD for partition offset
  arch/xtensa/src/esp32/esp32_partition.c
  arch/xtensa/src/esp32s3/esp32s3_partition.c
Labels: Arch: xtensa, Size: XS

#15107 gcov.c: Add necessary instrumentation functions
  libs/libbuiltin/libgcc/gcov.c
Labels: Area: OS Components, Size: XS

#15119 docs: Fix example ina226
  Documentation/applications/examples/ina226/index.rst
Labels: Area: Documentation, Size: XS

#15117 {bp-15103} limits/path: replace CONFIG_PATH_MAX to PATH_MAX to ensure consistency
  binfmt/binfmt_execmodule.c
  drivers/devicetree/fdt.c
Labels: Area: Drivers, Size: S, Area: BINFMT

#15113 {bp-15095} fix nxstyle
  arch/arm/src/at32/at32_gpio.h
  arch/arm/src/at32/at32_tim.c
  arch/arm/src/at32/at32_uid.c
  arch/arm/src/at32/hardware/at32_adc_v1.h
  arch/arm/src/at32/hardware/at32_can.h
  arch/arm/src/at32/hardware/at32f43xxx_rcc.h
  arch/arm/src/at32/hardware/at32f43xxx_syscfg.h
  arch/arm/src/at32/hardware/at32f43xxx_uart.h
  arch/arm/src/gd32f4/gd32f4xx_progmem.c
  arch/arm/src/imxrt/hardware/imxrt_flexio.h
  arch/arm/src/imxrt/hardware/rt117x/imxrt117x_pmu.h
  arch/arm/src/stm32/hardware/stm32_flash.h
  arch/arm/src/stm32/stm32_lowputc.c
  arch/arm/src/stm32h5/hardware/stm32_adc.h
  arch/arm/src/stm32h5/stm32_lowputc.c
  arch/arm/src/stm32u5/hardware/stm32u5xx_spi.h
  arch/arm/src/stm32u5/hardware/stm32u5xx_syscfg.h
  arch/arm/src/xmc4/xmc4_lowputc.c
  arch/arm64/include/rk3399/chip.h
  arch/arm64/include/zynq-mpsoc/chip.h
  arch/arm64/src/imx9/hardware/imx9_enet.h
  arch/risc-v/src/hpm6000/hardware/hpm6300/hpm6300_sysctl.h
  boards/arm/at32/at32f437-mini/src/at32_at24.c
  boards/arm/stm32/nucleo-f429zi/src/stm32_appinitialize.c
  boards/arm/stm32h5/nucleo-h563zi/include/board.h
  boards/xtensa/esp32s3/esp32s3-devkit/include/board.h
  fs/mnemofs/mnemofs_ctz.c
  include/nuttx/lin.h
  include/nuttx/timers/pwm.h
Labels: Arch: arm, Arch: arm64, Arch: risc-v, Area: Drivers, Area: File System, Area: OS Components, Size: M, Board: arm, Board: xtensa

#15114 {bp-15096} s32k3xx_serial: use small lock in arch/arm/src/s32k3xx/s32k3xx_serial.c
  arch/arm/src/s32k3xx/s32k3xx_serial.c
Labels: Arch: arm, Size: S

#15111 {bp-15093} lc823450_dma: use small lock in arch/arm/src/lc823450/lc823450_dma.c
  arch/arm/src/lc823450/lc823450_dma.c
Labels: Arch: arm, Size: S

#15108 {bp-15091} build(CMAKE): fix pac sim elf ONLY in Linux platform
  boards/sim/sim/sim/CMakeLists.txt
Labels: Size: XS, Board: simulator

#15112 {bp-15094} max32660_rtc: use small lock in arch/arm/src/max326xx/max32660/max32660 rtc
  arch/arm/src/max326xx/max32660/max32660_rtc.c
Labels: Arch: arm, Size: S

#15110 {bp-15092} cxd56_rtc.c: use small lock in arch/arm/src/cxd56xx/cxd56_rtc.c
  arch/arm/src/cxd56xx/cxd56_rtc.c
Labels: Arch: arm, Size: S

#15109 [sensors]: Removed the unnecessary inclusion of spi header files
  boards/arm/mx8mp/verdin-mx8mp/src/mx8mp_ina219.c
  boards/arm/rp2040/common/src/rp2040_ina219.c
  boards/arm/stm32/common/src/stm32_apds9960.c
  boards/arm/stm32/common/src/stm32_ina219.c
  boards/arm/stm32/common/src/stm32_veml6070.c
  boards/risc-v/esp32c3-legacy/common/src/esp32c3_board_apds9960.c
  boards/xtensa/esp32/common/src/esp32_board_apds9960.c
Labels: Size: XS, Board: arm, Board: risc-v, Board: xtensa

#15118 net/tcp_timer: fix tcp RTO abnormally large after retransmission occurs
  net/tcp/tcp_timer.c
Labels: Area: Networking, Size: XS

#15082 xtensa/esp32s3: add lock for async operation work
  arch/xtensa/src/esp32s3/esp32s3_spiflash_mtd.c
Labels: Arch: xtensa, Size: XS

#15102 Documentation: Remove CONFIG_ARMV7M_USEBASEPRI from code base
  Documentation/guides/renode.rst
  Documentation/guides/zerolatencyinterrupts.rst
  Documentation/platforms/arm/stm32f3/boards/stm32f3discovery/index.rst
  Documentation/platforms/arm/stm32l1/boards/stm32ldiscovery/index.rst
Labels: Area: Documentation, Size: S

#15121 document/drivertest: add more information in drivertest
  Documentation/applications/testing/drivertest/index.rst
Labels: Area: Documentation, Size: XS

#15120 libc/chdir: chdir/fchdir should not depend on environment variables
  libs/libc/unistd/CMakeLists.txt
  libs/libc/unistd/Make.defs
  libs/libc/unistd/lib_chdir.c
  libs/libc/unistd/lib_fchdir.c
Labels: Area: OS Components, Size: S

#15115 {bp-15097} litex_serial: use small lock in arch/risc-v/src/litex/litex_serial.c
  arch/risc-v/src/litex/litex_serial.c
Labels: Arch: risc-v, Size: S

#15122 Documentation: Tweak text about Zero Latency Interrupts
  Documentation/guides/zerolatencyinterrupts.rst
Labels: Area: Documentation, Size: S

#15135 {bp-15118} net/tcp_timer: fix tcp RTO abnormally large after retransmission occurs
  net/tcp/tcp_timer.c
Labels: Area: Networking, Size: XS

#15131 {bp-15105} arm/cxd56xx: Add g_ prefix to rtc spin lock
  arch/arm/src/cxd56xx/cxd56_rtc.c
Labels: Arch: arm, Size: S

#15144 arch/arm64/imx9: Fix usdhc dma receive
  arch/arm64/src/imx9/imx9_usdhc.c
Labels: Arch: arm64, Size: XS

#15143 xtensa/esp32s3: Update the reserved size for struct __lock
  arch/xtensa/src/common/espressif/platform_include/sys/lock.h
Labels: Arch: xtensa, Size: XS

#15146 [ci] macOS platforms: added LLVM toolchain for Arm
  tools/ci/platforms/darwin.sh
  tools/ci/platforms/darwin_arm64.sh
Labels: Area: Tooling, Area: CI, Size: S

#15145 drivers/bch: Drivers may not support command `BIOC_FLUSH`
  drivers/bch/bchdev_driver.c
Labels: Area: Drivers, Size: XS

#15123 binfmt/modlib: reduce size of binary_s if CONFIG_LIBC_MODLIB is disabled
  include/nuttx/binfmt/binfmt.h
Labels: Size: XS, Area: BINFMT

#15147 Fix Kconfig style
  arch/arm/src/stm32h5/Kconfig
  arch/xtensa/src/common/espressif/Kconfig
Labels: Arch: arm, Arch: xtensa, Size: S

#14444 fs/inode: refresh tcb after each file sync() is completed
  fs/inode/fs_files.c
Labels: Area: File System, Size: S

#15149 procfs:fix cmdline overflow bug
  fs/procfs/fs_procfsproc.c
Labels: Area: File System, Size: XS

#15124 binfmt/loadable: move binary_s to stack to avoid access allocator
  binfmt/binfmt_exec.c
Labels: Size: S, Area: BINFMT

#15139 sched/clock: call up_timer_gettime() to get higher resolution
  include/nuttx/clock.h
  sched/clock/clock.h
  sched/clock/clock_systime_ticks.c
  sched/clock/clock_systime_timespec.c
Labels: Area: OS Components, Size: S

#15151 sched/clock: cleanup g_system_ticks reference if arch timer is enabled
  sched/clock/clock.h
  sched/clock/clock_initialize.c
Labels: Area: OS Components, Size: S

#15159 fs/shm/shmfs_alloc.c: Allocate zero-initialized memory in flat build
  fs/shm/shmfs_alloc.c
Labels: Area: File System, Size: S

#15128 Documentation/guides: add the guide:how to port.
  Documentation/guides/image/port_bootsequence-12.4.0.png
  Documentation/guides/index.rst
  Documentation/guides/port.rst
  Documentation/guides/port_arm_cm4.rst
  Documentation/guides/port_bootsequence.rst
  Documentation/guides/port_relatedkernelconfigrations.rst
Labels: Area: Documentation, Size: XL

#15156 {bp-15144} arch/arm64/imx9: Fix usdhc dma receive
  arch/arm64/src/imx9/imx9_usdhc.c
Labels: Arch: arm64, Size: XS

#15155 {bp-15143} xtensa/esp32s3: Update the reserved size for struct __lock
  arch/xtensa/src/common/espressif/platform_include/sys/lock.h
Labels: Arch: xtensa, Size: XS

#15154 {bp-15127} esp/mcpwm: fix unpaired spin lock
  arch/risc-v/src/common/espressif/esp_mcpwm.c
  arch/xtensa/src/common/espressif/esp_mcpwm.c
Labels: Arch: risc-v, Arch: xtensa, Size: S

#15152 sem: remove the additional assignment.
  sched/semaphore/sem_trywait.c
  sched/semaphore/sem_wait.c
Labels: Area: OS Components, Size: XS

#15165 rv-virt/citest: Increase init task stack size to 3072
  boards/risc-v/qemu-rv/rv-virt/configs/citest/defconfig
Labels: Size: XS, Board: risc-v

#15166 arch: cxd56xx: Fix not restart after TX error
  arch/arm/src/cxd56xx/cxd56_i2c.c
Labels: Arch: arm, Size: XS

#15167 fs/fat/fs_fat32util.c: fix potential exception due to dividing zero during mounting when fat is corrupted
  fs/fat/fs_fat32util.c
Labels: Area: File System, Size: XS

#15176 {bp-15160} binfmt/exec: initialize binary_s to empty to avoid invaild access
  binfmt/binfmt_exec.c
Labels: Size: S, Area: BINFMT

#15174 {bp-15166} arch: cxd56xx: Fix not restart after TX error
  arch/arm/src/cxd56xx/cxd56_i2c.c
Labels: Arch: arm, Size: XS

#15173 {bp-15165} rv-virt/citest: Increase init task stack size to 3072
  boards/risc-v/qemu-rv/rv-virt/configs/citest/defconfig
Labels: Size: XS, Board: risc-v

#15141 xtensa: support coredump by register set alignment
  arch/xtensa/include/elf.h
  arch/xtensa/src/common/xtensa_tcbinfo.c
Labels: Arch: xtensa, Size: S

#15169 fix a few tools/ci/cibuild.sh failures on my environment (macOS 15.1.1, x86-64, xcode 16.1)
  tools/ci/platforms/darwin.sh
Labels: Area: Tooling, Area: CI, Size: S

#15171 riscv_percpu: Replace critical section with irqsave/irqrestore
  arch/risc-v/src/common/riscv_percpu.c
Labels: Arch: risc-v, Size: XS

#15180 remove fl_crefs
  fs/inode/fs_files.c
  include/nuttx/fs/fs.h
  tools/gdb/nuttxgdb/protocols/fs.py
Labels: Area: Tooling, Area: File System, Size: S

#15184 arm64/imx9: tpm: fix TPM_FILTER_CHXFVAL_MASK macro
  arch/arm64/src/imx9/hardware/imx9_tpm.h
Labels: Arch: arm64, Size: XS

#15181 tools/ci/platforms/darwin.sh: bump bloaty version
  tools/ci/platforms/darwin.sh
Labels: Area: Tooling, Area: CI, Size: XS

#15185 [cmake] windows native: fixed FAILED: System.map
  CMakeLists.txt
Labels: Area: Build system, Size: XS

#15183 lpuart: fix build errors for SINGLEWIRE and INVERT without SERIAL_TERMIOS
  arch/arm/src/imxrt/imxrt_serial.c
  arch/arm/src/s32k3xx/s32k3xx_serial.c
  arch/arm64/src/imx9/imx9_lpuart.c
Labels: Arch: arm, Arch: arm64, Size: S

#15182 sensors: fix Make.defs for bmm150
  drivers/sensors/Make.defs
Labels: Area: Sensors, Size: XS

#15163 use atomic to protect f_refs
  fs/inode/fs_files.c
  include/nuttx/fs/fs.h
Labels: Area: File System, Size: S

#15191 fix a typo
  include/cxx/cmath
Labels: Size: XS

#15194 {bp-15184} arm64/imx9: tpm: fix TPM_FILTER_CHXFVAL_MASK macro
  arch/arm64/src/imx9/hardware/imx9_tpm.h
Labels: Arch: arm64, Size: XS

#15193 {bp-15183} lpuart: fix build errors for SINGLEWIRE and INVERT without SERIAL_TER…
  arch/arm/src/imxrt/imxrt_serial.c
  arch/arm/src/s32k3xx/s32k3xx_serial.c
  arch/arm64/src/imx9/imx9_lpuart.c
Labels: Arch: arm, Arch: arm64, Size: S

#15195 {bp-15185} windows native: fixed FAILED: System.map
  CMakeLists.txt
Labels: Area: Build system, Size: XS

#15192 {bp-15182} sensors: fix Make.defs for bmm150
  drivers/sensors/Make.defs
Labels: Area: Sensors, Size: XS

#15201 tools/macar-qcs.sh: migrate license to ASF
  tools/macar-qcs.sh
Labels: Area: Tooling, Size: S

#15202 fs: fix comment in https://github.com/apache/nuttx/pull/15163
  fs/inode/fs_files.c
Labels: Area: File System, Size: S

#15204 fs/littlefs/Make.defs: fix a littlefs unpack regression
  fs/littlefs/Make.defs
Labels: Area: File System, Size: XS

#15207 delete "begin_packed_struct" and "end_packed_struct"
  include/nuttx/can/can.h
Labels: Size: XS

#15210 libxx: Make LIBCXXABI default for sim/macOS
  libs/libxx/Kconfig
Labels: Area: OS Components, Size: XS

#15198 lib_pathbuffer.c:Use atomic instead of locks
  libs/libc/misc/lib_pathbuffer.c
Labels: Area: OS Components, Size: S

#15216 {bp-15204} fs/littlefs/Make.defs: fix a littlefs unpack regression
  fs/littlefs/Make.defs
Labels: Area: File System, Size: XS

#15215 {bp-15207} nuttx/can.h: delete "begin_packed_struct" and "end_packed_struct" qualifier
  include/nuttx/can/can.h
Labels: Size: XS

#15197 libs/libc/stdlib: update BSD 4 -> 3 clause license headers.
  libs/libc/stdlib/lib_bsearch.c
  libs/libc/stdlib/lib_qsort.c
Labels: Area: OS Components, Size: S

#15209 sim: Fix build errors on macOS
  boards/sim/sim/sim/scripts/Make.defs
Labels: Size: XS, Board: simulator

#15222 lc823450_rtc: use small lock in arch/arm/src/lc823450/lc823450_rtc.c
  arch/arm/src/lc823450/lc823450_rtc.c
Labels: Arch: arm, Size: S

#15225 esp32c3_rtc: use small lock in arch/risc-v/src/esp32c3-legacy/esp32c3_rtc.c
  arch/risc-v/src/esp32c3-legacy/esp32c3_rtc.c
Labels: Arch: risc-v, Size: S

#15229 max32660_rtc: change spinlock name g_lock -> g_rtc_lock
  arch/arm/src/max326xx/max32660/max32660_rtc.c
Labels: Arch: arm, Size: S

#15224 boards/sim/sim/sim/scripts/Make.defs: simplify a bit
  boards/sim/sim/sim/scripts/Make.defs
Labels: Size: S, Board: simulator

#15221 esp32s3_rtc: use small lock in arch/xtensa/src/esp32s3/esp32s3_rtc.c
  arch/xtensa/src/esp32s3/esp32s3_rtc.c
Labels: Arch: xtensa, Size: S

#15220 fix a typo
  libs/libc/machine/arch_atomic.c
Labels: Area: OS Components, Size: XS

#15230 enable CONFIG_PIPES where CONFIG_LIBUV is enabled
  boards/sim/sim/sim/configs/lua/defconfig
Labels: Size: XS, Board: simulator

#15219 gpio: use small lock to protect configgpio
  arch/arm/src/at32/at32_gpio.c
  arch/arm/src/eoss3/eoss3_gpio.c
  arch/arm/src/nuc1xx/nuc_gpio.c
  arch/arm/src/sam34/sam4l_gpio.c
  arch/arm/src/sam34/sam_gpio.c
  arch/arm/src/samv7/sam_gpio.c
  arch/arm/src/stm32/stm32_gpio.c
  arch/arm/src/stm32f0l0g0/stm32_gpio.c
  arch/arm/src/stm32f7/stm32_gpio.c
  arch/arm/src/stm32h5/stm32_gpio.c
  arch/arm/src/stm32h7/stm32_gpio.c
  arch/arm/src/stm32l4/stm32l4_gpio.c
  arch/arm/src/stm32l5/stm32l5_gpio.c
  arch/arm/src/stm32u5/stm32_gpio.c
  arch/arm/src/stm32wb/stm32wb_gpio.c
  arch/arm/src/stm32wl5/stm32wl5_gpio.c
  arch/arm/src/tiva/cc13xx/cc13xx_gpio.c
  arch/arm/src/tiva/lm/lm3s_gpio.c
  arch/arm/src/tiva/lm/lm4f_gpio.c
  arch/arm/src/tiva/tm4c/tm4c_gpio.c
  arch/hc/src/m9s12/m9s12_gpio.c
  arch/mips/src/pic32mx/pic32mx_gpio.c
  arch/mips/src/pic32mz/pic32mz_gpio.c
  arch/risc-v/src/bl602/bl602_gpio.c
Labels: Arch: arm, Arch: hc, Arch: mips, Arch: risc-v, Size: M

#15188 Add support for the BCM2711
  .gitignore
  Documentation/platforms/arm64/bcm2711/boards/raspberrypi-4b/index.rst
  Documentation/platforms/arm64/bcm2711/boards/raspberrypi-4b/raspberrypi-4b.png
  Documentation/platforms/arm64/bcm2711/index.rst
  arch/arm64/Kconfig
  arch/arm64/include/bcm2711/chip.h
  arch/arm64/include/bcm2711/irq.h
  arch/arm64/src/bcm2711/Kconfig
  arch/arm64/src/bcm2711/Make.defs
  arch/arm64/src/bcm2711/bcm2711_boot.c
  arch/arm64/src/bcm2711/bcm2711_boot.h
  arch/arm64/src/bcm2711/bcm2711_gpio.c
  arch/arm64/src/bcm2711/bcm2711_gpio.h
  arch/arm64/src/bcm2711/bcm2711_i2c.c
  arch/arm64/src/bcm2711/bcm2711_i2c.h
  arch/arm64/src/bcm2711/bcm2711_lowputc.c
  arch/arm64/src/bcm2711/bcm2711_serial.c
  arch/arm64/src/bcm2711/bcm2711_serial.h
  arch/arm64/src/bcm2711/bcm2711_spi.c
  arch/arm64/src/bcm2711/bcm2711_spi.h
  arch/arm64/src/bcm2711/bcm2711_timer.c
  arch/arm64/src/bcm2711/chip.h
  arch/arm64/src/bcm2711/hardware/bcm2711_armtimer.h
  arch/arm64/src/bcm2711/hardware/bcm2711_aux.h
  arch/arm64/src/bcm2711/hardware/bcm2711_bsc.h
  arch/arm64/src/bcm2711/hardware/bcm2711_dma.h
  arch/arm64/src/bcm2711/hardware/bcm2711_gpclk.h
  arch/arm64/src/bcm2711/hardware/bcm2711_gpio.h
  arch/arm64/src/bcm2711/hardware/bcm2711_irq.h
  arch/arm64/src/bcm2711/hardware/bcm2711_mailbox.h
  arch/arm64/src/bcm2711/hardware/bcm2711_memmap.h
  arch/arm64/src/bcm2711/hardware/bcm2711_pcm.h
  arch/arm64/src/bcm2711/hardware/bcm2711_pwm.h
  arch/arm64/src/bcm2711/hardware/bcm2711_spi.h
  arch/arm64/src/bcm2711/hardware/bcm2711_systimer.h
  arch/arm64/src/bcm2711/hardware/bcm2711_uart.h
  boards/Kconfig
  boards/arm64/bcm2711/raspberrypi-4b/Kconfig
  boards/arm64/bcm2711/raspberrypi-4b/configs/nsh/defconfig
  boards/arm64/bcm2711/raspberrypi-4b/include/board.h
  boards/arm64/bcm2711/raspberrypi-4b/scripts/Make.defs
  boards/arm64/bcm2711/raspberrypi-4b/scripts/dramboot.ld
  boards/arm64/bcm2711/raspberrypi-4b/src/Makefile
  boards/arm64/bcm2711/raspberrypi-4b/src/bcm2711_i2cdev.c
  boards/arm64/bcm2711/raspberrypi-4b/src/bcm2711_i2cdev.h
  boards/arm64/bcm2711/raspberrypi-4b/src/rpi4b.h
  boards/arm64/bcm2711/raspberrypi-4b/src/rpi4b_appinit.c
  boards/arm64/bcm2711/raspberrypi-4b/src/rpi4b_boardinitialize.c
  boards/arm64/bcm2711/raspberrypi-4b/src/rpi4b_bringup.c
  boards/arm64/bcm2711/raspberrypi-4b/src/rpi4b_gpio.c
  tools/bcm2711/.gitignore
  tools/bcm2711/Config.mk
  tools/bcm2711/bootfiles.sh
Labels: Area: Documentation, Area: Tooling, Arch: arm64, Size: XL, Board: arm64

#15199 arm-m armv7a riscv32 :use cfi in irq asm function, make a debug frame
  arch/arm/src/armv6-m/arm_exception.S
  arch/arm/src/armv7-a/arm_vectors.S
  arch/arm/src/armv7-m/arm_exception.S
  arch/arm/src/armv8-m/arm_exception.S
  arch/risc-v/src/common/riscv_exception_common.S
Labels: Arch: arm, Arch: risc-v, Size: S

#15238 some replacements were omitted.
  arch/arm/src/samv7/sam_gpio.c
Labels: Arch: arm, Size: XS

#15236 {bp-15230} enable CONFIG_PIPES where CONFIG_LIBUV is enabled
  boards/sim/sim/sim/configs/lua/defconfig
Labels: Size: XS, Board: simulator

#15218 {bp-15197} libs/libc/stdlib: remove BSD-4 clause code
  libs/libc/stdlib/lib_bsearch.c
  libs/libc/stdlib/lib_qsort.c
Labels: Area: OS Components, Size: S
