Repository apache/nuttx, pull requests merged in 2024-09, with the labels that each got.

#13547 arch/risc-v/src/litex_ticked: Set initial tick count to known value.
  arch/risc-v/src/litex/litex_ticked.c
Labels: Size: XS

#13555 Fix greater-than-or-equal-to-zero issue
  libs/libc/tls/tls_cleanup.c
Labels: Size: XS

#13554 i2c: Optimize access to private data
  drivers/i2c/i2c_driver.c
Labels: Size: S

#13557 arm/qemu: Add mounting of tmpfs
  boards/arm/qemu/qemu-armv7a/src/qemu_bringup.c
Labels: Size: S

#13545 github: add specifier to github issue labels
  .github/ISSUE_TEMPLATE/001_bug_report.yml
  .github/ISSUE_TEMPLATE/002_feature_request.yml
  .github/ISSUE_TEMPLATE/003_help.yml
  .github/workflows/issue_labeler.yml
Labels: Size: M

#13456 pthread_mutex:add deadlock assert
  sched/pthread/pthread_mutex.c
Labels: Size: S

#13539 sensor_rpmsg.c:Fix that "stub" will be created when local core only has subscribers.
  drivers/sensors/sensor_rpmsg.c
Labels: Size: XS

#13428 gdb plugin: Encapsulate the gdb native command gcore as nxgcore
  Documentation/quickstart/debugging.rst
  tools/gdb/gcore.py
Labels: Size: M

#13561 riscv: g_current_regs is only used to determine if we are in irq
  arch/risc-v/src/common/riscv_doirq.c
  arch/risc-v/src/common/riscv_internal.h
  arch/risc-v/src/common/riscv_schedulesigaction.c
  arch/risc-v/src/common/riscv_swint.c
  arch/risc-v/src/common/supervisor/riscv_perform_syscall.c
Labels: Arch: risc-v, Size: M

#13549 lzf:Add macro judgment to header file reference.
  include/nuttx/streams.h
Labels: Size: XS

#13563 esp32s3: Fix faulty `esp32s3-devkit:stack` example
  arch/xtensa/include/irq.h
  boards/xtensa/esp32s3/common/scripts/legacy_sections.ld
  boards/xtensa/esp32s3/common/scripts/mcuboot_sections.ld
  boards/xtensa/esp32s3/common/scripts/simple_boot_sections.ld
Labels: Arch: xtensa, Area: Board support, Size: XS

#13538 sensor:Fixed the problem of user information lag in cross-core communication "stublist".
  drivers/sensors/sensor.c
  drivers/sensors/sensor_rpmsg.c
Labels: Area: Sensors, Size: S

#13429 arm64_task/pthread_start: Convert the C / inline ASM code to assembly
  arch/arm64/src/common/arm64_internal.h
  arch/arm64/src/common/arm64_pthread_start.c
  arch/arm64/src/common/arm64_task_start.c
  arch/arm64/src/common/arm64_vectors.S
Labels: Size: S

#13565 arm/stm32f401rc-rs485: Add support to LCD 16x2 with I2C Backpack
  Documentation/platforms/arm/stm32f4/boards/stm32f401rc-rs485/index.rst
  boards/arm/stm32/stm32f401rc-rs485/configs/lcd1602/defconfig
  boards/arm/stm32/stm32f401rc-rs485/src/stm32_bringup.c
Labels: Area: Documentation, Area: Board support, Size: M

#13570 can: Add g_ prefix to can_dlc_to_len and len_to_can_dlc.
  Documentation/components/net/socketcan.rst
Labels: Area: Documentation, Size: XS

#13576 drivers/syslog: compile syslog_device.c if console/char/file channel enabled
  drivers/syslog/CMakeLists.txt
  drivers/syslog/Make.defs
Labels: Size: XS

#13573 fs/chmod/fchmod/lchmod: only set permissions by mode_t and ignore othjer bits
  fs/vfs/fs_chstat.c
  fs/vfs/fs_fchstat.c
Labels: Area: File System, Size: S

#13581 SAMA5 sam_mcan.c unitialized variable
  arch/arm/src/sama5/sam_mcan.c
Labels: Arch: arm, Size: XS

#13551 arch/x86_64:Add FP backtrace function
  arch/Kconfig
  arch/x86_64/Kconfig
  arch/x86_64/src/common/Toolchain.defs
  arch/x86_64/src/intel64/CMakeLists.txt
  arch/x86_64/src/intel64/Make.defs
  arch/x86_64/src/intel64/intel64_backtrace_fp.c
  arch/x86_64/src/intel64/intel64_handlers.c
  arch/x86_64/src/intel64/intel64_initialstate.c
  arch/x86_64/src/intel64/intel64_regdump.c
Labels: Arch: x86_64, Size: M

#13568 Revert "pthread_mutex:add deadlock assert"
  sched/pthread/pthread_mutex.c
Labels: Area: OS Components, Size: S

#13583 misc/rpmsgdev: Fix invalid pointer error
  drivers/misc/rpmsgdev_server.c
Labels: Size: S

#13571 syslog/channel: rename syslog_channel() to syslog_channel_register()
  Documentation/components/drivers/special/syslog.rst
  arch/arm/src/armv7-m/arm_itm_syslog.c
  arch/arm/src/armv8-m/arm_itm_syslog.c
  drivers/syslog/syslog.h
  drivers/syslog/syslog_channel.c
  drivers/syslog/syslog_consolechannel.c
  drivers/syslog/syslog_devchannel.c
  drivers/syslog/syslog_filechannel.c
  drivers/syslog/syslog_initialize.c
  include/nuttx/syslog/syslog.h
Labels: Area: Documentation, Arch: arm, Size: S

#13586 drivers/modem/alt1250: Fix issue where the program would get stuck
  drivers/modem/alt1250/alt1250.c
Labels: Size: S

#13591 cmake(bugfix):make sure the extra_lib only added once
  cmake/nuttx_add_library.cmake
Labels: Area: Build system, Size: XS

#13418 sched: add nxsched_remove_self
  sched/mqueue/mq_rcvinternal.c
  sched/mqueue/mq_sndinternal.c
  sched/mqueue/msgrcv.c
  sched/mqueue/msgsnd.c
  sched/paging/pg_miss.c
  sched/sched/sched.h
  sched/sched/sched_removereadytorun.c
  sched/semaphore/sem_wait.c
  sched/signal/sig_suspend.c
  sched/signal/sig_timedwait.c
  sched/task/task_exit.c
Labels: Size: M

#13587 net/usrsock: Clear usockid when USRSOCK_EVENT_ABORT is received
  net/usrsock/usrsock.h
  net/usrsock/usrsock_close.c
  net/usrsock/usrsock_conn.c
  net/usrsock/usrsock_event.c
Labels: Area: Networking, Size: XS

#13592 libc/pathbuffer: fix build warning on tasking
  libs/libc/misc/lib_pathbuffer.c
Labels: Area: OS Components, Size: XS

#13593 arch/tricore: fix build error on tricore
  arch/tricore/src/common/tricore_doirq.c
  arch/tricore/src/common/tricore_svcall.c
Labels: Arch: tricore, Size: XS

#13582 tools/doreleasenotes
  tools/doreleasenotes.py
Labels: Area: Tooling, Size: M

#13595 drivers/rpmsg: Using safe list iterating in rpmsg_device_created() to fix list access after delete error
  drivers/rpmsg/rpmsg.c
Labels: Size: XS

#13594 cmake/tricore/tasking: add cmake build for tasking toolchain
  CMakeLists.txt
  arch/tricore/src/CMakeLists.txt
  arch/tricore/src/cmake/Toolchain.cmake
  arch/tricore/src/cmake/ToolchainGnuc.cmake
  arch/tricore/src/cmake/ToolchainTasking.cmake
  arch/tricore/src/cmake/platform.cmake
  arch/tricore/src/cmake/tc3xx.cmake
  arch/tricore/src/tc3xx/CMakeLists.txt
  arch/tricore/src/tc3xx/tc3xx_libc.c
  boards/tricore/tc3xx/tc397/scripts/Lcf_Tasking_Tricore_Tc.lsl
Labels: Area: Build system, Arch: tricore, Area: Board support, Size: L

#13597 CMake/preprocess: fix typo PREPROCES -> PREPROCESS
  CMakeLists.txt
  arch/arm/src/cmake/platform.cmake
  arch/arm64/src/cmake/platform.cmake
  arch/risc-v/src/cmake/platform.cmake
  arch/tricore/src/cmake/platform.cmake
  arch/x86_64/src/cmake/platform.cmake
Labels: Area: Build system, Arch: arm, Arch: arm64, Arch: risc-v, Arch: tricore, Arch: x86_64, Size: S

#13598 arm: we should use tcb->xcp.regs instead of up_current_regs()
  arch/arm/src/armv6-m/arm_svcall.c
  arch/arm/src/armv7-m/arm_svcall.c
  arch/arm/src/armv8-m/arm_svcall.c
Labels: Arch: arm, Size: XS

#13589 net/tcp: Fix TCP keepalive time unit misuse problem
  net/tcp/tcp_timer.c
Labels: Area: Networking, Size: S

#13603 drivers/mmcsd/mmcsd_sdio.c: Fix setting SDIO_WIDEBUS for SD cards
  drivers/mmcsd/mmcsd_sdio.c
Labels: Size: XS

#13608 ci/platforms/msys2.sh: update esptool version and switch Wget to cURL tool
  tools/ci/platforms/msys2.sh
Labels: Area: Tooling, Area: CI, Size: S

#13605 Mpfs emmcsd fixes
  arch/risc-v/src/mpfs/mpfs_emmcsd.c
Labels: Arch: risc-v, Size: M

#13613 [arm/xmc4] added register description for ERU and POSIF peripherals
  arch/arm/src/xmc4/hardware/xmc4_eru.h
  arch/arm/src/xmc4/hardware/xmc4_eru_pinmap.h
  arch/arm/src/xmc4/hardware/xmc4_posif.h
Labels: Arch: arm, Size: L

#13602 arch/risc-v/src/common/riscv_initialstate.c: Fix stack pointer in coloration
  arch/risc-v/src/common/riscv_initialstate.c
Labels: Arch: risc-v, Size: XS

#13596 drivers/rpmsg: replace metal_list_for_each to safety version
  drivers/rpmsg/rpmsg.c
Labels: Size: XS

#13625 mpfs_mpucfg.h: Add missing MPUCFG registers
  arch/risc-v/src/mpfs/hardware/mpfs_mpucfg.h
Labels: Arch: risc-v, Size: S

#13622 fs_rammap:Check last fileseek restore fpos
  fs/mmap/fs_rammap.c
Labels: Area: File System, Size: S

#13620 Pci map bar
  drivers/pci/pci.c
  include/nuttx/pci/pci.h
Labels: Size: M, Area: PCI

#13612 riscv: Remove some unnecessary macro guards
  arch/risc-v/src/common/riscv_cpuindex.c
  arch/risc-v/src/common/riscv_fpucmp.c
Labels: Arch: risc-v, Size: XS

#13630 audio: Fix caps initialization in pcm_enqueuebuffer()
  audio/pcm_decode.c
Labels: Size: XS, Area: Audio

#13641 ci/platforms: linux.sh ubuntu.sh switch Wget to cURL tool
  tools/ci/platforms/linux.sh
  tools/ci/platforms/ubuntu.sh
Labels: Area: Tooling, Area: CI, Size: S

#13642 ci/platforms/darwin.sh: switch Wget to cURL tool
  tools/ci/platforms/darwin.sh
Labels: Area: Tooling, Area: CI, Size: S

#13634 greenhills support: fix the arc4random build error
  crypto/CMakeLists.txt
  crypto/Makefile
Labels: Size: XS, Area: Crypto

#13635 greenhills support: fix the arm_signal_handler.S build error
  arch/arm/src/common/gnu/arm_signal_handler.S
Labels: Arch: arm, Size: XS

#13601 xtensa/esp32s3: Adding the ioctl interface ota_set_bootseq()
  arch/xtensa/src/esp32s3/esp32s3_partition.c
Labels: Arch: xtensa, Size: S

#13617 imx8qm-mek: Fix early print
  arch/arm64/src/imx8/imx8qm_lowputc.S
Labels: Arch: arm64, Size: XS

#13621 add pci irq interface
  arch/x86_64/include/irq.h
  arch/x86_64/src/common/x86_64_pci.c
  arch/x86_64/src/intel64/intel64_irq.c
  drivers/pci/pci.c
  include/nuttx/arch.h
  include/nuttx/pci/pci.h
Labels: Arch: x86_64, Size: M, Area: PCI

#13632 xtensa_macros.S: fix tab/space mismatches
  arch/xtensa/src/common/xtensa_macros.S
Labels: Arch: xtensa, Size: S

#13626 BCH: Passing `BIOC_FLUSH` to block driver
  drivers/bch/bchdev_driver.c
Labels: Size: S

#13446 Debug option:change -g to -g3, add macro information to elf
  Kconfig
  arch/arm/src/cmake/Toolchain.cmake
  arch/arm/src/common/Toolchain.defs
  arch/arm64/src/Toolchain.defs
  arch/arm64/src/cmake/Toolchain.cmake
  arch/avr/src/avr32/Toolchain.defs
  arch/ceva/src/xc5/Toolchain.defs
  arch/ceva/src/xm6/Toolchain.defs
  arch/mips/src/mips32/Toolchain.defs
  arch/misoc/src/lm32/Toolchain.defs
  arch/misoc/src/minerva/Toolchain.defs
  arch/or1k/src/mor1kx/Toolchain.defs
  arch/risc-v/src/cmake/Toolchain.cmake
  arch/risc-v/src/common/Toolchain.defs
  arch/sim/src/cmake/Toolchain.cmake
  arch/sparc/src/sparc_v8/Toolchain.defs
  arch/tricore/src/cmake/Toolchain.cmake
  arch/x86_64/src/cmake/Toolchain.cmake
  arch/x86_64/src/common/Toolchain.defs
  arch/xtensa/src/lx6/Toolchain.defs
  arch/xtensa/src/lx7/Toolchain.defs
  arch/z80/src/ez80/Toolchain.defs
  boards/arm/sama5/jupiter-nano/scripts/Make.defs
  boards/hc/m9s12/demo9s12ne64/scripts/Make.defs
  boards/hc/m9s12/ne64badge/scripts/Make.defs
  boards/renesas/m16c/skp16c26/scripts/Make.defs
  boards/renesas/rx65n/rx65n-grrose/scripts/Make.defs
  boards/renesas/rx65n/rx65n-rsk1mb/scripts/Make.defs
  boards/renesas/rx65n/rx65n-rsk2mb/scripts/Make.defs
  boards/renesas/rx65n/rx65n/scripts/Make.defs
  boards/renesas/sh1/us7032evb1/scripts/Make.defs
  boards/sim/sim/sim/scripts/Make.defs
Labels: Arch: arm, Arch: arm64, Arch: avr, Arch: ceva, Arch: mips, Arch: openrisc, Arch: risc-v, Arch: simulator, Arch: sparc, Arch: tricore, Arch: x86_64, Arch: xtensa, Arch: z80, Area: Board support, Size: S

#13647 Merge cd_error and rx_overflow into rx_error.
  drivers/can/can.c
  include/nuttx/can/can.h
Labels: Size: M

#13651 arch: change nxsched_suspend/resume_scheduler() called position
  arch/arm/src/arm/arm_doirq.c
  arch/arm/src/armv6-m/arm_doirq.c
  arch/arm/src/armv7-a/arm_doirq.c
  arch/arm/src/armv7-a/arm_syscall.c
  arch/arm/src/armv7-m/arm_doirq.c
  arch/arm/src/armv7-r/arm_doirq.c
  arch/arm/src/armv7-r/arm_syscall.c
  arch/arm/src/armv8-m/arm_doirq.c
  arch/arm/src/armv8-r/arm_doirq.c
  arch/arm/src/armv8-r/arm_syscall.c
  arch/arm/src/common/arm_switchcontext.c
  arch/arm64/src/common/arm64_doirq.c
  arch/arm64/src/common/arm64_switchcontext.c
  arch/arm64/src/common/arm64_syscall.c
  arch/ceva/src/common/ceva_doirq.c
  arch/ceva/src/common/ceva_switchcontext.c
  arch/risc-v/src/common/riscv_doirq.c
  arch/risc-v/src/common/riscv_switchcontext.c
  arch/x86/src/qemu/qemu_handlers.c
  arch/x86_64/src/common/x86_64_switchcontext.c
  arch/x86_64/src/intel64/intel64_handlers.c
  arch/xtensa/src/common/xtensa_irqdispatch.c
  arch/xtensa/src/common/xtensa_switchcontext.c
Labels: Arch: arm, Arch: arm64, Arch: ceva, Arch: risc-v, Arch: x86, Arch: x86_64, Arch: xtensa, Size: M

#13649 cmake(feat): Add support for etc files with absolute paths in romfs CMake module
  cmake/nuttx_add_romfs.cmake
Labels: Area: Build system, Size: S

#13645 syslogstream : init value for lib_syslograwstream_s.last_ch
  libs/libc/stream/lib_syslograwstream.c
Labels: Area: OS Components, Size: XS

#13633 riscv_fork.c: Fix vfork() for kernel mode + SMP
  arch/risc-v/include/irq.h
  arch/risc-v/src/common/riscv_fork.c
  arch/risc-v/src/common/riscv_swint.c
Labels: Arch: risc-v, Size: S

#13584 smartfs: add partial support for FIOC_FILEPATH ioctl
  fs/smartfs/smartfs.h
  fs/smartfs/smartfs_smart.c
Labels: Area: File System, Size: S

#13575 stdio/va_format: move non-standard structure va_format to nuttx/streams.h
  include/nuttx/streams.h
  include/stdio.h
  libs/libc/misc/lib_err.c
Labels: Area: OS Components, Size: S

#13618 libc.h:Fixed the problem of multiple define appearing in arch_xxx.S
  libs/libc/libc.h
Labels: Area: OS Components, Size: XS

#13655 boards/qemu-rv: Correct tmpfs mount path to use CONFIG_LIBC_TMPDIR
  boards/risc-v/qemu-rv/rv-virt/src/qemu_rv_appinit.c
Labels: Area: Board support, Size: XS

#13639 sensor:Update sensor type
  drivers/sensors/sensor.c
  include/nuttx/uorb.h
Labels: Area: Sensors, Size: L

#13619 Pci framework 0926
  drivers/pci/pci.c
Labels: Size: S, Area: PCI

#13662 xtesa: fix lost save & restore states caused by merge code
  arch/xtensa/src/common/xtensa_switchcontext.c
Labels: Arch: xtensa, Size: S

#13585 riscv: use g_running_task store current regs
  arch/risc-v/src/common/riscv_doirq.c
  arch/risc-v/src/common/riscv_exit.c
  arch/risc-v/src/common/riscv_internal.h
  arch/risc-v/src/common/riscv_sigdeliver.c
  arch/risc-v/src/common/riscv_swint.c
  arch/risc-v/src/common/supervisor/riscv_perform_syscall.c
Labels: Arch: risc-v, Size: S

#13637 greenhills support: fix the register variable usage error
  include/nuttx/compiler.h
Labels: Size: XS

#13663 libxx:fix build error when enable LIBCXXTOOLCHAIN
  libs/libxx/CMakeLists.txt
  libs/libxx/Makefile
Labels: Area: OS Components, Size: XS

#13678 mpfs_serial.c: Add RX flowcontrol
  arch/risc-v/src/mpfs/mpfs_serial.c
Labels: Arch: risc-v, Size: S

#13676 procfs:fix cat dir cause crash
  fs/procfs/fs_procfs.c
Labels: Area: File System, Size: XS

#13681 nuttx/libm: Move define __BSD_VISIBLE to openlibm_math.h
  libs/libm/openlibm/0003-nuttx-openlibm-Fix-openlibm-M_PI-undeclared-error.patch
  libs/libm/openlibm/Make.defs
Labels: Area: OS Components, Size: S

#13693 greenhills support: fix the arch_interface archive error
  arch/CMakeLists.txt
Labels: Size: XS

#13691 greenhills support: Fix ?? "trigraphs not allowed" warnings
  arch/CMakeLists.txt
Labels: Size: S, Area: PCI

#13623 xtensa: g_current_regs is only used to determine if we are in irq,
  arch/xtensa/src/common/xtensa.h
  arch/xtensa/src/common/xtensa_cpupause.c
  arch/xtensa/src/common/xtensa_irqdispatch.c
  arch/xtensa/src/common/xtensa_schedsigaction.c
  arch/xtensa/src/common/xtensa_swint.c
  arch/xtensa/src/common/xtensa_switchcontext.c
Labels: Arch: xtensa, Size: M

#13682 greenhills support: Fix green hills build timer.h error
  include/nuttx/timers/timer.h
Labels: Size: XS

#13685 nuttx/sched: Disable RW_SPINLOCK by default
  sched/Kconfig
Labels: Area: OS Components, Size: XS

#13672 libc.csv: Add more missing interface
  libs/libc/libc.csv
Labels: Area: OS Components, Size: XS

#13679 nuttx/libm: Fix powf wrong if first parameter is negative
  libs/libm/libm/lib_powf.c
Labels: Area: OS Components, Size: S

#13677 sim:fix oneshot sim_cancel assert
  arch/sim/src/sim/sim_oneshot.c
Labels: Arch: simulator, Size: XS

#13692 arch/xtensa/esp32s3: fix timer group 1 initialization
  arch/xtensa/src/esp32s3/esp32s3_tim.c
Labels: Arch: xtensa, Size: S

#13550 boards/esp32s3_lan9250: configure ethernet universally MAC address
  arch/xtensa/src/esp32s3/Kconfig
  boards/xtensa/esp32s3/common/src/esp32s3_lan9250.c
  drivers/net/lan9250.c
  include/nuttx/net/lan9250.h
Labels: Area: Networking, Arch: xtensa, Area: Board support, Size: S

#13658 devicetree/fdt_pci: implement the fdt_pci_ecam_register()
  drivers/devicetree/CMakeLists.txt
  drivers/devicetree/Make.defs
  drivers/devicetree/fdt_pci.c
  include/nuttx/fdt.h
Labels: Size: M

#13653 armv7a/r: fix use arch-timer in SMP
  arch/arm/src/armv7-a/arm_timer.c
  arch/arm/src/armv7-r/arm_timer.c
Labels: Arch: arm, Size: M

#13696 nuttx/crypto: export asynchronous calling process
  crypto/cryptodev.c
  include/crypto/cryptodev.h
Labels: Size: M, Area: Crypto

#13701 Capture
  drivers/timers/capture.c
  include/nuttx/timers/capture.h
Labels: Size: M

#13668 pci: add pci endpoint test driver
  drivers/pci/CMakeLists.txt
  drivers/pci/Kconfig
  drivers/pci/Make.defs
  drivers/pci/pci_drivers.c
  drivers/pci/pci_drivers.h
  drivers/pci/pci_ep_test.c
  include/nuttx/pci/pci.h
  include/nuttx/pci/pci_ep_test.h
Labels: Size: L, Area: PCI

#13615 Master
  boards/arm/stm32h7/weact-stm32h743/configs/nshusb/defconfig
  boards/arm/stm32h7/weact-stm32h743/include/board.h
  boards/arm/stm32h7/weact-stm32h743/src/Makefile
  boards/arm/stm32h7/weact-stm32h743/src/stm32_ioctl.c
  boards/arm/stm32h7/weact-stm32h743/src/stm32_usb.c
  boards/arm/stm32h7/weact-stm32h743/src/weact-stm32h743.h
Labels: Area: Board support, Size: M

#13687 drivers/pipes: using rmutex to protect pipe and avoid deadlock
  drivers/pipes/pipe_common.c
  drivers/pipes/pipe_common.h
Labels: Size: S

#13671 arm64 support gicv2m for pci irq
  arch/arm64/Kconfig
  arch/arm64/include/qemu/chip.h
  arch/arm64/src/common/CMakeLists.txt
  arch/arm64/src/common/Make.defs
  arch/arm64/src/common/arm64_gic.h
  arch/arm64/src/common/arm64_gicv2.c
  arch/arm64/src/common/arm64_gicv2m.c
Labels: Arch: arm64, Size: M

#13690 misc/rpmsgdev: add new cmd support for rpmsg device
  drivers/misc/rpmsgdev.c
  drivers/misc/rpmsgdev.h
Labels: Size: S

#13699 ftok:check mkdir return value.
  libs/libc/misc/lib_ftok.c
Labels: Area: OS Components, Size: XS

#13703 nxstyle: Add NativeSymbol to white list
  tools/nxstyle.c
Labels: Area: Tooling, Size: XS

#13706 nuttx/timers: Fix green hills build timer.h error
  arch/arm64/src/common/arm64_gicv3.c
Labels: Size: XS

#13707 lib_fdopendir.c:Fix crash in fdopendir caused by fdsan
  libs/libc/dirent/lib_fdopendir.c
Labels: Area: OS Components, Size: S

#13664 arm64 fork: FORK_REG_LR,FORK_REG_SP should save the func local stack
  arch/arm64/src/common/arm64_fork_func.S
Labels: Arch: arm64, Size: S

#13717 fix compile error:
  arch/xtensa/src/common/xtensa_cpupause.c
Labels: Arch: xtensa, Size: XS

#13708 pci ep support msi/msi-x test
  drivers/pci/pci_ep_test.c
Labels: Size: S, Area: PCI

#13743 Documentation: Fix code block in implementation/simulation.rst
  Documentation/implementation/simulation.rst
Labels: Area: Documentation, Size: S

#13742 Documentation: clarifying the workflow of building the documentation
  Documentation/contributing/documentation.rst
Labels: Area: Documentation, Size: XS

#13741 Documentation: improve command doc to run CI test locally
  Documentation/guides/citests.rst
Labels: Area: Documentation, Size: XS

#13725 audio: add AUDIO_MSG_IOERR msg to meida service
  audio/audio.c
  include/nuttx/audio/audio.h
Labels: Size: S, Area: Audio

#13724 tools/btdecode.sh: add optional elf file parameter
  tools/btdecode.sh
Labels: Area: Tooling, Size: S

#13733 fs/mount: move mountpoint inode create after bind
  fs/mount/fs_mount.c
Labels: Area: File System, Size: S

#13738 drivers/usbdev: don't send setconfig response for xxxx_setup with composite
  drivers/usbdev/cdcecm.c
  drivers/usbdev/cdcncm.c
Labels: Size: XS, Area: USB

#13748 risc-v: Support customize idle loop
  arch/risc-v/src/common/CMakeLists.txt
  arch/risc-v/src/common/Make.defs
Labels: Arch: risc-v, Size: S

#13746 armv7/8-m/r: fix build warning
  arch/arm/src/armv7-m/arm_mpu.c
  arch/arm/src/armv7-r/arm_mpu.c
  arch/arm/src/armv8-m/arm_mpu.c
Labels: Arch: arm, Size: S

#13745 fdt: add fdt description document
  Documentation/guides/devicetree.rst
  Documentation/guides/index.rst
Labels: Area: Documentation, Size: S

#13730 xtensa: fix up_saveusercontext in interrupt context
  arch/xtensa/src/common/xtensa_saveusercontext.c
Labels: Arch: xtensa, Size: S

#13727 arch/x86_64: Reimplement the NuttX32 multiboot1 wrapper.
  arch/x86_64/src/Makefile
  arch/x86_64/src/common/multiboot1.S
  arch/x86_64/src/common/multiboot1.ld
  arch/x86_64/src/intel64/intel64_head.S
  boards/x86_64/intel64/qemu-intel64/scripts/qemu.ld
Labels: Arch: x86_64, Area: Board support, Size: M

#13709 pci alloc msi irq support new interface
  arch/arm/src/armv7-a/arm_gicv2m.c
  arch/arm64/src/common/arm64_gicv2m.c
  arch/x86_64/src/common/x86_64_pci.c
  arch/x86_64/src/intel64/intel64_hpet.c
  arch/x86_64/src/intel64/intel64_irq.c
  drivers/pci/pci.c
  drivers/pci/pci_ecam.c
  include/nuttx/arch.h
  include/nuttx/pci/pci.h
Labels: Arch: arm, Arch: arm64, Arch: x86_64, Size: S, Area: PCI

#13714 net/arp: modify some flow of arp return failure
  net/arp/arp_send.c
  net/arp/arp_table.c
Labels: Area: Networking, Size: S

#13737 Add support for smp_call from interrupt context
  sched/sched/sched_smp.c
Labels: Area: OS Components, Size: S

#13718 can: Add more critical section to fix the race condition
  drivers/can/can.c
Labels: Size: S

#13750 reset: fix build warning when CONFIG_RESET_RPMSG is not set
  drivers/reset/core.c
Labels: Size: XS

#13729 fs/vfs: remove template filep to optimize dup operation
  fs/vfs/fs_dup.c
Labels: Area: File System, Size: S

#13732 drivers/gnss-uorb: bug fix about gnss data lost and deadlock
  drivers/sensors/gnss_uorb.c
Labels: Area: Sensors, Size: S

#13754 serial: add message for FORCE_PANIC
  drivers/serial/serial.c
Labels: Size: XS

#13751 fs/ioctl:add FIOC_XIPBASE to get file xip address
  fs/romfs/fs_romfs.c
  fs/tmpfs/fs_tmpfs.c
  include/nuttx/fs/ioctl.h
Labels: Area: File System, Size: S

#13753 sim: add NXSYMBOLS for pthread_gettid_np pthread_self
  arch/sim/src/nuttx-names.in
Labels: Arch: simulator, Size: XS

#13755 ctype.h(bugfix):move locale macro define into lib_ctype file
  include/ctype.h
  libs/libc/ctype/lib_ctype.c
Labels: Area: OS Components, Size: S

#13763 cdcacm: config to enable or disable interrupt endpoint
  drivers/usbdev/Kconfig
  drivers/usbdev/cdcacm.c
  drivers/usbdev/cdcacm_desc.c
Labels: Size: S, Area: USB

#13710 drivers/mmcsd: Rename mmcsd_read_csd to mmcsd_read_extcsd
  drivers/mmcsd/mmcsd_sdio.c
Labels: Size: S

#13747 xtensa/esp32s3: add setup rx dma after slave receive data
  arch/xtensa/src/esp32s3/esp32s3_spi_slave.c
Labels: Arch: xtensa, Size: S
