Repository apache/nuttx, pull requests merged in 2025-07, with the labels that each got.

#16541 arch/arm/src/stm32/stm32_i2cslave_v2.c: add STM32 I2C Slave support f…
  Documentation/components/drivers/special/i2c.rst
  arch/arm/src/stm32/CMakeLists.txt
  arch/arm/src/stm32/Kconfig
  arch/arm/src/stm32/Make.defs
  arch/arm/src/stm32/stm32_i2c.h
  arch/arm/src/stm32/stm32_i2cslave_v2.c
Labels: Area: Documentation, Arch: arm, Size: L

#16654 imx9/lpuart: Fix race condition / regression in imx9_txint
  arch/arm64/src/imx9/imx9_lpuart.c
Labels: Arch: arm64, Size: S

#16663 boards/arm/lpc17xx_40xx/lincoln60/configs/thttpd-binfs: Correct defconfig for THTTPD_CGIINBUFFERSIZ spelling
  boards/arm/lpc17xx_40xx/lincoln60/configs/thttpd-binfs/defconfig
Labels: Size: XS, Board: arm

#16667 tools/process_config.sh: Fix sed errors
  tools/process_config.sh
Labels: Area: Tooling, Size: XS

#16669 arch/arm/src/*/stm32_fdcan_sock.c: prevent interrupt flood on errors.
  arch/arm/src/stm32/stm32_fdcan_sock.c
  arch/arm/src/stm32f0l0g0/stm32_fdcan_sock.c
  arch/arm/src/stm32h7/stm32_fdcan_sock.c
Labels: Arch: arm, Size: S

#16670 arch/arm/stm32f0l0g0/adc: move ADC_MAX_SAMPLES to Kconfig
  arch/arm/src/stm32f0l0g0/Kconfig
  arch/arm/src/stm32f0l0g0/stm32_adc.c
Labels: Arch: arm, Size: S

#16674 xtensa/espressif: Change LEDC implementation to common one
  arch/xtensa/src/common/espressif/Kconfig
  arch/xtensa/src/common/espressif/Make.defs
  arch/xtensa/src/common/espressif/esp_ledc.c
  arch/xtensa/src/common/espressif/esp_ledc.h
  arch/xtensa/src/esp32s2/Kconfig
  arch/xtensa/src/esp32s2/Make.defs
  arch/xtensa/src/esp32s2/esp32s2_ledc.c
  arch/xtensa/src/esp32s3/Kconfig
  arch/xtensa/src/esp32s3/Make.defs
  arch/xtensa/src/esp32s3/esp32s3_ledc.c
  arch/xtensa/src/esp32s3/esp32s3_ledc.h
  boards/xtensa/esp32s2/esp32s2-saola-1/configs/pwm/defconfig
  boards/xtensa/esp32s2/esp32s2-saola-1/src/esp32s2-saola-1.h
  boards/xtensa/esp32s2/esp32s2-saola-1/src/esp32s2_bringup.c
  boards/xtensa/esp32s2/esp32s2-saola-1/src/esp32s2_ledc.c
  boards/xtensa/esp32s3/common/include/esp32s3_board_ledc.h
  boards/xtensa/esp32s3/common/src/Make.defs
  boards/xtensa/esp32s3/common/src/esp32s3_board_ledc.c
  boards/xtensa/esp32s3/esp32s3-devkit/configs/pwm/defconfig
  boards/xtensa/esp32s3/esp32s3-devkit/src/esp32s3_bringup.c
  boards/xtensa/esp32s3/esp32s3-korvo-2/src/esp32s3_bringup.c
  boards/xtensa/esp32s3/lckfb-szpi-esp32s3/configs/lcd/defconfig
  boards/xtensa/esp32s3/lckfb-szpi-esp32s3/configs/lvgl/defconfig
  boards/xtensa/esp32s3/lckfb-szpi-esp32s3/configs/pwm/defconfig
  boards/xtensa/esp32s3/lckfb-szpi-esp32s3/src/esp32s3_bringup.c
Labels: Arch: xtensa, Size: XL, Board: xtensa

#16680 arch/arm/stm32{h5|h7|l4}/adc: move ADC_MAX_SAMPLES to Kconfig
  arch/arm/src/stm32h5/Kconfig
  arch/arm/src/stm32h5/stm32_adc.c
  arch/arm/src/stm32h7/Kconfig
  arch/arm/src/stm32h7/stm32_adc.c
  arch/arm/src/stm32l4/Kconfig
  arch/arm/src/stm32l4/stm32l4_adc.c
Labels: Arch: arm, Size: M

#16650 tools/checkpatch.sh: add -x option to auto-format Python files.
  tools/checkpatch.sh
Labels: Area: Tooling, Size: S

#16682 net/local: correct shutdown state when use UDP mode (To fix issue: https://github.com/apache/nuttx/issues/16555)
  net/local/local_recvmsg.c
  net/local/local_sendmsg.c
Labels: Area: Networking, Size: S

#16685 arch/risc-v: Change DMA functions with common layer for esp32[-c3|-c6|-h2]
  arch/risc-v/src/common/espressif/esp_dma.c
  arch/risc-v/src/esp32c3/hal_esp32c3.mk
  arch/risc-v/src/esp32c6/hal_esp32c6.mk
  arch/risc-v/src/esp32h2/hal_esp32h2.mk
Labels: Arch: risc-v, Size: M

#16605 drivers/sensors: add Quectel L86-XXX GNSS uORB sensor driver
  Documentation/components/drivers/special/sensors.rst
  Documentation/components/drivers/special/sensors/l86xxx.rst
  drivers/sensors/CMakeLists.txt
  drivers/sensors/Kconfig
  drivers/sensors/Make.defs
  drivers/sensors/l86xxx_uorb.c
  include/nuttx/sensors/ioctl.h
  include/nuttx/sensors/l86xxx.h
Labels: Area: Documentation, Area: Sensors, Size: L, Size: XL

#16686 arch/xtensa: Fix dedicated GPIO build error for esp32[-s2|-s3]
  arch/xtensa/src/common/espressif/esp_dedic_gpio.c
Labels: Arch: xtensa, Size: S

#16701 drivers/sensors/l86xxx: Fix Kconfig options and dependencies
  Documentation/components/drivers/special/sensors/l86xxx.rst
  drivers/sensors/Kconfig
  drivers/sensors/l86xxx_uorb.c
Labels: Area: Documentation, Area: Sensors, Size: M

#16675 libc/mcount: add armv6m mcount implementation
  libs/libc/machine/arm/arch_mcount.S
Labels: Area: OS Components, Size: S

#16706 Added DMA and ADC DMA support for STM32H5
  arch/arm/src/stm32h5/Kconfig
  arch/arm/src/stm32h5/Make.defs
  arch/arm/src/stm32h5/hardware/stm32_gpdma.h
  arch/arm/src/stm32h5/hardware/stm32h56x_dmasigmap.h
  arch/arm/src/stm32h5/stm32_adc.c
  arch/arm/src/stm32h5/stm32_adc.h
  arch/arm/src/stm32h5/stm32_dma.c
  arch/arm/src/stm32h5/stm32_dma.h
  arch/arm/src/stm32h5/stm32h5xx_rcc.c
Labels: Arch: arm, Size: XL

#16707 boards/arm/stm32f401rc-rs485: Add support to HX711 ADC
  Documentation/platforms/arm/stm32f4/boards/stm32f401rc-rs485/index.rst
  boards/arm/stm32/stm32f401rc-rs485/src/CMakeLists.txt
  boards/arm/stm32/stm32f401rc-rs485/src/Make.defs
  boards/arm/stm32/stm32f401rc-rs485/src/stm32_bringup.c
  boards/arm/stm32/stm32f401rc-rs485/src/stm32_hx711.c
  boards/arm/stm32/stm32f401rc-rs485/src/stm32f401rc-rs485.h
Labels: Area: Documentation, Size: M, Board: arm

#16713 libc/idr: Fix Use-After-Free during idr_destroy()
  libs/libc/misc/lib_idr.c
Labels: Area: OS Components, Size: XS

#16704 arch/arm/rp23xx: spi unset peripheral before to modify Spi parameters
  arch/arm/src/rp23xx/rp23xx_spi.c
Labels: Arch: arm, Size: S

#16719 arm64/zynq-mpsoc: fix race condition in txint handler
  arch/arm64/src/zynq-mpsoc/zynq_serial.c
Labels: Arch: arm64, Size: XS

#16724 tools/espressif: Add risc-v compiler info dump for Espressif devices
  tools/espressif/chip_info.py
Labels: Area: Tooling, Size: XS

#16714 drivers/input: Create Single Button Multi Actions
  Documentation/components/drivers/character/input/index.rst
  Documentation/components/drivers/character/input/sbutton.rst
  Documentation/platforms/arm/stm32f4/boards/stm32f4discovery/index.rst
  boards/arm/stm32/common/include/board_sbutton.h
  boards/arm/stm32/common/src/CMakeLists.txt
  boards/arm/stm32/common/src/Make.defs
  boards/arm/stm32/common/src/stm32_sbutton.c
  boards/arm/stm32/stm32f4discovery/configs/sbutton/defconfig
  boards/arm/stm32/stm32f4discovery/include/board.h
  boards/arm/stm32/stm32f4discovery/src/stm32_bringup.c
  drivers/input/CMakeLists.txt
  drivers/input/Kconfig
  drivers/input/Make.defs
  drivers/input/sbutton.c
  include/nuttx/input/sbutton.h
Labels: Area: Documentation, Area: Drivers, Size: L, Board: arm

#16731 documentation: update MCUBoot docs for local update agent example
  Documentation/applications/examples/mcuboot/index.rst
Labels: Area: Documentation, Size: M

#16718 arm64/qemu: decouple qemu board from chip
  arch/arm64/src/qemu/qemu_boot.c
Labels: Arch: arm64, Size: XS

#16741 style: fix spelling in documentation
  Documentation/platforms/arm/stm32h7/boards/nucleo-h743zi/index.rst
  Documentation/platforms/arm/stm32h7/boards/nucleo-h743zi2/index.rst
Labels: Area: Documentation, Size: S

#16748 tools/ci: temporarily disable test of esp32-devkitc:nxlooper
  tools/ci/testlist/xtensa-01.dat
Labels: Area: Tooling, Area: CI, Size: XS

#16751 cmake(bugfix):add default c++ search path
  arch/arm/src/cmake/gcc.cmake
Labels: Arch: arm, Size: S

#16738 drivers/fs:Always use register_mtddriver() to register the MTD device (patch2)
  boards/arm/at32/at32f437-mini/src/at32_at24.c
  boards/arm/at32/at32f437-mini/src/at32_w25.c
  boards/arm/cxd56xx/common/src/cxd56_flash.c
  boards/arm/gd32f4/gd32f450zk-eval/src/gd32f4xx_gd25.c
  boards/arm/gd32f4/gd32f470ik-eval/src/gd32f4xx_gd25.c
  boards/arm/gd32f4/gd32f470zk-aiotbox/src/gd32f4xx_gd25.c
  boards/arm/gd32f4/gd32f470zk-eval/src/gd32f4xx_gd25.c
  boards/arm/lpc43xx/bambino-200e/src/lpc43_appinit.c
  boards/arm/lpc43xx/lpc4330-xplorer/src/lpc43_appinit.c
  boards/arm/lpc43xx/lpc4357-evb/src/lpc43_appinit.c
  boards/arm/sam34/sam4e-ek/src/sam_at25.c
  boards/arm/sam34/sam4s-xplained-pro/src/sam_nandflash.c
  boards/arm/sama5/jupiter-nano/src/sam_at25.c
  boards/arm/sama5/jupiter-nano/src/sam_nandflash.c
  boards/arm/sama5/sama5d2-xult/src/sam_at25.c
  boards/arm/sama5/sama5d2-xult/src/sam_nandflash.c
  boards/arm/sama5/sama5d3-xplained/src/sam_at25.c
  boards/arm/sama5/sama5d3-xplained/src/sam_nandflash.c
  boards/arm/sama5/sama5d3x-ek/src/sam_at24.c
  boards/arm/sama5/sama5d3x-ek/src/sam_at25.c
  boards/arm/sama5/sama5d3x-ek/src/sam_nandflash.c
  boards/arm/sama5/sama5d4-ek/src/sam_nandflash.c
  boards/arm/samd5e5/metro-m4/src/sam_at24.c
  boards/arm/stm32/cloudctrl/src/stm32_w25.c
  boards/arm/stm32/fire-stm32v2/src/stm32_w25.c
  boards/arm/stm32/shenzhou/src/stm32_w25.c
  boards/arm/stm32/stm32f103-minimum/src/stm32_at24.c
  boards/arm/stm32/stm32f103-minimum/src/stm32_w25.c
  boards/arm/stm32/stm32f411-minimum/src/stm32_w25.c
  boards/arm/stm32f7/stm32f777zit6-meadow/src/stm32_boot.c
  boards/arm/stm32wl5/nucleo-wl55jc/src/stm32_flash.c
  boards/arm/tiva/tm4c123g-launchpad/src/tm4c_at24.c
  boards/mips/pic32mx/mirtoo/src/pic32_appinit.c
  boards/risc-v/esp32c3/common/src/esp_board_spiflash.c
  boards/risc-v/esp32c6/common/src/esp_board_spiflash.c
  boards/risc-v/esp32h2/common/src/esp_board_spiflash.c
  boards/xtensa/esp32/common/src/esp32_board_spiflash.c
  boards/xtensa/esp32s2/common/src/esp32s2_board_spiflash.c
  boards/xtensa/esp32s3/common/src/esp32s3_board_spiflash.c
Labels: Size: M, Size: L, Board: arm, Board: mips, Board: risc-v, Board: xtensa

#16752 arch: cxd56xx: Fix bug that causes wake-up by unused gpio interrupt
  arch/arm/src/cxd56xx/cxd56_gpioint.c
Labels: Arch: arm, Size: XS

#16753 drivers/segger: Add a kconfig to override Segger SystemView target sources version
  drivers/segger/CMakeLists.txt
  drivers/segger/Kconfig
  drivers/segger/Make.defs
Labels: Area: Drivers, Size: S

#16754 espressif: PCNT: add high and low limit Kconfig options
  arch/risc-v/src/common/espressif/Kconfig
  arch/xtensa/src/common/espressif/Kconfig
  boards/risc-v/esp32c6/common/src/esp_board_pcnt.c
  boards/risc-v/esp32h2/common/src/esp_board_pcnt.c
  boards/xtensa/esp32/common/src/esp32_board_pcnt.c
  boards/xtensa/esp32s2/common/src/esp32s2_board_pcnt.c
  boards/xtensa/esp32s3/common/src/esp32s3_board_pcnt.c
Labels: Arch: risc-v, Arch: xtensa, Size: S, Board: risc-v, Board: xtensa

#16755 build.yml: Excludes the workflow run if the file is AUTHORS
  .github/workflows/build.yml
Labels: Area: CI, Size: XS

#16759 tools/nxstyle.c: Updating white list to xedge example
  tools/nxstyle.c
Labels: Area: Tooling, Size: S

#16769 esp32s3_extraheaps.c: add a missing include for xtensa_imm_initialize
  arch/xtensa/src/esp32s3/esp32s3_extraheaps.c
Labels: Arch: xtensa, Size: XS

#16771 crypto/cryptosoft: fix aadlen used uninitialized warning
  crypto/cryptosoft.c
Labels: Size: XS, Area: Crypto

#16776 arch/arm/stm32h5: Add DMA Support to STM32H5 Serial Driver
  arch/arm/src/stm32h5/Kconfig
  arch/arm/src/stm32h5/hardware/stm32h56x_dmasigmap.h
  arch/arm/src/stm32h5/stm32_dma.c
  arch/arm/src/stm32h5/stm32_serial.c
  arch/arm/src/stm32h5/stm32_uart.h
Labels: Arch: arm, Size: L

#16765 nucleo-h743zi: Add ADC2 support and expand ADC channel list
  boards/arm/stm32h7/nucleo-h743zi/include/board.h
  boards/arm/stm32h7/nucleo-h743zi/src/stm32_adc.c
Labels: Size: M, Board: arm

#16780 boards/arm/stm32f4discovery: Add support to HX711 ADC
  Documentation/platforms/arm/stm32f4/boards/stm32f4discovery/index.rst
  boards/arm/stm32/stm32f4discovery/src/CMakeLists.txt
  boards/arm/stm32/stm32f4discovery/src/Make.defs
  boards/arm/stm32/stm32f4discovery/src/stm32_bringup.c
  boards/arm/stm32/stm32f4discovery/src/stm32_hx711.c
  boards/arm/stm32/stm32f4discovery/src/stm32f4discovery.h
Labels: Area: Documentation, Size: M, Board: arm

#16779 boards/arm/stm32f401rc-rs485: Add support to MAX31855 and MAX6675
  Documentation/platforms/arm/stm32f4/boards/stm32f401rc-rs485/index.rst
  boards/arm/stm32/stm32f401rc-rs485/include/board.h
  boards/arm/stm32/stm32f401rc-rs485/src/stm32_bringup.c
  boards/arm/stm32/stm32f401rc-rs485/src/stm32_spi.c
Labels: Area: Documentation, Size: M, Board: arm

#16768 libc: fix assert "Free memory from the wrong heap" with flat mode and…
  include/nuttx/lib/lib.h
Labels: State: Needs more testing, Size: XS

#16791 Doc: Update weact-stm32h743 doc to include flashing instructions
  Documentation/platforms/arm/stm32h7/boards/weact-stm32h743/index.rst
Labels: Area: Documentation, Size: M

#16794 arm: CMake build for the i.MX RT series implemented.
  arch/arm/src/imxrt/CMakeLists.txt
  boards/arm/imxrt/arcx-socket-grid/CMakeLists.txt
  boards/arm/imxrt/arcx-socket-grid/src/CMakeLists.txt
Labels: Arch: arm, Size: M, Board: arm

#16796 Doc: update documentation to remove reference to login / MOTD
  Documentation/guides/simulator.rst
  Documentation/platforms/sim/sim/boards/sim/README.txt
  Documentation/platforms/sim/sim/index.rst
  Documentation/quickstart/configuring.rst
Labels: Area: Documentation, Size: S

#16455 fs/vfs/fs_rename: fix directory move operation.
  fs/vfs/fs_rename.c
Labels: Area: File System, Size: S
