Repository apache/nuttx, pull requests merged in 2025-08, with the labels that each got.

#16767 drivers/pci: epc add dma heap
  drivers/pci/pci_epc.c
  drivers/pci/pci_epf.c
  drivers/pci/pci_qemu_epc.c
  include/nuttx/pci/pci_epc.h
Labels: Size: M, Area: PCI

#16803 arch/arm/stm32h5: Use double-buffer for ADC DMA in Circular Mode
  arch/arm/src/stm32h5/stm32_adc.c
  arch/arm/src/stm32h5/stm32_dma.c
  arch/arm/src/stm32h5/stm32_dma.h
Labels: Arch: arm, Size: M

#16806 arch/*/*_sigdeliver.c: Fix a race condition is signal delivery for SMP
  arch/arm/src/armv6-m/arm_sigdeliver.c
  arch/arm/src/armv7-a/arm_sigdeliver.c
  arch/arm/src/armv7-m/arm_sigdeliver.c
  arch/arm/src/armv7-r/arm_sigdeliver.c
  arch/arm/src/armv8-m/arm_sigdeliver.c
  arch/arm/src/armv8-r/arm_sigdeliver.c
  arch/arm64/src/common/arm64_sigdeliver.c
  arch/risc-v/src/common/riscv_sigdeliver.c
  arch/sparc/src/sparc_v8/sparc_v8_sigdeliver.c
Labels: Arch: arm, Arch: arm64, Arch: risc-v, Arch: sparc, Size: S

#16807 bugix/risc-v/esp32c6: Fix build error of LP_I2C
  arch/risc-v/src/common/espressif/Kconfig
  boards/risc-v/esp32c6/common/src/esp_board_i2c.c
Labels: Arch: risc-v, Size: XS, Board: risc-v

#16815 docs/gnss_lowerhalf: Documentation for the lower-half GNSS uORB driver
  Documentation/components/drivers/special/sensors.rst
  Documentation/components/drivers/special/sensors/gnss_lowerhalf.rst
  Documentation/components/drivers/special/sensors/sensors_uorb.rst
Labels: Area: Documentation, Size: M

#16816 docs/unity: Improved documentation for using Unity testing framework
  Documentation/applications/testing/unity/index.rst
Labels: Area: Documentation, Size: S

#16820 drivers/syslog/syslog_channel.c: fix incompatible-pointer-types compile errors
  drivers/syslog/syslog_channel.c
Labels: Area: Drivers, Size: XS

#16809 arch/arm/stm32h7: Port timer capture driver from stm32
  arch/arm/src/stm32h7/CMakeLists.txt
  arch/arm/src/stm32h7/Kconfig
  arch/arm/src/stm32h7/stm32_capture.c
  arch/arm/src/stm32h7/stm32_capture.h
  arch/arm/src/stm32h7/stm32_capture_lowerhalf.c
  boards/arm/stm32h7/nucleo-h743zi/include/board.h
  boards/arm/stm32h7/nucleo-h743zi/src/stm32_bringup.c
  drivers/timers/capture.c
Labels: Arch: arm, Area: Drivers, Size: XL, Board: arm

#16818 arch/arm/stm32h5: Fix STM32H5 FDCAN Driver and Add Test Files
  arch/arm/src/stm32h5/Kconfig
  arch/arm/src/stm32h5/Make.defs
  arch/arm/src/stm32h5/hardware/stm32h5xxx_rcc.h
  arch/arm/src/stm32h5/stm32h5xx_rcc.c
  boards/arm/stm32h5/nucleo-h563zi/configs/fdcan1/defconfig
  boards/arm/stm32h5/nucleo-h563zi/include/board.h
  boards/arm/stm32h5/nucleo-h563zi/src/Makefile
  boards/arm/stm32h5/nucleo-h563zi/src/nucleo-h563zi.h
  boards/arm/stm32h5/nucleo-h563zi/src/stm32_bringup.c
  boards/arm/stm32h5/nucleo-h563zi/src/stm32_can.c
Labels: Arch: arm, Size: M, Board: arm

#16821 drivers/l86xxx: Mutex fixes & performance improvements
  drivers/sensors/Kconfig
  drivers/sensors/l86xxx_uorb.c
Labels: Area: Sensors, Size: S

#16812 boards/imxrt: Fix issues and add USBHOST support to arcx-socket-grid
  arch/arm/src/imxrt/Kconfig
  arch/arm/src/imxrt/imxrt_ehci.c
  boards/arm/imxrt/arcx-socket-grid/configs/usbdisk/defconfig
  boards/arm/imxrt/arcx-socket-grid/include/board.h
  boards/arm/imxrt/arcx-socket-grid/src/CMakeLists.txt
  boards/arm/imxrt/arcx-socket-grid/src/Makefile
  boards/arm/imxrt/arcx-socket-grid/src/arcx-socket-grid.h
  boards/arm/imxrt/arcx-socket-grid/src/imxrt_bringup.c
  boards/arm/imxrt/arcx-socket-grid/src/imxrt_usbhost.c
Labels: Arch: arm, Size: M, Board: arm

#16832 fs/lock: Allow driver lock
  fs/vfs/fs_lock.c
Labels: Area: File System, Size: XS

#16833 board/arm/qemu: Change config name of input tool
  boards/arm/qemu/qemu-armv7a/configs/full/defconfig
Labels: Size: XS, Board: arm

#16839 crypto/hmac: Fix typo in function implementation names
  crypto/hmac.c
  include/crypto/hmac.h
Labels: Size: XS, Area: Crypto

#16840 arch/arm/rp2040: Implement GPIO output override functionality
  arch/arm/src/rp2040/rp2040_gpio.h
Labels: Arch: arm, Size: S

#16856 arch/xtensa/esp32s2: Remove duplicated lines to fix warning
  arch/xtensa/src/esp32s2/hal.mk
Labels: Arch: xtensa, Size: XS

#16852 risc-v/mpfs: usb: don't try nonexistent ep int flags
  arch/risc-v/src/mpfs/mpfs_usb.c
Labels: Arch: risc-v, Size: S

#16843 pci: epf test default a function
  drivers/pci/Kconfig
  drivers/pci/pci_epf_test.c
Labels: Size: XS, Size: S, Area: PCI

#16848 boards/risc-v/rp23xx-rv/common: update board reset via BOOTROM functions
  arch/risc-v/src/rp23xx-rv/rp23xx_rom.h
  boards/risc-v/rp23xx-rv/common/src/rp23xx_reset.c
Labels: Arch: risc-v, Size: S, Board: risc-v

#16849 Make/Toolchain.defs: add the AR_EXTRACT command
  arch/arm/src/common/Toolchain.defs
  arch/arm64/src/Toolchain.defs
  arch/avr/src/avr/Toolchain.defs
  arch/avr/src/avr32/Toolchain.defs
  arch/mips/src/mips32/Toolchain.defs
  arch/misoc/src/lm32/Toolchain.defs
  arch/misoc/src/minerva/Toolchain.defs
  arch/or1k/src/mor1kx/Toolchain.defs
  arch/risc-v/src/common/Toolchain.defs
  arch/sparc/src/sparc_v8/Toolchain.defs
  arch/tricore/src/common/ToolchainGnuc.defs
  arch/tricore/src/common/ToolchainTasking.defs
  arch/x86/src/common/Toolchain.defs
  arch/x86_64/src/common/Toolchain.defs
  arch/xtensa/src/lx6/Toolchain.defs
  arch/xtensa/src/lx7/Toolchain.defs
  arch/z80/src/ez80/Toolchain.defs
  arch/z80/src/z180/Toolchain.defs
  arch/z80/src/z80/Toolchain.defs
  boards/renesas/rx65n/rx65n-grrose/scripts/Make.defs
  boards/renesas/rx65n/rx65n-rsk1mb/scripts/Make.defs
  boards/renesas/rx65n/rx65n-rsk2mb/scripts/Make.defs
  boards/renesas/rx65n/rx65n/scripts/Make.defs
  boards/renesas/sh1/us7032evb1/scripts/Make.defs
Labels: Arch: arm, Arch: arm64, Arch: avr, Arch: mips, Arch: openrisc, Arch: risc-v, Arch: sparc, Arch: tricore, Arch: x86, Arch: x86_64, Arch: xtensa, Arch: z80, Size: S, Size: M, Board: renesas

#16838 drivers/sensors/tmp112: Add support for TMP112 temperature sensor
  Documentation/platforms/arm/rp2040/boards/raspberrypi-pico/index.rst
  boards/arm/rp2040/common/include/rp2040_tmp112.h
  boards/arm/rp2040/common/src/Make.defs
  boards/arm/rp2040/common/src/rp2040_common_bringup.c
  boards/arm/rp2040/common/src/rp2040_tmp112.c
  boards/arm/rp2040/raspberrypi-pico/configs/tmp112/defconfig
  drivers/sensors/CMakeLists.txt
  drivers/sensors/Kconfig
  drivers/sensors/Make.defs
  drivers/sensors/tmp112.c
  include/nuttx/sensors/tmp112.h
Labels: Area: Documentation, Area: Sensors, Size: L, Board: arm

#16873 drivers/ioexpander/CMakeLists.txt: Aligned Cmake with Make
  drivers/ioexpander/CMakeLists.txt
Labels: Area: Drivers, Size: S

#16877 Documentation/xedge_demo: Fix RST formatting issues
  Documentation/applications/examples/xedge_demo/index.rst
  Documentation/platforms/arm64/qemu/boards/qemu-armv8a/index.rst
Labels: Area: Documentation, Size: S

#16880 arch: Add Cmake build support for raspberrypi-4b board & bcm2711 chip
  arch/arm64/src/bcm2711/CMakeLists.txt
  boards/arm64/bcm2711/raspberrypi-4b/CMakeLists.txt
  boards/arm64/bcm2711/raspberrypi-4b/src/CMakeLists.txt
Labels: Arch: arm64, Size: M, Board: arm64

#16881 arch/arm: Add missing barriers.h
  arch/arm/include/arm/barriers.h
Labels: Arch: arm, Size: S

#16879 include/nuttx/compiler.h:
  arch/tricore/include/arch.h
  arch/tricore/include/irq.h
  include/nuttx/compiler.h
Labels: Arch: tricore, Area: OS Components, Size: S

#16883 arch/xtensa/esp32: fix some compilation warnings
  arch/xtensa/src/esp32/esp32_partition.c
Labels: Arch: xtensa, Size: S

#16885 arch/tricore: add up_trigger_irq
  arch/tricore/Kconfig
  arch/tricore/src/common/tricore_irq.c
Labels: Arch: tricore, Size: S

#16875 drivers/can/kvaser_pci: configure number of passes in interrupt handler
  drivers/can/Kconfig
  drivers/can/kvaser_pci.c
Labels: Area: Drivers, Size: S

#16889 drivers/spi/CMakeLists.txt: Aligned Cmake with Make
  drivers/spi/CMakeLists.txt
Labels: Area: Drivers, Size: XS

#16894 arch/xtensa/esp32,esp32s3: Start the "spiflash_op" thread with corret affinity
  arch/xtensa/src/esp32/esp32_spiflash.c
  arch/xtensa/src/esp32s3/esp32s3_spiflash.c
Labels: Arch: xtensa, Size: M

#16900 arch/arm64/src/imx9/imx9_lpi2c.c: Fix bus reset
  arch/arm64/src/imx9/imx9_lpi2c.c
Labels: Arch: arm64, Size: M

#16909 arch/arm/src/stm32f7/stm32_ethernet.c: Fix "unused variable" warning
  arch/arm/src/stm32f7/stm32_ethernet.c
Labels: Arch: arm, Size: XS

#16907 arch/arm/src/samv7/sam_emac.c: fix compile warning
  arch/arm/src/samv7/sam_emac.c
Labels: Arch: arm, Size: XS

#16906 Drivers net ksz9477 fixes
  drivers/net/ksz9477.c
  drivers/net/ksz9477_reg.h
Labels: Area: Networking, Size: M

#16924 tools/nix: move nix flakes to tools/
  Documentation/guides/nix_flake.rst
  tools/nix/doc/flake.lock
  tools/nix/doc/flake.nix
  tools/nix/flake.lock
  tools/nix/flake.nix
Labels: Area: Documentation, Area: Tooling, Size: S

#16918 boards/arm/imxrt: CMake added imxrt1060-evk imxrt1064-evk imxrt1170-evk boards
  boards/arm/imxrt/imxrt1060-evk/CMakeLists.txt
  boards/arm/imxrt/imxrt1060-evk/src/CMakeLists.txt
  boards/arm/imxrt/imxrt1064-evk/CMakeLists.txt
  boards/arm/imxrt/imxrt1064-evk/src/CMakeLists.txt
  boards/arm/imxrt/imxrt1170-evk/CMakeLists.txt
  boards/arm/imxrt/imxrt1170-evk/src/CMakeLists.txt
Labels: Size: M, Board: arm

#16922 boards/arm/imxrt: CMake added imxrt1020-evk imxrt1050-evk boards
  boards/arm/imxrt/imxrt1020-evk/CMakeLists.txt
  boards/arm/imxrt/imxrt1020-evk/src/CMakeLists.txt
  boards/arm/imxrt/imxrt1050-evk/CMakeLists.txt
  boards/arm/imxrt/imxrt1050-evk/src/CMakeLists.txt
Labels: Size: M, Board: arm

#16934 drivers/ioexpander/aw9523b: New driver for AW9523B i/o expander
  drivers/ioexpander/CMakeLists.txt
  drivers/ioexpander/Kconfig
  drivers/ioexpander/Make.defs
  drivers/ioexpander/aw9523b.c
  drivers/ioexpander/aw9523b.h
  include/nuttx/ioexpander/aw9523b.h
Labels: Area: Drivers, Size: XL

#16912 tools/checkpatch.sh: check git commit format
  tools/checkpatch.sh
Labels: Area: Tooling, Size: S, Size: M

#16932 libs/libc/semaphore: allow nxsem_init to negative value
  include/nuttx/semaphore.h
  libs/libc/semaphore/sem_init.c
Labels: Area: OS Components, Size: XS
