Repository apache/nuttx, pull requests merged in 2025-02, with the labels that each got.

#15741 arch/xtensa: Add --print-memory-usage to LDFLAGS in Toolchain.defs
  arch/xtensa/src/lx6/Toolchain.defs
  arch/xtensa/src/lx7/Toolchain.defs
Labels: Arch: xtensa, Size: XS

#15742 nxgdb/fs: simpifiy inode print and add more command options
  tools/pynuttx/nxgdb/fs.py
Labels: Area: Tooling, Size: M

#15750 feat: add arch depends for aurix tc397 board
  boards/Kconfig
Labels: Size: XS

#15748 arch/arm64 Fix the SP unalignment issues
  arch/arm64/include/irq.h
Labels: Arch: arm64, Size: XS

#15758 arch/arm64: generate error if context size is not aligned to 16bytes
  arch/arm64/include/irq.h
Labels: Arch: arm64, Size: XS

#15745 Nxgdb memleak optimization
  tools/pynuttx/nxgdb/memleak.py
Labels: Area: Tooling, Size: S

#15768 clock/clock_adjtime.c: fix compile errors
  sched/clock/clock_adjtime.c
Labels: Area: OS Components, Size: XS

#15756 include/stdlib.h: define system()'s prototype for the flat build
  include/stdlib.h
Labels: Area: OS Components, Size: XS

#15763 arch/risc-v/Kconfig: Select ARCH_RV_CPUID_MAP for all mpfs targets
  arch/risc-v/Kconfig
Labels: Arch: risc-v, Size: XS

#15786 STM32H5 Serial Fixes and Pin Mappings
  arch/arm/src/stm32h5/hardware/stm32h56xxx_pinmap.h
  arch/arm/src/stm32h5/stm32_serial.c
Labels: Arch: arm, Size: M

#15784 Documentation/platforms/risc-v/mpfs/boards/icicle/index.rst: Add documentation for "hwtest" board configuration
  Documentation/platforms/risc-v/mpfs/boards/icicle/index.rst
Labels: Area: Documentation, Size: S

#15785 esp32[s3]: Add ES8311 support for esp32s3-lcd-ev board
  boards/xtensa/esp32s3/esp32s3-lcd-ev/configs/audio/defconfig
  boards/xtensa/esp32s3/esp32s3-lcd-ev/include/board.h
  boards/xtensa/esp32s3/esp32s3-lcd-ev/src/esp32s3-lcd-ev.h
  boards/xtensa/esp32s3/esp32s3-lcd-ev/src/esp32s3_bringup.c
Labels: Size: M, Board: xtensa

#15781 arch/arm/src/samv7/sam_tc_lowerhalf.c: do not set the CPCSTOP bit
  arch/arm/src/samv7/sam_tc_lowerhalf.c
Labels: Arch: arm, Size: S

#15771 Add STM32H5 architecture documentation.
  Documentation/platforms/arm/stm32h5/boards/nucleo-h563zi/index.rst
  Documentation/platforms/arm/stm32h5/boards/nucleo-h563zi/nucleo-h563zi.png
  Documentation/platforms/arm/stm32h5/index.rst
Labels: Area: Documentation, Size: M

#15797 bluetooth: miss carrier_[on/off] in bt_netdev
  wireless/bluetooth/bt_netdev.c
Labels: Area: Bluetooth, Size: XS

#15796 boards/linum-stm32h753bi: optimize display timings and memory config
  boards/arm/stm32h7/linum-stm32h753bi/include/board.h
Labels: Size: S, Board: arm

#15803 Documentation: Add XIAO nRF52840 Board
  Documentation/platforms/arm/nrf52/boards/xiao-nrf52840/index.rst
  Documentation/platforms/arm/nrf52/boards/xiao-nrf52840/xiao-nrf52840.jpg
Labels: Area: Documentation, Size: M

#15801 samv7: ensure the correct location of message RAM
  arch/arm/src/samv7/sam_mcan.c
  boards/arm/samv7/common/scripts/flash.ld.template
  boards/arm/samv7/common/scripts/kernel-space.ld
Labels: Arch: arm, Size: S, Board: arm

#15806 [Kconfig] Fix Kconfig style
  drivers/sensors/Kconfig
Labels: Area: Sensors, Size: S

#15798 boards/arm Add support to Seeed Xiao nRF52840 Board
  boards/Kconfig
  boards/arm/nrf52/xiao-nrf52840/CMakeLists.txt
  boards/arm/nrf52/xiao-nrf52840/Kconfig
  boards/arm/nrf52/xiao-nrf52840/configs/jumbo/defconfig
  boards/arm/nrf52/xiao-nrf52840/configs/nsh/defconfig
  boards/arm/nrf52/xiao-nrf52840/configs/usbnsh/defconfig
  boards/arm/nrf52/xiao-nrf52840/include/board.h
  boards/arm/nrf52/xiao-nrf52840/scripts/Make.defs
  boards/arm/nrf52/xiao-nrf52840/scripts/flash_config.ld
  boards/arm/nrf52/xiao-nrf52840/src/CMakeLists.txt
  boards/arm/nrf52/xiao-nrf52840/src/Make.defs
  boards/arm/nrf52/xiao-nrf52840/src/nrf52_appinit.c
  boards/arm/nrf52/xiao-nrf52840/src/nrf52_autoleds.c
  boards/arm/nrf52/xiao-nrf52840/src/nrf52_boot.c
  boards/arm/nrf52/xiao-nrf52840/src/nrf52_bringup.c
  boards/arm/nrf52/xiao-nrf52840/src/nrf52_composite.c
  boards/arm/nrf52/xiao-nrf52840/src/nrf52_gpio.c
  boards/arm/nrf52/xiao-nrf52840/src/nrf52_usb.c
  boards/arm/nrf52/xiao-nrf52840/src/nrf52_userleds.c
  boards/arm/nrf52/xiao-nrf52840/src/xiao-nrf52840.h
Labels: Size: XL, Board: arm

#15814 littlefs/cmake: fix compilation flag issue
  fs/littlefs/CMakeLists.txt
Labels: Area: File System, Size: XS

#15822 net: fix ipv6_input for 6lowpan
  net/devif/ipv6_input.c
Labels: Area: Networking, Size: S

#15809 nuttx/can: Modify poll logic to bind can_reader_s and pollfd.
  drivers/can/Kconfig
  drivers/can/can.c
  include/nuttx/can/can.h
Labels: Area: Drivers, Size: S

#15789 drivers/sensors: Added uORB driver for LSM6DSO32 IMU.
  Documentation/components/drivers/special/sensors.rst
  Documentation/components/drivers/special/sensors/lsm6dso32.rst
  Documentation/components/drivers/special/sensors/sensors_uorb.rst
  drivers/sensors/CMakeLists.txt
  drivers/sensors/Kconfig
  drivers/sensors/Make.defs
  drivers/sensors/lsm6dso32_uorb.c
  include/nuttx/sensors/lsm6dso32.h
Labels: Area: Documentation, Area: Sensors, Size: XL

#15810 qemu/ivshmem: switch proxy/server roles
  boards/arm/qemu/qemu-armv7a/configs/rpproxy_ivshmem/defconfig
  boards/arm/qemu/qemu-armv7a/configs/rpserver_ivshmem/defconfig
  boards/arm64/qemu/qemu-armv8a/configs/rpproxy_ivshmem/defconfig
  boards/arm64/qemu/qemu-armv8a/configs/rpserver_ivshmem/defconfig
Labels: Size: S, Board: arm, Board: arm64

#15757 h7: eth: add checks for PHYID in stm32_phyinit
  arch/arm/src/stm32h7/stm32_ethernet.c
  include/nuttx/net/mii.h
Labels: Area: Networking, Arch: arm, Size: M

#15754 docs: enhance Rust guide
  Documentation/guides/rust.rst
Labels: Area: Documentation, Size: S

#15774 Fix macOS build error.
  boards/sim/sim/sim/configs/libcxxtest/defconfig
  libs/libxx/Kconfig
Labels: Area: OS Components, Size: XS, Board: simulator

#15812 mtd/w25q: ensure the correct behavior if erase sector fails
  drivers/mtd/w25qxxxjv.c
Labels: Area: Drivers, Size: S

#15827 qemu-armv8a/ivshmem: add ivshmem chapter
  Documentation/platforms/arm64/qemu/boards/qemu-armv8a/README.txt
Labels: Area: Documentation, Size: M

#15832 boards/b-g431b-esc1: configure CAN_TERM pin
  boards/arm/stm32/b-g431b-esc1/src/stm32_cansock.c
Labels: Size: S, Board: arm

#15830 libs/libc/modlib/modlib_bind.c: Fix system crash if modlib_bind fails
  libs/libc/modlib/modlib_bind.c
Labels: Area: OS Components, Size: XS

#15835 arch/risc-v: move stack boundary check into backtrace
  arch/risc-v/src/common/riscv_backtrace.c
Labels: Arch: risc-v, Size: S

#15831 imx95: make gpio irq configurable per bank
  arch/arm/src/imx9/Kconfig
  arch/arm/src/imx9/imx9_gpioirq.c
Labels: Arch: arm, Size: S

#15841 docs: Add editor integration guide for Rust development in NuttX
  Documentation/guides/rust.rst
Labels: Area: Documentation, Size: S

#15794 DOC: Fix documentation to include checkpatch.sh
  Documentation/contributing/coding_style.rst
Labels: Area: Documentation, Size: S

#15845 samv7/sam_1wire.c: fix compilation warnings
  arch/arm/src/samv7/sam_1wire.c
Labels: Arch: arm, Size: XS

#15837 arch/arm/max326xx: add max32690 gpio driver
  arch/arm/src/max326xx/hardware/max326_gpio.h
  arch/arm/src/max326xx/max32660/max32660_gpio.h
  arch/arm/src/max326xx/max32690/max32690_gpio.c
  arch/arm/src/max326xx/max32690/max32690_gpio.h
  arch/arm/src/max326xx/max32690/max32690_gpioirq.c
  arch/arm/src/max326xx/max326_gpio.h
Labels: Arch: arm, Size: XL

#15843 imx9: scmi: update to scmi 3.2 spec
  arch/arm/src/imx9/imx9_scmi.c
Labels: Arch: arm, Size: XS

#15820 mpfs/mpfs_irq.c: Enable interrupts on all harts
  arch/risc-v/src/mpfs/mpfs_irq.c
Labels: Arch: risc-v, Size: S

#15761 nxgdb/mm: show pool expand queue size
  tools/pynuttx/nxgdb/mm.py
Labels: Area: Tooling, Size: XS

#15816 xtensa/esp32s3: use common Espressif wireless source
  arch/xtensa/src/common/espressif/Kconfig
  arch/xtensa/src/common/espressif/Wireless.mk
  arch/xtensa/src/common/espressif/esp_wifi_utils.c
  arch/xtensa/src/common/espressif/esp_wlan.h
  arch/xtensa/src/esp32s3/Kconfig
  arch/xtensa/src/esp32s3/Make.defs
  arch/xtensa/src/esp32s3/Wireless.mk
  arch/xtensa/src/esp32s3/esp32s3_ble_adapter.c
  arch/xtensa/src/esp32s3/esp32s3_irq.c
  arch/xtensa/src/esp32s3/esp32s3_wifi_adapter.c
  arch/xtensa/src/esp32s3/esp32s3_wifi_adapter.h
  arch/xtensa/src/esp32s3/esp32s3_wifi_utils.c
  arch/xtensa/src/esp32s3/esp32s3_wifi_utils.h
  arch/xtensa/src/esp32s3/esp32s3_wireless.c
  arch/xtensa/src/esp32s3/esp32s3_wireless.h
  arch/xtensa/src/esp32s3/esp32s3_wlan.c
  arch/xtensa/src/esp32s3/esp32s3_wlan.h
  arch/xtensa/src/esp32s3/hal.mk
  boards/xtensa/esp32s3/common/include/esp32s3_board_wlan.h
  boards/xtensa/esp32s3/common/scripts/esp32s3_aliases.ld
  boards/xtensa/esp32s3/common/scripts/esp32s3_sections.ld
  boards/xtensa/esp32s3/common/scripts/legacy_sections.ld
  boards/xtensa/esp32s3/common/scripts/mcuboot_sections.ld
  boards/xtensa/esp32s3/common/src/Make.defs
  boards/xtensa/esp32s3/common/src/esp32s3_board_wlan.c
  boards/xtensa/esp32s3/esp32s3-box/src/esp32s3_bringup.c
  boards/xtensa/esp32s3/esp32s3-devkit/configs/audio/defconfig
  boards/xtensa/esp32s3/esp32s3-devkit/configs/ble/defconfig
  boards/xtensa/esp32s3/esp32s3-devkit/configs/blewifi/defconfig
  boards/xtensa/esp32s3/esp32s3-devkit/configs/ksta_softap/defconfig
  boards/xtensa/esp32s3/esp32s3-devkit/configs/sta_softap/defconfig
  boards/xtensa/esp32s3/esp32s3-devkit/configs/toywasm/defconfig
  boards/xtensa/esp32s3/esp32s3-devkit/configs/wifi/defconfig
  boards/xtensa/esp32s3/esp32s3-devkit/src/esp32s3_bringup.c
  boards/xtensa/esp32s3/esp32s3-eye/configs/wifi/defconfig
  boards/xtensa/esp32s3/esp32s3-eye/src/esp32s3_bringup.c
  boards/xtensa/esp32s3/esp32s3-korvo-2/configs/audio/defconfig
  boards/xtensa/esp32s3/esp32s3-korvo-2/configs/rtptools/defconfig
  boards/xtensa/esp32s3/esp32s3-korvo-2/src/esp32s3_bringup.c
  boards/xtensa/esp32s3/esp32s3-lcd-ev/configs/audio/defconfig
  boards/xtensa/esp32s3/esp32s3-lcd-ev/src/esp32s3_bringup.c
Labels: Arch: xtensa, Size: L, Board: xtensa

#15829 xtensa/esp32: set cpuint to initial value after deallocate
  arch/xtensa/src/esp32/esp32_wdt.c
Labels: Arch: xtensa, Size: XS

#15863 board/arm/rp2040: support config st7789 reset gpio pin
  boards/arm/rp2040/common/Kconfig
  boards/arm/rp2040/common/src/rp2040_st7789.c
Labels: Size: XS, Board: arm

#15860 drivers/sensors/lsm6dso32: fixed byte read command to include start condition
  drivers/sensors/lsm6dso32_uorb.c
Labels: Area: Sensors, Size: XS

#15858 mpfs_irq.c: Interrupt claim must be cleared before disabling the source
  arch/risc-v/src/mpfs/mpfs_irq.c
Labels: Arch: risc-v, Size: S

#15868 libs/libnx: do not generate resource if CONFIG_NX is not enabled
  libs/libnx/Makefile
Labels: Area: OS Components, Size: XS

#15865 libc/libcxx: fix failures with GCC 14
  libs/libxx/libcxx/0001-libc-Fix-failures-with-GCC-14-92663.patch
  libs/libxx/libcxx/CMakeLists.txt
  libs/libxx/libcxx/Make.defs
Labels: Area: OS Components, Size: S

#15875 drivers/sensors/ms56xx: Use nxsig_usleep for long delays.
  drivers/sensors/ms56xx_uorb.c
Labels: Area: Sensors, Size: XS

#15883 Documentation:Fix Seeed Studio XIAO nRF52840
  Documentation/platforms/arm/nrf52/boards/xiao-nrf52840/index.rst
Labels: Area: Documentation, Size: XS

#15882 drivers/net: change format specifiers macros on lan9250 driver
  drivers/net/lan9250.c
Labels: Area: Networking, Size: S

#15881 Documentation/python: Fix tutorial for running Python
  Documentation/applications/interpreters/python/index.rst
Labels: Area: Documentation, Size: S

#15887 [nxstyle] fix Relative files path
  arch/tricore/src/cmake/ToolchainGnuc.cmake
  arch/tricore/src/cmake/ToolchainTasking.cmake
  boards/arm/csk6/csk6011a-nano/src/Makefile
  boards/arm/imx9/imx95-evk/scripts/Make.defs
  boards/arm/imx9/imx95-evk/src/Makefile
  libs/libc/machine/x86_64/gnu/CMakeLists.txt
  libs/libxx/uClibc++/system_configuration.h
Labels: Arch: tricore, Area: OS Components, Size: S, Board: arm

#15867 Add ARCH_CHIP_ESP32S3WROOM1N16R8 configuration for ESP32-S3 DevKit
  boards/Kconfig
Labels: Size: XS

#15847 tools/nxstyle: handle case statement
  tools/nxstyle.c
Labels: Area: Tooling, Size: S

#15891 drivers/thermal/core: Fix work not queued after getting temperature fails
  drivers/thermal/thermal_core.c
Labels: Area: Drivers, Size: XS

#15877 sixlowpan: improve tcp support.
  net/devif/ipv6_input.c
Labels: Area: Networking, Size: XS

#15879 arch/mcx-nxxx: Add support for NXP MCX-N236 CPU
  arch/arm/Kconfig
  arch/arm/include/mcx-nxxx/chip.h
  arch/arm/include/mcx-nxxx/irq.h
  arch/arm/include/mcx-nxxx/n236_irq.h
  arch/arm/src/mcx-nxxx/CMakeLists.txt
  arch/arm/src/mcx-nxxx/Kconfig
  arch/arm/src/mcx-nxxx/Make.defs
  arch/arm/src/mcx-nxxx/chip.h
  arch/arm/src/mcx-nxxx/hardware/n236/n236_clock.h
  arch/arm/src/mcx-nxxx/hardware/n236/n236_gpio.h
  arch/arm/src/mcx-nxxx/hardware/n236/n236_memorymap.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_clock.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_flexcomm.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_fmu.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_gpio.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_lpuart.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_memorymap.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_port.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_scg.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_spc.h
  arch/arm/src/mcx-nxxx/nxxx_clockconfig.c
  arch/arm/src/mcx-nxxx/nxxx_clockconfig.h
  arch/arm/src/mcx-nxxx/nxxx_gpio.c
  arch/arm/src/mcx-nxxx/nxxx_gpio.h
  arch/arm/src/mcx-nxxx/nxxx_gpiobase.c
  arch/arm/src/mcx-nxxx/nxxx_gpioirq.c
  arch/arm/src/mcx-nxxx/nxxx_idle.c
  arch/arm/src/mcx-nxxx/nxxx_irq.c
  arch/arm/src/mcx-nxxx/nxxx_lowputc.c
  arch/arm/src/mcx-nxxx/nxxx_lowputc.h
  arch/arm/src/mcx-nxxx/nxxx_lpuart.c
  arch/arm/src/mcx-nxxx/nxxx_port.c
  arch/arm/src/mcx-nxxx/nxxx_port.h
  arch/arm/src/mcx-nxxx/nxxx_serial.h
  arch/arm/src/mcx-nxxx/nxxx_start.c
  arch/arm/src/mcx-nxxx/nxxx_timerisr.c
  boards/Kconfig
  boards/arm/mcx-nxxx/frdm-mcxn236/CMakeLists.txt
  boards/arm/mcx-nxxx/frdm-mcxn236/Kconfig
  boards/arm/mcx-nxxx/frdm-mcxn236/configs/nsh/defconfig
  boards/arm/mcx-nxxx/frdm-mcxn236/include/board.h
  boards/arm/mcx-nxxx/frdm-mcxn236/scripts/Make.defs
  boards/arm/mcx-nxxx/frdm-mcxn236/scripts/flash.ld
  boards/arm/mcx-nxxx/frdm-mcxn236/scripts/mcx_n236.jlink
  boards/arm/mcx-nxxx/frdm-mcxn236/src/CMakeLists.txt
  boards/arm/mcx-nxxx/frdm-mcxn236/src/Makefile
  boards/arm/mcx-nxxx/frdm-mcxn236/src/frdm-mcxn236.h
  boards/arm/mcx-nxxx/frdm-mcxn236/src/n23x_appinit.c
  boards/arm/mcx-nxxx/frdm-mcxn236/src/n23x_boardinit.c
  boards/arm/mcx-nxxx/frdm-mcxn236/src/n23x_bringup.c
Labels: Arch: arm, Size: XL, Board: arm

#15889 binfmt/copyaction: fix prev->flink did not use from kmalloc.
  binfmt/binfmt.h
  binfmt/binfmt_copyactions.c
Labels: Size: S, Area: BINFMT

#15886 arch/risc-v/src/mpfs: Implement wrcomplete support for coremmc driver
  arch/risc-v/src/mpfs/Kconfig
  arch/risc-v/src/mpfs/mpfs_coremmc.c
  arch/risc-v/src/mpfs/mpfs_sdio_dev.h
Labels: Arch: risc-v, Size: S

#15878 arch/risc-v/src/mpfs: Move PLIC interrupt enable/disable to mpfs_plic and handle pending interrupts
  arch/risc-v/src/mpfs/hardware/mpfs_plic.h
  arch/risc-v/src/mpfs/mpfs_irq.c
  arch/risc-v/src/mpfs/mpfs_plic.c
  arch/risc-v/src/mpfs/mpfs_plic.h
Labels: Arch: risc-v, Size: M

#15850 samv7/pwm: add support for latched fault inputs
  arch/arm/src/samv7/Kconfig
  arch/arm/src/samv7/sam_pwm.c
  arch/arm/src/samv7/sam_pwm.h
Labels: Arch: arm, Size: M

#15890 xtensa/esp32[|s3]: re-enable cache during exception handler
  arch/xtensa/src/esp32/Kconfig
  arch/xtensa/src/esp32/esp32_user.c
  arch/xtensa/src/esp32s3/esp32s3_spiflash.c
  arch/xtensa/src/esp32s3/esp32s3_spiflash.h
  arch/xtensa/src/esp32s3/esp32s3_user.c
Labels: Arch: xtensa, Size: M

#15859 samv7/pwm: fix incorrect write of CMRx register
  arch/arm/src/samv7/sam_pwm.c
Labels: Arch: arm, Size: XS

#15873 lcd/st7789: fix incorrect buffer count for 3 wire RAM write
  drivers/lcd/st7789.c
Labels: Area: Drivers, Size: S, Area: Graphics

#15895 riscv/esp32c6: Fix issue related esp32c6 usbserial driver.
  arch/risc-v/src/common/espressif/esp_usbserial.c
Labels: Arch: risc-v, Size: XS

#15884 arch: cxd56xx: Update delay value for subcore
  arch/arm/src/cxd56xx/cxd56_delay.c
Labels: Arch: arm, Size: XS

#15903 syslog/rpmsg_server: fix build break if enable SYSLOG_RPMSG/SYSLOG_RPMSG_SERVER
  drivers/syslog/syslog_rpmsg_server.c
Labels: Area: Drivers, Size: S

#15870 arch: cxd56xx: Fix i2c bus freeze at i2c initialization
  arch/arm/src/cxd56xx/cxd56_i2c.c
Labels: Arch: arm, Size: S

#15910 arch/risc-v: Add ARCH_HAVE_RAMFUNCS to ESP32-C6 and ESP32-H2
  arch/risc-v/Kconfig
Labels: Arch: risc-v, Size: XS

#15901 arch/arm64: fix boot stage prints with CONFIG_ARCH_EARLY_PRINT=y
  arch/arm64/src/common/arm64_head.S
Labels: Arch: arm64, Size: XS

#15862 sched/spin_lock: continue work to rename raw_spin* to spin_*_notrace
  include/nuttx/spinlock.h
Labels: Area: OS Components, Size: S

#15913 Documentation: add cyclictest benchmark utility documentation
  Documentation/applications/benchmarks/cyclictest/index.rst
Labels: Area: Documentation, Size: M

#15872 arch/arm/tiva: Add complementary PWM mode support
  arch/arm/src/tiva/common/tiva_pwm.c
Labels: Arch: arm, Size: S
