Repository apache/nuttx, pull requests merged in 2025-09, with the labels that each got.

#16945 tools/checkpatch.sh: check format for all commits in patch
  tools/checkpatch.sh
Labels: Area: Tooling, Size: S

#16967 Documentation/applications/boot/nxboot: fix incorrect fnc description
  Documentation/applications/boot/nxboot/index.rst
Labels: Area: Documentation, Size: XS

#16966 codespellrc: add ans to ignore words
  .codespellrc
Labels: Size: XS

#16968 tools/checkpatch.sh: fix check for HEAD commit
  tools/checkpatch.sh
Labels: Area: Tooling, Size: XS

#16942 sched/event: move the temporary even_wait variable out of nxevent_tickwait
  Documentation/reference/os/events.rst
  include/nuttx/event.h
  sched/event/event.h
  sched/event/event_wait.c
Labels: Area: Documentation, Area: OS Components, Size: S, Size: M

#16944 sched/semaphore: add support to customize semaphore max allowed value
  Documentation/reference/user/05_counting_semaphore.rst
  include/nuttx/semaphore.h
  include/semaphore.h
  libs/libc/semaphore/CMakeLists.txt
  libs/libc/semaphore/Make.defs
  libs/libc/semaphore/sem_init.c
  libs/libc/semaphore/sem_setmaxvalue.c
  sched/Kconfig
  sched/semaphore/sem_post.c
Labels: Area: Documentation, Area: OS Components, Size: S, Size: M

#16972 mtd/nvs: Trigger `POLLPRI` on config change
  drivers/mtd/mtd_config_fs.c
Labels: Area: Drivers, Size: S

#16974 tools/configure.sh: align tools/configure.sh with CmakeLists.txt
  tools/configure.sh
Labels: Area: Tooling, Size: XS

#16933 sched: remove csection in event
  include/nuttx/event.h
  sched/event/event_init.c
  sched/event/event_post.c
  sched/event/event_wait.c
Labels: State: Needs more testing, Area: OS Components, Size: S

#16962 docs/codeowners: Add preliminary code owner file
  .codespellrc
  .github/CODEOWNERS
  .github/workflows/build.yml
  tools/codeowners/codeowners-ignore.txt
  tools/codeowners/codeowners.py
Labels: Area: Tooling, Area: CI, Size: S, Size: XL

#16981 arch/tricore: remove redundant and misleading pointer usage in tricore_doirq()
  arch/tricore/src/common/tricore_doirq.c
Labels: Arch: tricore, Size: S

#16920 sched/event: add nxevent_clear api
  Documentation/reference/os/events.rst
  include/nuttx/event.h
  sched/event/CMakeLists.txt
  sched/event/Make.defs
  sched/event/event_clear.c
Labels: Area: Documentation, Area: OS Components, Size: S, Size: M

#16987 arch/sim/can: add loopback support for CAN character dev
  arch/sim/src/sim/posix/sim_hostcan.c
  arch/sim/src/sim/sim_canchar.c
  arch/sim/src/sim/sim_hostcan.h
Labels: Arch: simulator, Size: S

#16993 sched/event: add nxevent_getmask api
  Documentation/reference/os/events.rst
  include/nuttx/event.h
  sched/event/CMakeLists.txt
  sched/event/Make.defs
  sched/event/event_getmask.c
Labels: Area: Documentation, Area: OS Components, Size: M

#16994 libc/fclose: Validate the user provided stream pointer
  libs/libc/stdio/lib_fclose.c
Labels: Area: OS Components, Size: S

#16998 arch/tricore: fix tasking compiler linking error
  arch/tricore/src/cmake/ToolchainTasking.cmake
  arch/tricore/src/common/ToolchainTasking.defs
Labels: Arch: tricore, Size: XS

#16992 mtd/nvs: Save events if not waited
  drivers/mtd/mtd_config_fs.c
Labels: Area: Drivers, Size: S

#17012 bcm2711/i2c: Implement I2C support for all user-accessible interfaces
  Documentation/platforms/arm64/bcm2711/index.rst
  arch/arm64/src/bcm2711/Kconfig
  arch/arm64/src/bcm2711/bcm2711_i2c.c
  arch/arm64/src/bcm2711/bcm2711_i2c.h
  arch/arm64/src/bcm2711/hardware/bcm2711_bsc.h
  boards/arm64/bcm2711/raspberrypi-4b/configs/nsh/defconfig
  boards/arm64/bcm2711/raspberrypi-4b/src/rpi4b_bringup.c
Labels: Area: Documentation, Arch: arm64, Size: L, Board: arm64

#16982 drivers/syslog: let syslog_write() return the maximum bytes writen through a channel
  drivers/syslog/syslog_write.c
Labels: Area: Drivers, Size: XS, Size: S

#17013 arch/tricore: add tasking compiler support to gen raw/hex binary
  arch/tricore/src/cmake/ToolchainTasking.cmake
Labels: Arch: tricore, Size: XS

#17025 arch/tricore: remove magic number in tricore_checkstack.c
  arch/tricore/src/common/tricore_checkstack.c
Labels: Arch: tricore, Size: XS

#17029 arch: fix stack alignment bug for arm and tricore arch
  arch/arm/src/common/arm_usestack.c
  arch/tricore/src/common/tricore_usestack.c
Labels: Arch: arm, Arch: tricore, Size: S

#17032 cmake/stm32h7: Add LTDC support to CMakeLists.txt
  arch/arm/src/stm32h7/CMakeLists.txt
Labels: Arch: arm, Size: XS

#17034 arch: fix alignment bug for archs that need stack alignment
  arch/arm64/src/common/arm64_usestack.c
  arch/avr/src/avr32/avr_usestack.c
  arch/ceva/src/common/ceva_usestack.c
  arch/hc/src/common/hc_usestack.c
  arch/mips/src/common/mips_usestack.c
  arch/misoc/src/lm32/lm32_usestack.c
  arch/misoc/src/minerva/minerva_usestack.c
  arch/or1k/src/common/or1k_usestack.c
  arch/renesas/src/common/renesas_usestack.c
  arch/risc-v/src/common/riscv_usestack.c
  arch/sim/src/sim/sim_usestack.c
  arch/sparc/src/common/sparc_usestack.c
  arch/x86/src/i486/i486_usestack.c
  arch/x86_64/src/intel64/intel64_usestack.c
  arch/xtensa/src/common/xtensa_usestack.c
  arch/z16/src/common/z16_usestack.c
  arch/z80/src/common/z80_usestack.c
Labels: Arch: arm64, Arch: avr, Arch: ceva, Arch: hc, Arch: mips, Arch: openrisc, Arch: renesas, Arch: risc-v, Arch: simulator, Arch: sparc, Arch: x86, Arch: x86_64, Arch: xtensa, Arch: z16, Arch: z80, Size: M

#17038 boards/arm/samv7/samv71-xult/configs/oa_tc6: Add plcatool support
  boards/arm/samv7/samv71-xult/configs/oa_tc6/defconfig
Labels: Size: XS, Board: arm

#17045 arch/arm/stm32h7: Fix and enhance WWDG (Window Watchdog) support
  arch/arm/src/stm32h7/hardware/stm32_wdg.h
  arch/arm/src/stm32h7/stm32_wwdg.c
  arch/arm/src/stm32h7/stm32h7x3xx_rcc.c
Labels: Arch: arm, Size: S

#17068 risc-v/espressif/rmt: Update common source code functions
  arch/risc-v/src/common/espressif/esp_rmt.c
Labels: Arch: risc-v, Size: S

#17070 risc-v/espressif/uart: Update common source code functions
  arch/risc-v/src/common/espressif/esp_lowputc.c
  arch/risc-v/src/common/espressif/esp_lowputc.h
  arch/risc-v/src/common/espressif/esp_serial.c
  arch/risc-v/src/common/espressif/esp_usbserial.c
  arch/risc-v/src/esp32c3/hal_esp32c3.mk
  arch/risc-v/src/esp32h2/hal_esp32h2.mk
Labels: Arch: risc-v, Size: M

#17073 arch/tricore: Allow Make to gen .srec and .hex for tasking compiler
  arch/tricore/src/common/ToolchainTasking.defs
Labels: Arch: tricore, Size: S

#17078 arch/tricore: Fix tricore arch build error
  arch/tricore/src/common/tricore_doirq.c
Labels: Arch: tricore, Size: XS

#17079 arch/tricore: Remove tasking compiler tool specific code from common Cmake scripts
  arch/tricore/src/cmake/ToolchainTasking.cmake
  cmake/nuttx_generate_outputs.cmake
Labels: Area: Build system, Arch: tricore, Size: S

#17092 {bp-17037} imx9/imx9_usbdev.c: Fix interrupt handling in SMP mode
  arch/arm64/src/imx9/imx9_usbdev.c
Labels: Arch: arm64, Size: S

#17091 [bp-17034} arch: fix alignment bug for archs that need stack alignment
  arch/arm64/src/common/arm64_usestack.c
  arch/avr/src/avr32/avr_usestack.c
  arch/ceva/src/common/ceva_usestack.c
  arch/hc/src/common/hc_usestack.c
  arch/mips/src/common/mips_usestack.c
  arch/misoc/src/lm32/lm32_usestack.c
  arch/misoc/src/minerva/minerva_usestack.c
  arch/or1k/src/common/or1k_usestack.c
  arch/renesas/src/common/renesas_usestack.c
  arch/risc-v/src/common/riscv_usestack.c
  arch/sim/src/sim/sim_usestack.c
  arch/sparc/src/common/sparc_usestack.c
  arch/x86/src/i486/i486_usestack.c
  arch/x86_64/src/intel64/intel64_usestack.c
  arch/xtensa/src/common/xtensa_usestack.c
  arch/z16/src/common/z16_usestack.c
  arch/z80/src/common/z80_usestack.c
Labels: Arch: arm64, Arch: avr, Arch: ceva, Arch: hc, Arch: mips, Arch: openrisc, Arch: renesas, Arch: risc-v, Arch: simulator, Arch: sparc, Arch: x86, Arch: x86_64, Arch: xtensa, Arch: z16, Arch: z80, Size: M

#17090 {bp-17029} arch: fix stack alignment bug for arm and tricore arch
  arch/arm/src/common/arm_usestack.c
  arch/tricore/src/common/tricore_usestack.c
Labels: Arch: arm, Arch: tricore, Size: S

#17089 {bp-17006} arch/tricore: allow user defined compiler path
  arch/tricore/src/cmake/ToolchainTasking.cmake
Labels: Arch: tricore, Size: S

#17085 {bp-16997} arch/arm/rp2040: merge conflicting definitions of `hw_*` functions
  arch/arm/src/rp2040/hardware/rp2040_address_mapped.h
  arch/arm/src/rp2040/rp2040_gpio.h
  boards/arm/rp2040/common/src/rp2040_uniqueid.c
Labels: Arch: arm, Size: M, Board: arm

#17083 {Bp-16988} arch/sim/sim_canchar.c: fix CAN flags decoding for message
  arch/sim/src/sim/sim_canchar.c
Labels: Arch: simulator, Size: S

#17080 {Bp-16939} sched/signal/sig_dispatch.c: Correct signal dispatch to specific thread
  sched/signal/sig_dispatch.c
Labels: Area: OS Components, Size: S

#17081 [bp-16964} arch/tricore: fix tricore_doirq function local var "regs" not initial…
  arch/tricore/src/common/tricore_doirq.c
Labels: Arch: tricore, Size: XS

#17100 risc-v/espressif/i2c: Update common source code functions
  arch/risc-v/src/common/espressif/Kconfig
  arch/risc-v/src/common/espressif/esp_i2c.c
  arch/risc-v/src/common/espressif/esp_i2c_slave.c
  arch/risc-v/src/common/espressif/esp_i2c_slave.h
  boards/risc-v/esp32c3/common/src/esp_board_i2c.c
  boards/risc-v/esp32c6/common/src/esp_board_i2c.c
  boards/risc-v/esp32h2/common/src/esp_board_i2c.c
Labels: Arch: risc-v, Size: M, Board: risc-v

#17087 {bp-17001} boards/xtensa: fix the issue of undefined symbol reference errors occ…
  boards/xtensa/esp32/common/scripts/legacy_sections.ld
  boards/xtensa/esp32s3/common/scripts/legacy_sections.ld
Labels: Size: S, Board: xtensa

#17107 Documentation: add NuttX-12.11.0 release notes
  Documentation/ReleaseNotes/NuttX-12.11.0
Labels: Area: Documentation, Size: M

#17108 {bp-17107} Documentation: add NuttX-12.11.0 release notes
  Documentation/ReleaseNotes/NuttX-12.11.0
Labels: Area: Documentation, Size: M

#17115 arch/xtensa/espressif: fix Wi-Fi netpkt copy error
  arch/xtensa/src/common/espressif/esp_wlan_netdev.c
Labels: Arch: xtensa, Size: XS

#17134 risc-v/espressif/mcpwm: Update common source code functions
  arch/risc-v/src/common/espressif/esp_mcpwm.c
Labels: Arch: risc-v, Size: S

#17128 fs/mmap/fs_mmap.c: add missing NULL pointer
  fs/mmap/fs_mmap.c
Labels: Area: File System, Size: XS

#17130 sched/sig_pending: sigpending() should return caller pending signals only
  sched/signal/sig_pending.c
Labels: State: Needs more testing, Area: OS Components, Size: XS

#17131 boards/x86_64/qemu-intel64: increase stack size for ostest
  boards/x86_64/intel64/qemu-intel64/configs/ostest/defconfig
Labels: Size: XS, Board: x86_64
