Repository apache/nuttx, pull requests merged in 2025-05, with the labels that each got.

#16297 Fixed empty line handling process_config.sh
  tools/process_config.sh
Labels: Area: Tooling, Size: S

#16295 fs/procfs: Improve subdirectory recognition
  fs/procfs/fs_procfs.c
Labels: Area: File System, Size: XS

#16294 boards/risc-v: add MPU60x0 bringup support to ESP32C6
  boards/risc-v/esp32c6/common/include/esp_board_mpu60x0.h
  boards/risc-v/esp32c6/common/src/Make.defs
  boards/risc-v/esp32c6/common/src/esp_board_mpu60x0.c
  boards/risc-v/esp32c6/esp32c6-devkitc/configs/mpu60x0/defconfig
  boards/risc-v/esp32c6/esp32c6-devkitc/src/esp32c6_bringup.c
Labels: Size: M, Board: risc-v

#16296 arch/stm32f0l0g0: Add support for STM32G0B1xx
  arch/arm/include/stm32f0l0g0/chip.h
  arch/arm/src/stm32f0l0g0/Kconfig
Labels: Arch: arm, Size: M

#16280 [BREAKING] setlogmask: fix setlogmask behavior according to POSIX standard
  include/syslog.h
  libs/libc/syslog/lib_setlogmask.c
Labels: Area: OS Components, Size: S

#16304 arch/arm/rp23xx: fix not restart after TX error
  arch/arm/src/rp23xx/rp23xx_i2c.c
Labels: Arch: arm, Size: XS

#16298 boards/imx93-evk: kernel build for AHAB boot
  Documentation/platforms/arm64/imx9/boards/imx93-evk/README.txt
  arch/arm64/src/imx9/Kconfig
  boards/arm64/imx9/imx93-evk/configs/knsh/defconfig
  boards/arm64/imx9/imx93-evk/include/.gitignore
  boards/arm64/imx9/imx93-evk/include/bin_romfsimg.h
  boards/arm64/imx9/imx93-evk/scripts/Make.defs
  boards/arm64/imx9/imx93-evk/scripts/gnu-elf.ld
  boards/arm64/imx9/imx93-evk/scripts/kernel.ld
  boards/arm64/imx9/imx93-evk/src/imx9_bringup.c
Labels: Area: Documentation, Arch: arm64, Size: L, Board: arm64

#16311 libc/backtrace: Fix compilation error when set LIBC_BACKTRACE_BUFFSIZE
  libs/libc/misc/lib_backtrace.c
Labels: Area: OS Components, Size: S

#16306 arch/arm/rp23xx: add dsp/fpu extensions support
  arch/arm/Kconfig
  arch/arm/src/rp23xx/rp23xx_start.c
Labels: Arch: arm, Size: XS

#16281 RP2040: Allow simultaneous selection of multiple interrupt modes
  arch/arm/src/rp2040/rp2040_gpio.c
  arch/arm/src/rp2040/rp2040_gpio.h
Labels: Arch: arm, Size: S

#16313 tools/process_config: remove unused unnecessary printing
  tools/process_config.sh
Labels: Area: Tooling, Size: XS

#16316 boards/esp32s3: fix rtc segment on linker script
  boards/xtensa/esp32s3/common/scripts/esp32s3_sections.ld
Labels: Size: XS, Board: xtensa

#16299 arch/arm/rp23xx: fix watchdog, enable TICK blocks
  arch/arm/src/rp23xx/hardware/rp23xx_psm.h
  arch/arm/src/rp23xx/hardware/rp23xx_ticks.h
  arch/arm/src/rp23xx/rp23xx_clock.c
  arch/arm/src/rp23xx/rp23xx_clock.h
  arch/arm/src/rp23xx/rp23xx_wdt.c
Labels: Arch: arm, Size: M

#16320 espressif: Add variable to override MCUboot version and URL
  arch/risc-v/src/common/espressif/Bootloader.mk
  arch/xtensa/src/esp32/Bootloader.mk
  arch/xtensa/src/esp32s2/Bootloader.mk
  arch/xtensa/src/esp32s3/Bootloader.mk
Labels: Arch: risc-v, Arch: xtensa, Size: S

#16327 boards/stm32h5/nucleo-h563zi: Add USART2 board defines.
  boards/arm/stm32h5/nucleo-h563zi/include/board.h
Labels: Size: S, Board: arm

#16324 github: Setup protection for master branch.
  .asf.yaml
Labels: Size: S, Type: Security

#16336 github: master branch protection tune.
  .asf.yaml
Labels: Size: S

#16338 arch/arm/stm32f0l0g0: Add STM32G0 Flash driver.
  arch/arm/Kconfig
  arch/arm/src/stm32f0l0g0/Kconfig
  arch/arm/src/stm32f0l0g0/Make.defs
  arch/arm/src/stm32f0l0g0/hardware/stm32g0_flash.h
  arch/arm/src/stm32f0l0g0/stm32_flash.c
  arch/arm/src/stm32f0l0g0/stm32_flash.h
  arch/arm/src/stm32f0l0g0/stm32g0_flash.c
Labels: Arch: arm, Size: XL

#16335 tools/ci/testlist/sim-01.dat: skip build sim:can for macOS
  tools/ci/testlist/sim-01.dat
Labels: Area: Tooling, Area: CI, Size: XS

#16300 arch/arm/rp23xx: update USB PLL/VCO/FBDIV
  arch/arm/src/rp23xx/rp23xx_clock.c
  arch/arm/src/rp23xx/rp23xx_usbdev.c
Labels: Arch: arm, Size: XS

#16330 arch/arm/rp23xx: add missing fpu init for smp cores
  arch/arm/src/rp23xx/rp23xx_cpustart.c
Labels: Arch: arm, Size: XS

#16329 sched/queue: fix typo in dq_insert_mid macro
  sched/sched/queue.h
Labels: Area: OS Components, Size: XS

#16334 sched/signal: Fix signal delivered to a wrong thread
  sched/group/group_signal.c
  sched/signal/sig_dispatch.c
  sched/signal/sig_pending.c
  sched/signal/sig_removependingsignal.c
  sched/signal/sig_tgkill.c
  sched/signal/sig_unmaskpendingsignal.c
  sched/signal/signal.h
Labels: Area: OS Components, Size: S

#16331 arch/arm/rp23xx: update serial code to recent smp fixes from cxd56 serial code
  arch/arm/src/rp23xx/rp23xx_serial.c
Labels: Arch: arm, Size: S

#16346 boards/risc-v/esp32c6 Add initial support to Seeed Studio XIAO ESP32c6
  boards/Kconfig
  boards/risc-v/esp32c6/esp32c6-xiao/Kconfig
  boards/risc-v/esp32c6/esp32c6-xiao/configs/gpio/defconfig
  boards/risc-v/esp32c6/esp32c6-xiao/configs/nsh/defconfig
  boards/risc-v/esp32c6/esp32c6-xiao/configs/usbnsh/defconfig
  boards/risc-v/esp32c6/esp32c6-xiao/configs/wifi/defconfig
  boards/risc-v/esp32c6/esp32c6-xiao/include/board.h
  boards/risc-v/esp32c6/esp32c6-xiao/scripts/Make.defs
  boards/risc-v/esp32c6/esp32c6-xiao/src/Make.defs
  boards/risc-v/esp32c6/esp32c6-xiao/src/esp32c6-xiao.h
  boards/risc-v/esp32c6/esp32c6-xiao/src/esp32c6_appinit.c
  boards/risc-v/esp32c6/esp32c6-xiao/src/esp32c6_boot.c
  boards/risc-v/esp32c6/esp32c6-xiao/src/esp32c6_bringup.c
  boards/risc-v/esp32c6/esp32c6-xiao/src/esp32c6_gpio.c
  boards/risc-v/esp32c6/esp32c6-xiao/src/esp32c6_reset.c
Labels: Size: XL, Board: risc-v

#16348 rp2040/gpio: Fix debug assertion for interrupts.
  arch/arm/src/rp2040/rp2040_gpio.c
Labels: Arch: arm, Size: XS

#16351 Documentation: update rp23xx page for recent changes
  Documentation/platforms/arm/rp23xx/index.rst
Labels: Area: Documentation, Size: XS

#16349 arch/arm/rp23xx: remove spinlock from up_txint
  arch/arm/src/rp23xx/rp23xx_serial.c
Labels: Arch: arm, Size: S

#16353 style: fix typos in comment.
  arch/arm/src/arm/arm_cache.S
Labels: Arch: arm, Size: XS

#13164 drivers/mmcsd/mmcsd_sdio.c: use dma to receive setup if dma is enabled
  drivers/mmcsd/mmcsd_sdio.c
Labels: Area: Drivers, Size: S

#16359 drivers/usbdev/Kconfig: fix COMPOSITE_VENDORSTR description
  drivers/usbdev/Kconfig
Labels: Size: XS, Area: USB

#16362 docs/rp2040: Remove documentation duplication of RP2040 boards.
  Documentation/platforms/arm/rp2040/boards/adafruit-feather-rp2040/index.rst
  Documentation/platforms/arm/rp2040/boards/adafruit-kb2040/index.rst
  Documentation/platforms/arm/rp2040/boards/adafruit-qt-py-rp2040/index.rst
  Documentation/platforms/arm/rp2040/boards/pimoroni-tiny2040/index.rst
  Documentation/platforms/arm/rp2040/boards/raspberrypi-pico-w/index.rst
  Documentation/platforms/arm/rp2040/boards/raspberrypi-pico/index.rst
  Documentation/platforms/arm/rp2040/boards/seeed-xiao-rp2040/index.rst
  Documentation/platforms/arm/rp2040/boards/w5500-evb-pico/index.rst
  Documentation/platforms/arm/rp2040/boards/waveshare-rp2040-lcd-1.28/index.rst
  Documentation/platforms/arm/rp2040/boards/waveshare-rp2040-zero/index.rst
  Documentation/platforms/arm/rp2040/index.rst
  Documentation/platforms/arm/rp2040/rp2040.png
Labels: Area: Documentation, Size: XL

#16360 libs/libc/semaphore: Enable semaphore fast wait/post paths for counting semaphores
  libs/libc/semaphore/sem_post.c
  libs/libc/semaphore/sem_trywait.c
  libs/libc/semaphore/sem_wait.c
Labels: Area: OS Components, Size: M

#16371 arch/sim/sim_canchar.c: notify upper-half driver that tx done
  arch/sim/src/sim/sim_canchar.c
Labels: Arch: simulator, Size: S

#16370 include/nuttx/can.h: remove dependency on CONFIG_NET_CAN
  include/nuttx/can.h
Labels: Area: OS Components, Size: XS

#16375 fs/close: move inode to last to void race condition
  fs/vfs/fs_close.c
Labels: Area: File System, Size: XS

#16372 arch/arm/rp23xx: wdog: Ensure setup before register phase
  arch/arm/src/rp23xx/rp23xx_wdt.c
Labels: Arch: arm, Size: XS

#16377 sched/wdog/wd_cancel: Return 0 (OK) when cancelling an inactive wdog
  sched/wdog/wd_cancel.c
Labels: Area: OS Components, Size: XS

#16363 arch/arm/src/rp23xx: allow to use armv8m systick lowerhalf
  arch/arm/src/rp23xx/Kconfig
  arch/arm/src/rp23xx/rp23xx_timerisr.c
Labels: Arch: arm, Size: S

#16378 [Kconfig]: Fix Kconfig style
  arch/xtensa/src/common/espressif/Kconfig
  drivers/video/Kconfig
  drivers/wireless/lpwan/Kconfig
Labels: Arch: xtensa, Area: Drivers, Size: S, Area: Video

#16381 arch/sim/Kconfig: simulated CAN depends on LINUX host
  arch/sim/Kconfig
Labels: Arch: simulator, Size: XS

#16380 drivers/ctucanfd_pci.c: fix pointer unaligned GCC error
  drivers/can/ctucanfd_pci.c
Labels: Area: Drivers, Size: M

#16382 boards/arm/nucleo-f429zi: Add example trace
  Documentation/platforms/arm/stm32f4/boards/nucleo-f429zi/index.rst
  boards/arm/stm32/nucleo-f429zi/configs/trace/defconfig
Labels: Area: Documentation, Size: M, Board: arm

#16383 sched/timedwait: Ensure critical section for nxsig_timeout
  sched/signal/sig_timedwait.c
Labels: Area: OS Components, Size: S

#16388 fs/vfs/fs_dup.c: before file_allocate should restore minfd if define …
  fs/vfs/fs_dup.c
Labels: Area: File System, Size: XS

#16390 Revert "sched/wdog/wd_cancel: Return 0 (OK) when cancelling an inactive wdog"
  sched/wdog/wd_cancel.c
Labels: Area: OS Components, Size: XS

#16392 arch/risc-v/src/common/espressif/esp_pcnt.c: counter accumulation fix
  arch/risc-v/src/common/espressif/esp_pcnt.c
Labels: Arch: risc-v, Size: XS

#16387 arch/arm64/imx9: Extend ELE API with RNG support
  arch/arm64/src/imx9/hardware/imx9_ele.h
  arch/arm64/src/imx9/imx9_ele.c
  arch/arm64/src/imx9/imx9_ele.h
Labels: Arch: arm64, Size: M

#16393 drivers/ctucan: fix IRQ ctrl
  drivers/can/ctucanfd_pci.c
Labels: Area: Drivers, Size: XS

#16402 tools/CMakeLists.txt: Improvements to CMakeLists.txt file
  tools/CMakeLists.txt
Labels: Area: Tooling, Size: M

#16403 boards/sama5d3-xplained: Fix mmc card detection.
  boards/arm/sama5/sama5d3-xplained/Kconfig
  boards/arm/sama5/sama5d3-xplained/configs/nsh/defconfig
  boards/arm/sama5/sama5d3-xplained/include/boot_romfsimg.h
  boards/arm/sama5/sama5d3-xplained/src/sam_appinit.c
  boards/arm/sama5/sama5d3-xplained/src/sam_boot.c
  boards/arm/sama5/sama5d3-xplained/src/sam_bringup.c
  boards/arm/sama5/sama5d3-xplained/src/sama5d3-xplained.h
Labels: Size: M, Board: arm

#16405 docs/contributing: Add board documentation template
  Documentation/contributing/doc_templates/board.rst
  Documentation/contributing/doc_templates/example-board.jpg
  Documentation/contributing/documentation.rst
Labels: Area: Documentation, Size: M

#16407 WIP: Documentation: replace first person perspectives
  Documentation/applications/examples/nximage/index.rst
  Documentation/applications/graphics/nxwidgets/index.rst
  Documentation/applications/graphics/twm4nx/index.rst
  Documentation/applications/interpreters/minibasic/index.rst
  Documentation/applications/nsh/login.rst
  Documentation/applications/nsh/running_apps.rst
  Documentation/applications/system/i2c/index.rst
  Documentation/applications/system/ymodem/index.rst
  Documentation/applications/system/zmodem/index.rst
  Documentation/applications/tools/index.rst
  Documentation/applications/wireless/i8sak/index.rst
  Documentation/contributing/coding_style.rst
  Documentation/contributing/making-changes.rst
  Documentation/implementation/simulation.rst
  Documentation/introduction/about.rst
  Documentation/introduction/development_environments.rst
  Documentation/platforms/arm64/fvp-v8r/boards/fvp-armv8r/README.txt
  Documentation/platforms/arm64/qemu/boards/qemu-armv8a/README.txt
  Documentation/platforms/avr/at32uc3/boards/avr32dev1/README.txt
Labels: Area: Documentation, Size: M

#16396 tools/nxstyle.c: fix error Relative file path on Windows Native
  tools/nxstyle.c
Labels: Area: Tooling, Size: S

#16413 tools/Config.mk: add -DHAVE_STRNDUP=1
  tools/Config.mk
Labels: Area: Tooling, Area: Build system, Size: XS

#16414 boards/sama5d3-xplained: Use common usb host waiter.
  arch/arm/src/sama5/Kconfig
  boards/arm/sama5/sama5d3-xplained/src/sam_usb.c
Labels: Arch: arm, Size: M, Board: arm

#16419 Documentation/sama5d3-xplained: Remove duplicate link.
  Documentation/platforms/arm/sama5/boards/sam5d3-xplained/index.rst
  Documentation/platforms/arm/sama5/boards/sama5d3-xplained/index.rst
Labels: Area: Documentation, Size: XS

#16418 Documentation/beaglebone-black: Remove readme txt file.
  Documentation/platforms/arm/am335x/boards/beaglebone-black/README.txt
  Documentation/platforms/arm/am335x/boards/beaglebone-black/index.rst
Labels: Area: Documentation, Size: M

#16421 drivers/ctucanfd_pci.c: fix frame reception
  drivers/can/ctucanfd_pci.c
Labels: Area: Drivers, Size: S

#16422 arch/stm32h5: Fix FLASH bank logic during erase operations.
  arch/arm/src/stm32h5/stm32_start.c
  arch/arm/src/stm32h5/stm32h563xx_flash.c
Labels: Arch: arm, Size: S

#16427 tools/ci/testlist/arm-05.dat: removed missing entries
  tools/ci/testlist/arm-05.dat
Labels: Area: Tooling, Area: CI, Size: XS

#16426 tools/nxstyle.c: fix defined but not used warning
  tools/nxstyle.c
Labels: Area: Tooling, Size: XS

#16435 drivers/usbdev/cdcncm.c: Fix issue with USB unplug/replug not restarted link
  drivers/usbdev/cdcncm.c
Labels: Size: XS, Area: USB

#16428 bcm2711/spi: Create interrupt-based SPI driver
  Documentation/platforms/arm64/bcm2711/boards/raspberrypi-4b/index.rst
  Documentation/platforms/arm64/bcm2711/index.rst
  arch/arm64/include/bcm2711/irq.h
  arch/arm64/src/bcm2711/Kconfig
  arch/arm64/src/bcm2711/bcm2711_gpio.c
  arch/arm64/src/bcm2711/bcm2711_spi.c
  arch/arm64/src/bcm2711/hardware/bcm2711_irq.h
  arch/arm64/src/bcm2711/hardware/bcm2711_memmap.h
  arch/arm64/src/bcm2711/hardware/bcm2711_spi.h
Labels: Area: Documentation, Arch: arm64, Size: XL

#16440 adding "edit on github" option in docs
  Documentation/conf.py
Labels: Area: Documentation, Size: XS

#16450 AUTHORS: add Matteo Golin
  AUTHORS
Labels: Size: XS

#16453 arm64/toolchain: Add -fstack-usage for stack analysis
  arch/arm64/src/Toolchain.defs
  arch/arm64/src/cmake/Toolchain.cmake
Labels: Arch: arm64, Size: S

#16458 arch/arm64/imx9: Guard EL3-only features when booting at EL1
  arch/arm64/src/imx9/Kconfig
  arch/arm64/src/imx9/imx9_boot.c
Labels: Arch: arm64, Size: XS

#16460 arch/arm/imxrt: rt117x fix TCM/OCRAM ECC backdoor access
  arch/arm/src/imxrt/hardware/rt117x/imxrt117x_iomuxc.h
  arch/arm/src/imxrt/imxrt_clockconfig_ver2.c
Labels: Arch: arm, Size: S

#16461 Documentation/drivers/analog/adc/ads1115: Add missing documentation for ioctl
  Documentation/components/drivers/character/analog/adc/ads1115/index.rst
Labels: Area: Documentation, Size: XS

#16443 boards/avr/atmega: Added Elegoo Mega2560r3 board support
  Documentation/platforms/avr/atmega/boards/elegoo-mega2560r3/elegoo-mega2560r3.jpg
  Documentation/platforms/avr/atmega/boards/elegoo-mega2560r3/index.rst
  boards/Kconfig
  boards/avr/atmega/elegoo-mega2560r3/Kconfig
  boards/avr/atmega/elegoo-mega2560r3/configs/nsh/defconfig
  boards/avr/atmega/elegoo-mega2560r3/include/board.h
  boards/avr/atmega/elegoo-mega2560r3/scripts/Make.defs
  boards/avr/atmega/elegoo-mega2560r3/scripts/flash.ld
  boards/avr/atmega/elegoo-mega2560r3/src/Makefile
  boards/avr/atmega/elegoo-mega2560r3/src/avr_boot.c
  boards/avr/atmega/elegoo-mega2560r3/src/avr_leds.c
  boards/avr/atmega/elegoo-mega2560r3/src/elegoo_mega2560r3.h
Labels: Area: Documentation, Size: L, Board: avr
