Repository apache/nuttx, pull requests merged in 2025-01, with the labels that each got.

#15398 arch/x86_64: this_task is stored in the CPU private data
  arch/x86_64/include/irq.h
  arch/x86_64/src/intel64/intel64_backtrace_fp.c
  arch/x86_64/src/intel64/intel64_cpustart.c
  arch/x86_64/src/intel64/intel64_regdump.c
Labels: Arch: x86_64, Size: S

#15403 V9FS:Adjust some code implementations to fix bugs
  fs/v9fs/client.c
Labels: Area: File System, Size: S

#15409 arch/intel64: allow to attach handlers to ISR
  arch/x86_64/src/intel64/intel64_handlers.c
  arch/x86_64/src/intel64/intel64_irq.c
  arch/x86_64/src/intel64/intel64_vectors.S
Labels: Arch: x86_64, Size: M

#15408 arch/x86_64/include/intel64/irq.h: align definitions
  arch/x86_64/include/intel64/irq.h
Labels: Arch: x86_64, Size: L

#15404 arch/xtensa: enable SPIRAM test during boot of ESP32|S3
  arch/xtensa/src/esp32/esp32_spiram.c
  arch/xtensa/src/esp32/esp32_spiram.h
  arch/xtensa/src/esp32/esp32_start.c
  arch/xtensa/src/esp32s3/esp32s3_spiram.c
  arch/xtensa/src/esp32s3/esp32s3_spiram.h
  arch/xtensa/src/esp32s3/esp32s3_start.c
Labels: Arch: xtensa, Size: S

#15400 arch/qemu-armv7a: kernel mode cmake support
  arch/arm/src/CMakeLists.txt
  arch/arm/src/qemu/CMakeLists.txt
Labels: Arch: arm, Size: XS

#15402 net/udp: Let cansend return EWOULDBLOCK when send buffer is full
  net/udp/udp_sendto_buffered.c
Labels: Area: Networking, Size: XS

#15407 libs/gdbstub fixes
  libs/libc/gdbstub/lib_gdbstub.c
Labels: Area: OS Components, Size: XS

#15406 drivers/serial: simplify 16550_PCI_UARTx_CLOCK config
  drivers/serial/Kconfig-pci
Labels: Area: Drivers, Size: XS

#15419 esp32s3-devkit/adb: ADB shell service depends on SCHED_CHILD_STATUS
  boards/xtensa/esp32s3/esp32s3-devkit/configs/adb/defconfig
Labels: Size: XS, Board: xtensa

#15418 sim/oneshot: Remove redundant variables.
  arch/sim/src/sim/sim_oneshot.c
Labels: Arch: simulator, Size: S

#15405 gcov: add reboot gcov storage coverage info
  boards/boardctl.c
  libs/libbuiltin/Kconfig
  libs/libbuiltin/libgcc/gcov.c
Labels: Area: OS Components, Size: S

#15422 risc-v/qemu-rv: Initialize the userleds without late initialization
  boards/risc-v/qemu-rv/rv-virt/src/qemu_rv_appinit.c
Labels: Size: S, Board: risc-v

#15417 use small lock in following files:
  arch/arm64/src/a64/a64_twi.c
  arch/arm64/src/imx9/imx9_gpioirq.c
  arch/arm64/src/imx9/imx9_lpi2c.c
  arch/arm64/src/imx9/imx9_usbdev.c
  arch/arm64/src/imx9/imx9_usdhc.c
Labels: Arch: arm64, Size: M

#15414 use atomic operation for g_system_ticks
  sched/clock/clock_initialize.c
Labels: Area: OS Components, Size: S

#15424 Fix Overlap Handling in sim_copyfullstate to Prevent Undefined Behavior
  arch/sim/src/sim/sim_copyfullstate.c
Labels: Arch: simulator, Size: XS

#15433 xtensa/esp32s3: set cpuint to initial value after deallocate
  arch/xtensa/src/esp32s3/esp32s3_wdt.c
Labels: Arch: xtensa, Size: XS

#15415 sched: remove all spin_lock_irqsave(NULL)
  drivers/timers/rpmsg_rtc.c
  include/nuttx/sched.h
  sched/clock/clock.h
  sched/clock/clock_gettime.c
  sched/clock/clock_initialize.c
  sched/clock/clock_settime.c
  sched/clock/clock_systime_timespec.c
  sched/group/group_create.c
  sched/group/group_exitinfo.c
  sched/group/group_join.c
  sched/group/group_leave.c
  sched/irq/irq_attach.c
  sched/irq/irq_chain.c
  sched/mqueue/mq_initialize.c
  sched/mqueue/mq_msgfree.c
  sched/mqueue/mq_send.c
  sched/mqueue/mqueue.h
  sched/signal/sig_default.c
  sched/signal/sig_findaction.c
  sched/task/task_setup.c
  sched/timer/timer.h
  sched/timer/timer_create.c
  sched/timer/timer_initialize.c
  sched/timer/timer_release.c
Labels: Area: Drivers, Area: OS Components, Size: M

#15411 Add FDCAN Character Driver to STM32H5 Architecture
  arch/arm/src/stm32h5/Kconfig
  arch/arm/src/stm32h5/Make.defs
  arch/arm/src/stm32h5/hardware/stm32h56xxx_pinmap.h
  arch/arm/src/stm32h5/stm32_fdcan.c
  arch/arm/src/stm32h5/stm32_fdcan.h
Labels: Arch: arm, Size: XL

#15399 xtensa/esp32s3: porting of spi_flash_chip_generic_write_encrypted
  arch/xtensa/src/esp32s3/esp32s3_spiflash_mtd.c
  arch/xtensa/src/esp32s3/hardware/esp32s3_soc.h
Labels: Arch: xtensa, Size: L

#15448 drivers/sensors/gnss: Fix integer overflow error
  drivers/sensors/gnss_uorb.c
Labels: Area: Sensors, Size: S

#15454 Fix Kconfig style
  arch/arm/src/stm32h5/Kconfig
  arch/arm64/Kconfig
  arch/arm64/src/bcm2711/Kconfig
  arch/risc-v/src/bl808/Kconfig
  boards/arm64/bcm2711/raspberrypi-4b/Kconfig
Labels: Arch: arm, Arch: arm64, Arch: risc-v, Size: M, Board: arm64

#15452 [DOC] implementation/simulation.rst: Removed the execute permissions.
  Documentation/implementation/simulation.rst
Labels: Area: Documentation, Size: XS

#15449 arm64/tbi: Unified TBI flags for MTE and software kasan
  arch/arm64/Kconfig
  arch/arm64/src/common/arm64_mmu.c
  mm/Kconfig
Labels: Arch: arm64, Area: Memory Management, Size: S

#15443 cxx: size and un-size functions should be defined in one file
  libs/libxx/libcxxmini/CMakeLists.txt
  libs/libxx/libcxxmini/Make.defs
  libs/libxx/libcxxmini/libxx_delete.cxx
  libs/libxx/libcxxmini/libxx_delete_sized.cxx
  libs/libxx/libcxxmini/libxx_deletea.cxx
  libs/libxx/libcxxmini/libxx_deletea_sized.cxx
Labels: Area: OS Components, Size: S

#15440 drivers/video: add BRGA8888 support for goldfish gpu fb
  drivers/video/Kconfig
  drivers/video/goldfish_gpu_fb.c
Labels: Size: S, Area: Video

#15326 rename lib_pathbuffer to lib_tempbuffer
  include/nuttx/lib/lib.h
  libs/libc/misc/CMakeLists.txt
  libs/libc/misc/Kconfig
  libs/libc/misc/Make.defs
  libs/libc/misc/lib_tempbuffer.c
Labels: Area: OS Components, Size: M

#15458 arch/arm/stm32: fix stm32g4 enable pll code.
  arch/arm/src/stm32/stm32g4xxxx_rcc.c
Labels: Arch: arm, Size: XS

#15460 CI: Increase CI Jobs to 100% for Complex PRs
  .github/workflows/arch.yml
Labels: Area: CI, Size: S

#15463 sim:citest: Bump the nsh line length
  boards/sim/sim/sim/configs/citest/defconfig
Labels: Size: XS, Board: simulator

#15471 Remove duplicate code
  include/nuttx/fs/fs.h
Labels: Area: File System, Size: XS

#15468 drivers/sensors/gnss: Macro `UINT8_MAX` for maximum value of `uint8_t crefs`
  drivers/sensors/gnss_uorb.c
Labels: Area: Sensors, Size: XS

#15445 esp32s3_wifi_adapter.c: Fix a deadlock
  arch/xtensa/src/esp32s3/esp32s3_wifi_adapter.c
Labels: Arch: xtensa, Size: XS

#15469 arch/risc-v: Improve LLVM CPU type detection with findstring
  arch/risc-v/src/common/Toolchain.defs
Labels: Arch: risc-v, Size: S

#15462 Revert "mm_heap: double malloced memory default alignment (4 -> 8, 8 -> 16)"
  include/nuttx/mm/mm.h
  mm/Kconfig
Labels: Area: Memory Management, Size: XS

#15473 arch/arm/stm32/i2c: raise compilation error when configuration is invalid
  arch/arm/src/stm32/stm32_i2c.c
  arch/arm/src/stm32/stm32_i2c_alt.c
  arch/arm/src/stm32/stm32_i2c_v2.c
  arch/arm/src/stm32/stm32f40xxx_i2c.c
  arch/arm/src/stm32f0l0g0/stm32_i2c.c
  arch/arm/src/stm32f7/stm32_i2c.c
  arch/arm/src/stm32h5/stm32_i2c.c
  arch/arm/src/stm32h7/stm32_i2c.c
Labels: Arch: arm, Size: S

#15470 arch/esp32s3_partition: Read data from SPI Flash with decryption
  arch/xtensa/src/esp32s3/esp32s3_partition.c
Labels: Arch: xtensa, Size: S

#15476 Documentation: Add Rust integration guide for NuttX
  Documentation/guides/index.rst
  Documentation/guides/rust.rst
Labels: Area: Documentation, Size: S

#15459 add the stm32g4 series spi
  arch/arm/src/stm32/stm32_spi.c
Labels: Arch: arm, Size: S

#15479 segger: rm spin_lock_irqsave(NULL) in drivers/segger/config/SEGGER_RTT_Conf.h
  drivers/segger/config/SEGGER_RTT_Conf.h
  drivers/segger/note_sysview.c
Labels: Area: Drivers, Size: S

#15478 rv-virt:citest64: bump CONFIG_INIT_STACKSIZE
  boards/risc-v/qemu-rv/rv-virt/configs/citest64/defconfig
Labels: Size: XS, Board: risc-v

#15477 net/tcp_timer: remove tcp_callback(TIMEOUT) when accept conn timeout
  net/tcp/tcp_timer.c
Labels: Area: Networking, Size: S

#15480 esp32[c3|c6|h2]: Fix misconfigured gpio issue
  boards/risc-v/esp32c3/esp32c3-generic/src/esp32c3_gpio.c
  boards/risc-v/esp32c6/esp32c6-devkitc/src/esp32c6_gpio.c
  boards/risc-v/esp32h2/esp32h2-devkit/src/esp32h2_gpio.c
Labels: Size: S, Board: risc-v

#15412 goldfish_sensor_uorb.c: add set_interval for goldfish sensor
  drivers/sensors/goldfish_sensor_uorb.c
Labels: Area: Sensors, Size: M

#15486 arch/arm: Add LLVM configuration to CMake
  arch/arm/src/cmake/armv6-m.cmake
  arch/arm/src/cmake/armv7-a.cmake
  arch/arm/src/cmake/armv7-m.cmake
  arch/arm/src/cmake/armv8-m.cmake
Labels: Arch: arm, Size: S

#15489 rv-virt:citest64: Bump CONFIG_SYSTEM_POPEN_STACKSIZE
  boards/risc-v/qemu-rv/rv-virt/configs/citest64/defconfig
Labels: Size: XS, Board: risc-v

#15487 esp32[c6]: Fix misconfigured pin functions for esp32c6-devkitm
  boards/risc-v/esp32c6/esp32c6-devkitm/src/esp32c6_gpio.c
Labels: Size: XS, Board: risc-v

#15430 use small lock to protect register about l2cc in arch "arm"
  arch/arm/src/armv7-a/arm_l2cc_pl310.c
  arch/arm/src/armv7-r/arm_l2cc_pl310.c
  arch/arm/src/armv8-r/arm_l2cc_pl310.c
Labels: Arch: arm, Size: M

#15488 armv7-a/Toolchain.defs: Update LLVM arch type to thumbv7a
  arch/arm/src/armv7-a/Toolchain.defs
Labels: Arch: arm, Size: XS

#15426 use small lock in following files
  arch/arm/src/am335x/am335x_can.c
  arch/arm/src/am335x/am335x_gpio.c
  arch/arm/src/am335x/am335x_i2c.c
  arch/arm/src/am335x/am335x_irq.c
  arch/arm/src/am335x/am335x_serial.c
  arch/arm64/src/imx9/imx9_gpio.c
  arch/arm64/src/imx9/imx9_lpi2c.c
  arch/arm64/src/imx9/imx9_lpspi.c
  arch/arm64/src/imx9/imx9_usbdev.c
  arch/x86_64/src/intel64/intel64_tsc_tickless.c
Labels: Arch: arm, Arch: arm64, Arch: x86_64, Size: M

#15429 use small lock to protect g_ram_vectors
  arch/arm/src/armv6-m/arm_ramvec_attach.c
  arch/arm/src/armv7-m/arm_ramvec_attach.c
  arch/arm/src/armv8-m/arm_ramvec_attach.c
Labels: Arch: arm, Size: S

#15492 tools/nxstyle.c: Add missing zlib function names to white list
  tools/nxstyle.c
Labels: Area: Tooling, Size: S

#15494 kconfiglib/mark: It should use pip instead of apt install
  CMakeLists.txt
Labels: Area: Build system, Size: XS

#15495 Add Timer Support to STM32H5 ADC Driver
  arch/arm/src/stm32h5/Kconfig
  arch/arm/src/stm32h5/hardware/stm32_tim.h
  arch/arm/src/stm32h5/stm32_adc.c
  arch/arm/src/stm32h5/stm32_adc.h
Labels: Arch: arm, Size: XL

#15493 macro/align: Fix ALIGN_UP and ALIGN_DOWN
  include/nuttx/nuttx.h
Labels: Area: OS Components, Size: XS

#15490 mm: Add mm_lock_irq, mm_unlock_iq
  mm/mm_heap/mm.h
  mm/mm_heap/mm_free.c
  mm/mm_heap/mm_lock.c
  mm/mm_heap/mm_malloc.c
  mm/tlsf/mm_tlsf.c
Labels: Area: Memory Management, Size: S

#15497 mempool: addbacktrace should be before kasan_unpoison
  mm/mempool/mempool.c
Labels: Area: Memory Management, Size: XS

#15387 drivers/timers/watchdog: add watchdog timer notifier chain
  drivers/timers/Kconfig
  drivers/timers/watchdog.c
  include/nuttx/timers/watchdog.h
Labels: Area: Drivers, Size: M

#15500 sim: Fixes the linker 'noexecstack' warning
  CMakeLists.txt
  arch/sim/src/cmake/Toolchain.cmake
Labels: Area: Build system, Arch: simulator, Size: XS

#15501 riscv/Toolchain.defs: guard -r use
  arch/risc-v/src/common/Toolchain.defs
Labels: Arch: risc-v, Size: XS

#15455 macro/align: Use ALIGN_UP and ALIGN_DOWN uniformly
  arch/arm/src/imx9/imx9_lpi2c.c
  arch/arm/src/imxrt/imxrt_lpi2c.c
  arch/arm/src/s32k1xx/s32k1xx_lpi2c.c
  arch/arm/src/s32k3xx/s32k3xx_lpi2c.c
  arch/arm64/src/imx9/imx9_lpi2c.c
  binfmt/binfmt_copyactions.c
  libs/libbuiltin/libgcc/profile.c
  mm/iob/iob.h
  mm/iob/iob_alloc.c
  mm/iob/iob_initialize.c
  sched/misc/coredump.c
Labels: Arch: arm, Arch: arm64, Area: Memory Management, Area: OS Components, Size: M, Area: BINFMT

#15136 clock_timekeeping: remove enter_critical_section in sched/clock/clock_timekeeping.c
  sched/clock/clock_timekeeping.c
Labels: Area: OS Components, Size: S

#15138 clock_adjtime: use small lock to protect g_adjtime_ppb g_adjtime_wdog
  sched/clock/clock_adjtime.c
Labels: Area: OS Components, Size: S

#15126 pthread: remove enter_critical_section in pthread_mutex
  include/nuttx/sched.h
  sched/init/nx_start.c
  sched/pthread/CMakeLists.txt
  sched/pthread/Make.defs
  sched/pthread/pthread_create.c
  sched/pthread/pthread_mutex.c
  sched/pthread/pthread_mutexinconsistent.c
  sched/task/task_fork.c
  sched/task/task_init.c
Labels: Area: OS Components, Size: S

#15504 arch/arm/rp23xx: Set priority for svcall exception
  arch/arm/src/rp23xx/rp23xx_irq.c
Labels: Arch: arm, Size: S

#15508 arch/x86_64:Resolve the issue of abnormal interrupt numbers triggered when KASAN is enabled
  arch/x86_64/src/intel64/intel64_handlers.c
Labels: Arch: x86_64, Size: XS

#15512 arm64: assert support dump sctlr_el1 register
  arch/arm64/src/common/arm64_registerdump.c
Labels: Arch: arm64, Size: XS

#15516 esp32[c3]: Fix build errors when using mcuboot
  arch/risc-v/src/common/espressif/Bootloader.mk
  arch/risc-v/src/esp32c3/hal_esp32c3.mk
Labels: Arch: risc-v, Size: XS

#15514 defconfig: Delete the redundant Kasan configuration on CI
  boards/arm/qemu/qemu-armv7a/configs/nsh/defconfig
  boards/arm64/qemu/qemu-armv8a/configs/citest_smp/defconfig
  boards/arm64/qemu/qemu-armv8a/configs/fb/defconfig
  boards/arm64/qemu/qemu-armv8a/configs/netnsh/defconfig
  boards/arm64/qemu/qemu-armv8a/configs/netnsh_hv/defconfig
  boards/arm64/qemu/qemu-armv8a/configs/netnsh_smp/defconfig
  boards/arm64/qemu/qemu-armv8a/configs/netnsh_smp_hv/defconfig
  boards/arm64/qemu/qemu-armv8a/configs/nsh_gicv2/defconfig
  boards/arm64/qemu/qemu-armv8a/configs/nsh_smp_tickless/defconfig
  boards/arm64/qemu/qemu-armv8a/configs/sotest/defconfig
  boards/sim/sim/sim/configs/kasan/defconfig
Labels: Size: S, Board: arm, Board: arm64, Board: simulator

#15129 sched_processtimer: use atomic to protect g_timer_interval and g_timer_tick
  sched/sched/sched_timerexpiration.c
Labels: Area: OS Components, Size: S

#15510 armv7a: Amp mode support
  arch/arm/src/armv7-a/arm_gicv2.c
  arch/arm/src/qemu/qemu_irq.c
Labels: Arch: arm, Size: S

#15509 Revert "sched: misc: Remove sched_lock in _assert()"
  sched/misc/assert.c
Labels: Area: OS Components, Size: XS

#15519 arch/arm64: fix typo spin_lock_irqsave -> spin_unlock_irqrestore
  arch/arm64/src/imx9/imx9_edma.c
Labels: Arch: arm64, Size: XS

#15518 sched/clock: remove unlock logic to avoid relock
  sched/clock/clock_initialize.c
Labels: Area: OS Components, Size: XS

#15515 Revert "kconfiglib/mark: It should use pip instead of apt install"
  CMakeLists.txt
Labels: Area: Build system, Size: XS

#15521 arm/imx9: sched_unlock should called after spin_unlock()
  arch/arm/src/imx9/imx9_flexcan.c
Labels: Arch: arm, Size: XS

#15520 drivers/note: fix typo falgs and align local name to irq_mask
  drivers/note/note_driver.c
Labels: Area: Drivers, Size: XS

#15517 arch/arm: fix regression by spinlock change
  arch/arm/src/stm32l4/stm32l4_qencoder.c
Labels: Arch: arm, Size: XS

#15496 drivers/sensors/bmi088: add driver for Bosch BMI088 IMU
  drivers/sensors/CMakeLists.txt
  drivers/sensors/Kconfig
  drivers/sensors/Make.defs
  drivers/sensors/bmi088.c
  drivers/sensors/bmi088_base.c
  drivers/sensors/bmi088_base.h
  drivers/sensors/bmi088_uorb.c
  include/nuttx/sensors/bmi088.h
Labels: Area: Sensors, Size: XL

#15528 esp32s3-devkit/adb: Enable used size of heap and stack for command ps
  boards/xtensa/esp32s3/esp32s3-devkit/configs/adb/defconfig
Labels: Size: XS, Board: xtensa

#15507 goldfish sensor add get_info interface
  drivers/sensors/goldfish_sensor_uorb.c
Labels: Area: Sensors, Size: M

#15533 goldfish_memorymap:Resize VIRT_FLASH_PSECTION
  arch/arm/src/goldfish/goldfish_memorymap.h
Labels: Arch: arm, Size: XS

#15534 fs_procfs:Fix closedir should handle the release dir handle on a case-by-case basis
  fs/procfs/fs_procfs.c
Labels: Area: File System, Size: S

#15529 arch/armv7a: fix vfork for KERNEL build
  arch/arm/src/common/arm_fork.c
Labels: Arch: arm, Size: S

#15527 modlib:gnu-elf.ld.in load exe elf data section mismatch
  libs/libc/modlib/gnu-elf.ld.in
Labels: Area: OS Components, Size: XS

#15540 arch/risc-v: Remove riscv_mhartid
  arch/risc-v/include/irq.h
  arch/risc-v/src/bl808/chip.h
  arch/risc-v/src/common/CMakeLists.txt
  arch/risc-v/src/common/Make.defs
  arch/risc-v/src/common/riscv_cpuidmap.c
  arch/risc-v/src/common/riscv_cpuindex.c
  arch/risc-v/src/common/riscv_internal.h
  arch/risc-v/src/common/riscv_macros.S
  arch/risc-v/src/common/riscv_mhartid.S
  arch/risc-v/src/jh7110/chip.h
  arch/risc-v/src/k230/chip.h
  arch/risc-v/src/mpfs/mpfs_ihc.c
  arch/risc-v/src/mpfs/mpfs_irq.c
  arch/risc-v/src/mpfs/mpfs_plic.c
  arch/risc-v/src/mpfs/mpfs_timerisr.c
  arch/risc-v/src/qemu-rv/chip.h
  arch/risc-v/src/qemu-rv/qemu_rv_irq.c
  arch/risc-v/src/qemu-rv/qemu_rv_irq_dispatch.c
  arch/risc-v/src/sg2000/chip.h
Labels: Arch: risc-v, Size: M

#15538 gcov.py: add copy skip paths, prevent recursion
  tools/gcov.py
Labels: Area: Tooling, Size: XS

#15525 drivers/sensors: Wrote a driver for the MCP9600 thermocouple amplifier.
  Documentation/components/drivers/special/sensors/mcp9600.rst
  boards/arm/rp2040/common/src/rp2040_common_bringup.c
  drivers/sensors/Kconfig
  drivers/sensors/Make.defs
  drivers/sensors/mcp9600.c
  include/nuttx/sensors/mcp9600.h
Labels: Area: Documentation, Area: Sensors, Size: XL, Board: arm

#15531 tools/refresh.sh: Should continue to refresh other configs when matching debug configs
  tools/refresh.sh
Labels: Area: Tooling, Size: XS

#15544 Fix memory map for EMAC, ICACHE, and DCACHE.
  arch/arm/src/stm32h5/hardware/stm32h5xxx_memorymap.h
Labels: Arch: arm, Size: XS

#15539 boards: Refresh configurations with refresh.sh
  boards/arm/s32k3xx/mr-canhubk3/configs/net/defconfig
  boards/arm/stm32/stm32f401rc-rs485/configs/telnetd/defconfig
Labels: Size: XS, Board: arm

#15542 tools/refresh.sh: Add log for progress
  tools/refresh.sh
Labels: Area: Tooling, Size: S

#15547 Use small lock to protect usbdev and endpoint in AVR.
  arch/avr/src/at90usb/at90usb_usbdev.c
Labels: Arch: avr, Size: S

#15557 Documentation: update uorb and sensor driver doc
  Documentation/applications/system/uorb/index.rst
  Documentation/components/drivers/special/index.rst
  Documentation/components/drivers/special/sensor_driver_model.png
  Documentation/components/drivers/special/sensors_uorb.rst
Labels: Area: Documentation, Size: XL

#15558 arm/qemu: select NEON at processor level
  arch/arm/Kconfig
  arch/arm/src/qemu/Kconfig
Labels: Arch: arm, Size: XS

#15545 Use small lock to protect usbdev and endpoint in sim.
  arch/sim/src/sim/sim_usbdev.c
Labels: Arch: simulator, Size: S

#15548 Use small lock to protect usbdev and endpoint in mips.
  arch/mips/src/pic32mx/pic32mx_usbdev.c
Labels: Arch: mips, Size: S

#15546 Use small lock to protect usbdev and endpoint in renesas.
  arch/renesas/src/rx65n/rx65n_usbdev.c
Labels: Arch: renesas, Size: S

#14623 wqueue remove enter_critical_section
  arch/arm/src/sama5/sam_hsmci.c
  arch/arm/src/samv7/sam_hsmci.c
  fs/mount/fs_automount.c
  sched/wqueue/kwork_cancel.c
  sched/wqueue/kwork_notifier.c
  sched/wqueue/kwork_queue.c
  sched/wqueue/kwork_thread.c
  sched/wqueue/wqueue.h
Labels: Arch: arm, Area: File System, Area: OS Components, Size: M

#15564 drivers/can: ctucanfd the first round of fixes - mainly for char dev
  drivers/can/ctucanfd_pci.c
Labels: Area: Drivers, Size: S

#15565 arm/qemu: select PSCI at processor level
  arch/arm/Kconfig
  arch/arm/src/qemu/Kconfig
Labels: Arch: arm, Size: XS

#15560 syslog_intbuffer.c:Fixed recursive spinlock during assert
  drivers/syslog/syslog_intbuffer.c
Labels: Area: Drivers, Size: XS

#15524 boards/xtensa: disable DEV_CONSOLE on usbnsh defconfig
  boards/xtensa/esp32s3/esp32s3-devkit/configs/usbnsh/defconfig
  boards/xtensa/esp32s3/esp32s3-eye/configs/usbnsh/defconfig
  boards/xtensa/esp32s3/esp32s3-lhcbit/configs/usbnsh/defconfig
  boards/xtensa/esp32s3/esp32s3-meadow/configs/usbnsh/defconfig
Labels: Size: XS, Board: xtensa

#15552 sim_hostfs:add host_errno_convert API for convert result
  arch/sim/src/sim/posix/sim_hostfs.c
Labels: Arch: simulator, Size: S

#15583 Add STM32H5 Ethernet Driver
  arch/arm/include/stm32h5/chip.h
  arch/arm/src/stm32h5/Make.defs
  arch/arm/src/stm32h5/chip.h
  arch/arm/src/stm32h5/hardware/stm32_sbs.h
  arch/arm/src/stm32h5/stm32_ethernet.c
  arch/arm/src/stm32h5/stm32_ethernet.h
  arch/arm/src/stm32h5/stm32_uid.c
  arch/arm/src/stm32h5/stm32_uid.h
  arch/arm/src/stm32h5/stm32h5xx_rcc.c
  boards/arm/stm32h5/nucleo-h563zi/include/board.h
Labels: Arch: arm, Size: XL, Board: arm

#15578 libs/lib_tempbuffer: set `errno` when fails
  libs/libc/misc/lib_tempbuffer.c
Labels: Area: OS Components, Size: XS

#15581 libc/gnssutils: remove C99 standard flag from Make.defs
  libs/libc/gnssutils/Make.defs
Labels: Area: OS Components, Size: XS

#15580 risc-v: replace fence.i with __ISB for instruction sync
  libs/libc/machine/risc-v/arch_elf.c
Labels: Area: OS Components, Size: XS

#15576 sched/wdog: remove wd_cancel_irq() implement
  include/nuttx/wdog.h
  sched/wdog/wd_cancel.c
Labels: Area: OS Components, Size: S

#15575 sched/wqueue: fix potential deadlock
  sched/wqueue/kwork_notifier.c
Labels: Area: OS Components, Size: XS

#15570 Fix CRC and test on Raspberry Pi Pico
  boards/arm/rp2040/common/src/rp2040_common_bringup.c
  include/nuttx/sensors/msxxxx_crc4.h
Labels: Area: Sensors, Size: S, Board: arm

#15523 Add GD55 QSPI NOR Flash support
  drivers/mtd/Kconfig
  drivers/mtd/Make.defs
  drivers/mtd/gd55.c
  include/nuttx/mtd/mtd.h
  include/nuttx/spi/qspi.h
Labels: Area: Drivers, Size: XL

#15573 sensors/sht4x: Converted SHT4X driver to UORB framework.
  Documentation/components/drivers/special/sensors/sht4x.rst
  boards/arm/rp2040/common/src/rp2040_common_bringup.c
  drivers/sensors/CMakeLists.txt
  drivers/sensors/Kconfig
  drivers/sensors/Make.defs
  drivers/sensors/sht4x_uorb.c
  include/nuttx/sensors/sht4x.h
Labels: Area: Documentation, Area: Sensors, Size: L, Board: arm

#15584 arch/Kconfig: allow FLASH config w/o MMU
  arch/Kconfig
Labels: Size: XS

#15586 sim: fix regression from https://github.com/apache/nuttx/pull/14623
  sched/wqueue/kwork_queue.c
Labels: Area: OS Components, Size: XS

#15585 arch/armv7-r: fix gic.h build error
  arch/arm/src/armv7-r/gic.h
Labels: Arch: arm, Size: XS

#15589 sched/mqueue/CMakeLists.txt: fix compilation for CONFIG_DISABLE_MQUEUE_SYSV=n
  sched/mqueue/CMakeLists.txt
Labels: Area: OS Components, Size: XS

#15588 modlib: fix armv7a w/ unified gnu-elf.ld.in
  include/nuttx/addrenv.h
  libs/libc/modlib/gnu-elf.ld.in
Labels: Area: OS Components, Size: XS

#15591 [CI] testbuild.sh: Msys2 fix toolchain change
  tools/testbuild.sh
Labels: Area: Tooling, Size: XS

#15587 sched/wqueue: some minor improve to reduce sched_lock range
  sched/wqueue/kwork_queue.c
  sched/wqueue/kwork_thread.c
Labels: Area: OS Components, Size: S

#15594 cmake/mkconfig: add support of set custom command options to config.h
  cmake/nuttx_mkconfig.cmake
Labels: Area: Build system, Size: S

#15590 mpfs_opensbi_setup: Provide hartid and next_addr as parameters
  arch/risc-v/src/mpfs/mpfs_entrypoints.c
  arch/risc-v/src/mpfs/mpfs_opensbi.c
  arch/risc-v/src/mpfs/mpfs_opensbi_utils.S
Labels: Arch: risc-v, Size: S

#15596 cmake: Use EXTRAFLAGS to define customized compilation options
  cmake/nuttx_add_library.cmake
  cmake/nuttx_mkconfig.cmake
Labels: Area: Build system, Size: S

#15600 fix compile error
  arch/risc-v/src/common/espressif/esp_pcnt.c
  arch/xtensa/src/common/espressif/esp_pcnt.c
  arch/xtensa/src/esp32s2/esp32s2_lowputc.c
  arch/xtensa/src/esp32s2/esp32s2_lowputc.h
Labels: Arch: risc-v, Arch: xtensa, Size: S

#15601 Documentation: Replace NSH_LINELEN with LINE_MAX
  Documentation/applications/system/uorb/index.rst
Labels: Area: Documentation, Size: XS

#15602 fix coredump failed when loop counts exceeds the limit
  sched/misc/coredump.c
Labels: Area: OS Components, Size: XS

#15606 stm32h7/linum-stm32h753bi: add touch screen support
  Documentation/platforms/arm/stm32h7/boards/linum-stm32h753bi/index.rst
  boards/arm/stm32h7/linum-stm32h753bi/configs/lvgl/defconfig
  boards/arm/stm32h7/linum-stm32h753bi/include/board.h
  boards/arm/stm32h7/linum-stm32h753bi/src/CMakeLists.txt
  boards/arm/stm32h7/linum-stm32h753bi/src/Makefile
  boards/arm/stm32h7/linum-stm32h753bi/src/linum-stm32h753bi.h
  boards/arm/stm32h7/linum-stm32h753bi/src/stm32_bringup.c
  boards/arm/stm32h7/linum-stm32h753bi/src/stm32_touchscreen.c
Labels: Area: Documentation, Size: M, Board: arm

#15506 Use small lock to protect usbdev and endpoint in arch ARM.
  arch/arm/src/cxd56xx/cxd56_usbdev.c
  arch/arm/src/dm320/dm320_usbdev.c
  arch/arm/src/efm32/efm32_usbdev.c
  arch/arm/src/imxrt/imxrt_usbdev.c
  arch/arm/src/kinetis/kinetis_usbdev.c
  arch/arm/src/lpc17xx_40xx/lpc17_40_usbdev.c
  arch/arm/src/lpc214x/lpc214x_usbdev.c
  arch/arm/src/lpc31xx/lpc31_usbdev.c
  arch/arm/src/rp2040/rp2040_usbdev.c
  arch/arm/src/rp23xx/rp23xx_usbdev.c
  arch/arm/src/samv7/sam_usbdevhs.c
  arch/arm/src/stm32/stm32_usbdev.c
  arch/arm/src/stm32f0l0g0/stm32_usbdev.c
  arch/arm/src/stm32l4/stm32l4_usbdev.c
Labels: Arch: arm, Size: XL

#15611 Documentation: Replace NSH_LINELEN with LINE_MAX
  Documentation/applications/system/uorb/index.rst
Labels: Area: Documentation, Size: XS

#15608 Use small lock to protect resources related to timers in arch ARM.
  arch/arm/src/cxd56xx/cxd56_timer.c
  arch/arm/src/lpc17xx_40xx/lpc17_40_timer.c
  arch/arm/src/lpc43xx/lpc43_timer.c
Labels: Arch: arm, Size: S

#15615 Documentation: Fix typo and list format in Rust guide
  Documentation/guides/rust.rst
Labels: Area: Documentation, Size: XS

#15609 syslog/intbuffer: fix spinlock deadlock
  drivers/syslog/syslog_intbuffer.c
Labels: Area: Drivers, Size: XS

#15610 drivers/sensor: add new sensot type to align android sensor type
  drivers/sensors/bmi088_uorb.c
  drivers/sensors/bmi160_uorb.c
  drivers/sensors/ds18b20_uorb.c
  drivers/sensors/goldfish_sensor_uorb.c
  drivers/sensors/hyt271_uorb.c
  drivers/sensors/l3gd20_uorb.c
  drivers/sensors/sensor.c
  drivers/sensors/sht4x_uorb.c
  include/nuttx/sensors/sensor.h
  include/nuttx/uorb.h
Labels: Area: OS Components, Area: Sensors, Size: M

#15607 Use small lock to protect resources related to cpufifo.
  arch/arm/src/cxd56xx/cxd56_cpufifo.c
Labels: Arch: arm, Size: S

#15613 gdbstub: add const to send buffer
  drivers/serial/serial_gdbstub.c
  include/nuttx/gdbstub.h
  libs/libc/gdbstub/lib_gdbstub.c
Labels: Area: Drivers, Area: OS Components, Size: S

#15614 Use small lock to protect resources related to timers in arch risc-v,…
  arch/risc-v/src/common/espressif/esp_hr_timer.c
  arch/risc-v/src/esp32c3-legacy/esp32c3_rt_timer.c
  arch/tricore/src/common/tricore_systimer.c
  arch/xtensa/src/esp32/esp32_rt_timer.c
  arch/xtensa/src/esp32s2/esp32s2_rt_timer.c
  arch/xtensa/src/esp32s3/esp32s3_rt_timer.c
Labels: Arch: risc-v, Arch: tricore, Arch: xtensa, Size: M

#15499 Refine string optimization option
  boards/arm/cxd56xx/spresense/configs/rndis/defconfig
  boards/arm/cxd56xx/spresense/configs/rndis_composite/defconfig
  boards/arm/cxd56xx/spresense/configs/rndis_smp/defconfig
  boards/arm/cxd56xx/spresense/configs/wifi/defconfig
  boards/arm/cxd56xx/spresense/configs/wifi_smp/defconfig
  boards/arm/lc823450/lc823450-xgevk/configs/audio/defconfig
  boards/arm/lc823450/lc823450-xgevk/configs/bt/defconfig
  boards/arm/lc823450/lc823450-xgevk/configs/elf/defconfig
  boards/arm/lc823450/lc823450-xgevk/configs/ipl2/defconfig
  boards/arm/lc823450/lc823450-xgevk/configs/knsh/defconfig
  boards/arm/lc823450/lc823450-xgevk/configs/krndis/defconfig
  boards/arm/lc823450/lc823450-xgevk/configs/nsh/defconfig
  boards/arm/lc823450/lc823450-xgevk/configs/posix_spawn/defconfig
  boards/arm/lc823450/lc823450-xgevk/configs/rndis/defconfig
  boards/arm/lc823450/lc823450-xgevk/configs/usb/defconfig
  boards/risc-v/bl602/bl602evb/configs/wifi/defconfig
  boards/risc-v/bl808/ox64/configs/adc/defconfig
  boards/risc-v/bl808/ox64/configs/nsh/defconfig
  boards/risc-v/bl808/ox64/configs/spi/defconfig
  boards/risc-v/bl808/ox64/configs/timer/defconfig
  boards/risc-v/jh7110/star64/configs/nsh/defconfig
  boards/risc-v/k230/canmv230/configs/knsh/defconfig
  boards/risc-v/k230/canmv230/configs/master/defconfig
  boards/risc-v/k230/canmv230/configs/nsbi/defconfig
  boards/risc-v/k230/canmv230/configs/remote/defconfig
  boards/risc-v/mpfs/icicle/configs/hwtest/defconfig
  boards/risc-v/mpfs/icicle/configs/knsh/defconfig
  boards/risc-v/mpfs/icicle/configs/network/defconfig
  boards/risc-v/mpfs/icicle/configs/nsh/defconfig
  boards/risc-v/mpfs/icicle/configs/opensbi/defconfig
  boards/risc-v/mpfs/icicle/configs/pnsh/defconfig
  boards/risc-v/mpfs/icicle/configs/rpmsg-ch1/defconfig
  boards/risc-v/mpfs/icicle/configs/rpmsg-ch2/defconfig
  boards/risc-v/mpfs/icicle/configs/rpmsg-sbi/defconfig
  boards/risc-v/mpfs/icicle/configs/usb/defconfig
  boards/risc-v/mpfs/m100pfsevp/configs/nsh/defconfig
  boards/risc-v/qemu-rv/rv-virt/configs/kfb64/defconfig
  boards/risc-v/qemu-rv/rv-virt/configs/knetnsh64/defconfig
  boards/risc-v/qemu-rv/rv-virt/configs/knetnsh64_smp/defconfig
  boards/risc-v/qemu-rv/rv-virt/configs/knsh64/defconfig
  boards/risc-v/qemu-rv/rv-virt/configs/ksmp64/defconfig
  boards/risc-v/qemu-rv/rv-virt/configs/netnsh64_smp/defconfig
  boards/risc-v/qemu-rv/rv-virt/configs/netnsh_smp/defconfig
  boards/risc-v/sg2000/milkv_duos/configs/nsh/defconfig
  boards/sim/sim/sim/configs/loadable/defconfig
  boards/sparc/bm3803/xx3803/configs/nsh/defconfig
  boards/sparc/s698pm/s698pm-dkit/configs/nsh/defconfig
  boards/sparc/s698pm/s698pm-dkit/configs/smp/defconfig
  libs/libc/string/CMakeLists.txt
  libs/libc/string/Kconfig
  libs/libc/string/Make.defs
  libs/libc/string/lib_memset.c
  libs/libc/string/lib_vikmemcpy.c
Labels: breaking change, Area: OS Components, Size: M, Board: arm, Board: risc-v, Board: simulator, Board: sparc

#15612 drivers: mcp23x08 add missing header and fix some defines
  drivers/ioexpander/mcp23x08.c
  include/nuttx/ioexpander/mcp23x08.h
Labels: Area: Drivers, Size: M

#15618 gdbstub: typo and log fixes
  libs/libc/gdbstub/lib_gdbstub.c
Labels: Area: OS Components, Size: S

#15605 MCP9600 UORB implementation
  Documentation/components/drivers/special/sensors/mcp9600.rst
  boards/arm/rp2040/common/src/rp2040_common_bringup.c
  drivers/sensors/Kconfig
  drivers/sensors/Make.defs
  drivers/sensors/mcp9600_uorb.c
  include/nuttx/sensors/ioctl.h
  include/nuttx/sensors/mcp9600.h
  include/nuttx/uorb.h
Labels: Area: Documentation, Area: OS Components, Area: Sensors, Size: L, Board: arm

#15617 .github/ISSUE_TEMPLATE: Add host_info command section into bug report…
  .github/ISSUE_TEMPLATE/001_bug_report.yml
Labels: Area: CI, Size: XS

#15619 Documentation/uorb: remove uncalibrated member
  Documentation/components/drivers/special/sensors/sensors_uorb.rst
Labels: Area: Documentation, Size: XS

#15621 Documentation: Update supported platforms for Rust guide
  Documentation/guides/rust.rst
Labels: Area: Documentation, Size: XS

#15620 boards/qemu-armv7r: fix typo
  boards/arm/qemu/qemu-armv7r/src/qemu_bringup.c
Labels: Size: XS, Board: arm

#15622 xtensa/esp32s3: Fix wrong dummy length in mode register reading
  arch/xtensa/src/esp32s3/esp32s3_psram_octal.c
Labels: Arch: xtensa, Size: XS

#15627 fix(libc): lib_strftime %F month number off-by-one
  libs/libc/time/lib_strftime.c
Labels: Area: OS Components, Size: XS

#15623 Gdbstub support binary memory read
  libs/libc/gdbstub/lib_gdbstub.c
Labels: Area: OS Components, Size: M

#15626 boards/qemu-armv7a: revises knsh config
  boards/arm/qemu/qemu-armv7a/configs/knsh/defconfig
Labels: Size: S, Board: arm

#15628 armv8m: Default open hardware stack check
  arch/arm/src/armv8-m/Kconfig
Labels: Arch: arm, Size: XS

#15629 drivers/iovec: revert vector io implement from loop/null/zero driver
  drivers/loop/loop.c
  drivers/misc/dev_null.c
  drivers/misc/dev_zero.c
Labels: Area: Drivers, Size: M
