Repository apache/nuttx, pull requests merged in 2025-06, with the labels that each got.

#16468 Fix typo in scheduling docs
  Documentation/reference/user/02_task_scheduling.rst
Labels: Area: Documentation, Size: XS

#16467 audio/comp: fix build warning caused by invalid return value
  audio/audio_comp.c
Labels: Size: XS, Area: Audio

#16465 arch/arm/src/samv7/sam_serial_spi.c: set correct SPI mode during init
  arch/arm/src/samv7/sam_serial_spi.c
Labels: Arch: arm, Size: XS

#16470 docs/conf.py: Fix missing `nuttx_versions`
  Documentation/conf.py
Labels: Area: Documentation, Size: S

#16473 drivers/mtd: fix compile warning
  drivers/mtd/mtd_rwbuffer.c
Labels: Area: Drivers, Size: XS

#16472 docs/contributing: Add a commit message template
  .gitmessage
  Documentation/contributing/making-changes.rst
Labels: Area: Documentation, Size: S

#16485 arch/risc-v/mpfs: Add optimized perf timer functions
  arch/risc-v/Kconfig
  arch/risc-v/src/mpfs/Make.defs
  arch/risc-v/src/mpfs/mpfs_perf.c
Labels: Arch: risc-v, Size: M

#16486 add spin_lock_irqsave_nopreempt rspin_lock_irqsave_noprempt implement.
  include/nuttx/spinlock.h
Labels: Area: OS Components, Size: M

#16478 arch/arm/imxrt: Serial add RXDMA support for singlewire mode
  arch/arm/src/imxrt/imxrt_serial.c
Labels: Arch: arm, Size: S

#16494 net/utils: avoid unalign access g_tcp_connections_buffer
  net/utils/utils.h
Labels: Area: Networking, Size: XS

#16511 nuttx/spinlock: Define empty macro for spin_unlock
  include/nuttx/spinlock.h
Labels: Area: OS Components, Size: XS

#16517 arch/arm/stm32f7: Add missing RCC include
  arch/arm/src/stm32f7/stm32_capture.c
Labels: Arch: arm, Size: XS

#16522 arch/arm/src/samv7/sam_start.c: init perf events if enabled
  arch/arm/src/samv7/sam_start.c
Labels: Arch: arm, Size: XS

#16529 arch/riscv/ricv_exception.c: Dump the process name at exception in user space
  arch/risc-v/src/common/riscv_exception.c
Labels: Arch: risc-v, Size: XS

#16518 fs/smartfs: Fix a fatal bug about sector writing after seek
  fs/smartfs/smartfs_smart.c
Labels: Area: File System, Size: S

#16521 chore: update gitignore for .idea folder
  .gitignore
Labels: Size: XS

#16535 boards/nucleo-f446re: fix adc example
  boards/arm/stm32/nucleo-f446re/configs/adc/defconfig
  boards/arm/stm32/nucleo-f446re/src/stm32_adc.c
Labels: Size: XS, Board: arm

#16538 fs/vfs/fs_close.c: avoid double free if CONFIG_FS_NOTIFY is set
  fs/vfs/fs_close.c
Labels: Area: File System, Size: XS

#16500 Add ADC support for STM32G0 (along with oversampling)
  arch/arm/src/stm32f0l0g0/Kconfig
  arch/arm/src/stm32f0l0g0/hardware/stm32_adc.h
  arch/arm/src/stm32f0l0g0/hardware/stm32g0_pinmap.h
  arch/arm/src/stm32f0l0g0/hardware/stm32g0_pinmap_legacy.h
  arch/arm/src/stm32f0l0g0/hardware/stm32g0_rcc.h
  arch/arm/src/stm32f0l0g0/stm32_adc.c
  arch/arm/src/stm32f0l0g0/stm32g0_rcc.c
  boards/arm/stm32f0l0g0/nucleo-g0b1re/configs/adc/defconfig
  boards/arm/stm32f0l0g0/nucleo-g0b1re/include/board.h
  boards/arm/stm32f0l0g0/nucleo-g0b1re/src/Make.defs
  boards/arm/stm32f0l0g0/nucleo-g0b1re/src/nucleo-g0b1re.h
  boards/arm/stm32f0l0g0/nucleo-g0b1re/src/stm32_adc.c
  boards/arm/stm32f0l0g0/nucleo-g0b1re/src/stm32_bringup.c
Labels: Arch: arm, Size: M, Size: L, Board: arm

#16542 docs/syslogd: Update syslogd docs to reflect implementation
  Documentation/applications/system/syslogd/index.rst
Labels: Area: Documentation, Size: XS

#16543 arch/stm32f0l0g0: Improve STM32G0 peripheral config granularity
  arch/arm/src/stm32f0l0g0/Kconfig
  arch/arm/src/stm32f0l0g0/hardware/stm32g0_memorymap.h
  arch/arm/src/stm32f0l0g0/hardware/stm32g0_rcc.h
  arch/arm/src/stm32f0l0g0/stm32_hsi48.c
Labels: Arch: arm, Size: M

#16546 tools/testbuild.ps1: Windows fix the redirect error stream
  tools/testbuild.ps1
Labels: Area: Tooling, Size: S

#16466 drivers/serial: fix race conditions
  arch/Kconfig
  arch/avr/Kconfig
  drivers/serial/Kconfig
  drivers/serial/Kconfig-usart
  drivers/serial/serial.c
  include/nuttx/serial/serial.h
Labels: Arch: avr, Area: Drivers, Size: S, Size: M

#16554 sched: assert: Print Stack pointer value when not within the stack
  sched/misc/assert.c
Labels: Area: OS Components, Size: XS

#16563 tools: Modify refresh.sh to support update all configs from a board
  tools/refresh.sh
Labels: Area: Tooling, Size: S

#16561 CI checkpatch: fix cvt2utf not found and add check of all necessary tools
  .github/workflows/check.yml
  tools/checkpatch.sh
Labels: Area: Tooling, Area: CI, Size: M

#16559 libc: Move stdio/README to Documentation/components/libs/libc/stream.rst
  Documentation/components/libs/libc/index.rst
  Documentation/components/libs/libc/stream.rst
  libs/libc/stdio/README.md
Labels: Area: Documentation, Area: OS Components, Size: XS, Size: M

#16566 [Fix] Esp32S3 LCD FB resolution.
  arch/xtensa/src/esp32s3/esp32s3_lcd.c
Labels: Arch: xtensa, Size: XS

#16556 risc-v/mmu: Fix map_region() for incorrect page table setup when vadd…
  arch/risc-v/src/qemu-rv/qemu_rv_mm_init.c
Labels: Arch: risc-v, Size: S

#16575 {bp-16468} Documentation: Fix a typo in scheduler docs
  Documentation/reference/user/02_task_scheduling.rst
Labels: Area: Documentation, Size: XS

#16572 {bp-16465} arch/arm/src/samv7/sam_serial_spi.c: set correct SPI mode during init
  arch/arm/src/samv7/sam_serial_spi.c
Labels: Arch: arm, Size: XS

#16581 {bp-16477} arch/risc-v/src/qemu-rv/CMakeLists.txt: removed repeated addition of …
  arch/risc-v/src/qemu-rv/CMakeLists.txt
Labels: Arch: risc-v, Size: XS

#16587 {bp-16506} docs: Add missing CFLAGS to the ELF guides
  Documentation/guides/fully_linked_elf.rst
  Documentation/guides/partially_linked_elf.rst
Labels: Area: Documentation, Size: XS

#16597 {bp-16566} fix framebuffer config resolution.
  arch/xtensa/src/esp32s3/esp32s3_lcd.c
Labels: Arch: xtensa, Size: XS

#16590 {bp-16518} fs/smartfs: Fix a fatal bug about sector writing after seek
  fs/smartfs/smartfs_smart.c
Labels: Area: File System, Size: S

#16573 {bp-16466} drivers/serial: fix race conditions
  arch/Kconfig
  arch/avr/Kconfig
  drivers/serial/Kconfig
  drivers/serial/Kconfig-usart
  drivers/serial/serial.c
  include/nuttx/serial/serial.h
Labels: Arch: avr, Area: Drivers, Size: M

#16599 netdb/lib_dnsquery.c: prevent file descriptor leakage
  libs/libc/netdb/lib_dnsquery.c
Labels: Area: OS Components, Size: XS

#16603 [ESP32S3] Remove LCD Warnings.
  arch/xtensa/src/esp32s3/esp32s3_lcd.c
Labels: Arch: xtensa, Size: XS

#16607 {bp-16603} arch/xtensa/esp32s3: Remove LCD Warnings.
  arch/xtensa/src/esp32s3/esp32s3_lcd.c
Labels: Arch: xtensa, Size: XS

#16606 {bp-16599} netdb/lib_dnsquery.c: In the IPv6 or IPv4 dns_query_callback() block,…
  libs/libc/netdb/lib_dnsquery.c
Labels: Area: OS Components, Size: XS

#16622 AUTHORS: add new commiters
  AUTHORS
Labels: Size: XS

#16620 drivers/segger/CMakeLists.txt: Aligned Cmake with Make
  drivers/segger/CMakeLists.txt
Labels: Area: Drivers, Size: XS

#16615 debug/0 address: Add 0 address access panic configuration
  Kconfig
  sched/irq/irq_initialize.c
Labels: Area: OS Components, Size: S

#16640 Documentation: add NuttX-12.10.0 release notes
  Documentation/ReleaseNotes/NuttX-12.10.0
Labels: Area: Documentation, Size: M

#16635 Add a header file as a dependency
  include/nuttx/sensors/cxd5602pwbimu.h
Labels: Area: Sensors, Size: XS

#16629 bugfix: share kernel thread group should not dup files from caller group
  sched/group/group_setuptaskfiles.c
Labels: Area: OS Components, Size: XS, Size: S

#16645 ci/docker: bump risc-v toolchain
  tools/ci/docker/linux/Dockerfile
Labels: Area: Tooling, Area: CI, Size: XS

#16646 Add the NCV7410 10BASE-T1S SPI MAC-PHY support for ESP32C6 boards
  boards/risc-v/esp32c6/common/include/esp_board_ncv7410.h
  boards/risc-v/esp32c6/common/src/Make.defs
  boards/risc-v/esp32c6/common/src/esp_board_ncv7410.c
  boards/risc-v/esp32c6/esp32c6-devkitc/configs/ncv7410/defconfig
  boards/risc-v/esp32c6/esp32c6-devkitc/src/esp32c6_bringup.c
  boards/risc-v/esp32c6/esp32c6-devkitm/configs/ncv7410/defconfig
  boards/risc-v/esp32c6/esp32c6-devkitm/src/esp32c6_bringup.c
Labels: Size: M, Board: risc-v

#16647 arch/arm64/fvp-v8r: support cmake compile
  arch/arm64/src/fvp-v8r/CMakeLists.txt
  boards/arm64/fvp-v8r/fvp-armv8r/CMakeLists.txt
  boards/arm64/fvp-v8r/fvp-armv8r/src/CMakeLists.txt
Labels: Arch: arm64, Size: S, Board: arm64
