Repository apache/nuttx, pull requests merged in 2025-10, with the labels that each got.

#17136 drivers/can/ctucanfd_pci.c: refactor to use netdev_uperhalf
  drivers/can/ctucanfd_pci.c
Labels: Area: Drivers, Size: L

#17147 arch/arm/src/stm32f0l0g0: update STM32C0 PWR registers
  arch/arm/src/stm32f0l0g0/hardware/stm32c0_pwr.h
Labels: Arch: arm, Size: S

#17145 risc-v/espressif/gpio: Update common source code functions
  arch/risc-v/src/common/espressif/esp_gpio.c
Labels: Arch: risc-v, Size: S

#17149 arch/arm/src/stm32f0l0g0: don't compile stm32_pwr.c for STM32C0
  arch/arm/src/stm32f0l0g0/stm32_pwr.c
Labels: Arch: arm, Size: XS

#17143 risc-v/espressif/sha: Update common source code functions
  arch/risc-v/src/common/espressif/esp_sha.c
Labels: Arch: risc-v, Size: S

#17146 arch/arm/src/stm32f0l0g0: add FLASH support for STM32C0
  arch/arm/src/stm32f0l0g0/Kconfig
  arch/arm/src/stm32f0l0g0/hardware/stm32c0_flash.h
  arch/arm/src/stm32f0l0g0/stm32_flash.c
  arch/arm/src/stm32f0l0g0/stm32g0c0_flash.c
Labels: Arch: arm, Size: M

#17144 arch/risc-v/espressif/ledc: Update common source code functions
  arch/risc-v/src/common/espressif/esp_ledc.c
Labels: Arch: risc-v, Size: S

#17105 cmake: pass exclusion list to nuttx_add_subdirectory
  cmake/nuttx_add_subdirectory.cmake
Labels: Area: Build system, Size: S

#17154 boards/arm/rp23xx: CMake added Seeed Studio XIAO RP2350 board
  boards/arm/rp23xx/xiao-rp2350/CMakeLists.txt
  boards/arm/rp23xx/xiao-rp2350/src/CMakeLists.txt
Labels: Size: S, Board: arm

#17160 boards/arm/rp23xx: CMake added Pimoroni Pico Plus 2 board
  boards/arm/rp23xx/pimoroni-pico-2-plus/CMakeLists.txt
  boards/arm/rp23xx/pimoroni-pico-2-plus/src/CMakeLists.txt
Labels: Size: S, Board: arm

#17156 arch/xtensa/esp32s3: fix FSM check to avoid PM deadlocks
  arch/xtensa/src/esp32s3/esp32s3_pm.c
Labels: Arch: xtensa, Size: XS

#17167 boards/arm/rp23xx/pimoroni-pico-2-plus: fix implicit declaration of function 'board_spisd_initialize'
  boards/arm/rp23xx/pimoroni-pico-2-plus/include/rp23xx_spisd.h
Labels: Size: S, Board: arm

#17166 arch/xtensa/espressif: Fix efuse build warning for esp32
  arch/xtensa/src/common/espressif/esp_efuse.c
Labels: Arch: xtensa, Size: XS

#17165 arch/arm/stm32f0l0g0: add stm32_flash.c support for CMake
  arch/arm/src/stm32f0l0g0/CMakeLists.txt
Labels: Arch: arm, Size: XS

#17168 boards/arm/rp23xx/pimoroni-pico-2-plus: added ‘rp23xx_spisd.h’ in board.h
  boards/arm/rp23xx/pimoroni-pico-2-plus/include/board.h
Labels: Size: XS, Board: arm

#17163 boards/arm/rp23xx/pimoroni-pico-2-plus: Corrected all defconfig files
  boards/arm/rp23xx/pimoroni-pico-2-plus/configs/audiopack/defconfig
  boards/arm/rp23xx/pimoroni-pico-2-plus/configs/composite/defconfig
  boards/arm/rp23xx/pimoroni-pico-2-plus/configs/nsh/defconfig
  boards/arm/rp23xx/pimoroni-pico-2-plus/configs/nshsram/defconfig
  boards/arm/rp23xx/pimoroni-pico-2-plus/configs/smp/defconfig
  boards/arm/rp23xx/pimoroni-pico-2-plus/configs/usbmsc/defconfig
  boards/arm/rp23xx/pimoroni-pico-2-plus/configs/usbnsh/defconfig
  boards/arm/rp23xx/pimoroni-pico-2-plus/configs/userled/defconfig
Labels: Size: S, Board: arm
