Repository apache/nuttx, pull requests merged in 2025-04, with the labels that each got.

#16030 Optimize mutex atomic fast path
  include/nuttx/semaphore.h
  include/sys/syscall_lookup.h
  libs/libc/semaphore/sem_post.c
  libs/libc/semaphore/sem_trywait.c
  libs/libc/semaphore/sem_wait.c
  sched/semaphore/sem_post.c
  sched/semaphore/sem_trywait.c
  sched/semaphore/sem_wait.c
  sched/semaphore/semaphore.h
  syscall/syscall.csv
Labels: Area: OS Components, Size: M

#16104 drivers/lcd/st7789: Send RAMCTRL if little endian
  drivers/lcd/st7789.c
Labels: Area: Drivers, Size: XS, Area: Graphics

#16105 feat(nuttx): implement stm32h7 ltdc double buffer on layer 1
  arch/arm/src/stm32h7/Kconfig
  arch/arm/src/stm32h7/stm32_ltdc.c
Labels: Arch: arm, Size: S

#16109 drivers/lcd/st7789: Support mirror V
  drivers/lcd/Kconfig
  drivers/lcd/st7789.c
Labels: Area: Drivers, Size: S, Area: Graphics

#16108 arch/risc-v/esp32h2: Set the default SPI flash frequency to 64MHz
  arch/risc-v/src/common/espressif/Bootloader.mk
  arch/risc-v/src/common/espressif/Kconfig
  tools/espressif/Config.mk
Labels: Area: Tooling, Arch: risc-v, Size: XS

#16110 drivers/serial/uart_rpmsg: simplify initialization process of uart_rpmsg
  drivers/serial/uart_rpmsg.c
Labels: Area: Drivers, Size: S

#16120 arch/armv8-r: Enable fpu before arm_el_init
  arch/arm/src/armv8-r/arm_head.S
Labels: Arch: arm, Size: XS

#16119 {bp-16108} arch/risc-v/esp32h2: Set the default SPI flash frequency to 64MHz
  arch/risc-v/src/common/espressif/Bootloader.mk
  arch/risc-v/src/common/espressif/Kconfig
  tools/espressif/Config.mk
Labels: Area: Tooling, Arch: risc-v, Size: XS

#16118 {bp-16106} fix(bug): fix ft5x06_sample error
  drivers/input/ft5x06.c
Labels: Area: Drivers, Size: XS

#16117 {bp-16086} driver/serial: Check again the RX buffer, then check file flags
  drivers/serial/serial.c
Labels: Area: Drivers, Size: M

#16115 {bp-16085} arch/esp32s3: The MISO, MOSI and C/S are optional
  arch/xtensa/src/esp32s3/Kconfig
  arch/xtensa/src/esp32s3/esp32s3_spi.c
Labels: Arch: xtensa, Size: M

#16114 [bp-16079} arch/arm/src/samv7: enable GPIO clock even if interrupt not enabled
  arch/arm/src/samv7/sam_gpio.c
  arch/arm/src/samv7/sam_gpio.h
  arch/arm/src/samv7/sam_gpioirq.c
Labels: Arch: arm, Size: S

#16121 drivers/bch: Add CONFIG_BCH_FORCE_INDIRECT
  drivers/bch/Kconfig
  drivers/bch/bchlib_write.c
Labels: Area: Drivers, Size: S

#16123 add a comment on littlefs_attr_s to explain what it is
  fs/littlefs/lfs_vfs.c
Labels: Area: File System, Size: XS

#16128 {bp-16126} mpfs/mpfs_entrypoints.c: Change atomic_load > atomic_read
  arch/risc-v/src/mpfs/mpfs_entrypoints.c
Labels: Arch: risc-v, Size: XS

#16129 [bp-16120} arch/armv8-r: Enable fpu before arm_el_init
  arch/arm/src/armv8-r/arm_head.S
Labels: Arch: arm, Size: XS

#16130 libc/arm: optimize crc32/crc32c for arm
  arch/Kconfig
  libs/libc/machine/arm/CMakeLists.txt
  libs/libc/machine/arm/Kconfig
  libs/libc/machine/arm/Make.defs
  libs/libc/machine/arm/arch_crc32.c
  libs/libc/misc/lib_crc32.c
Labels: Area: OS Components, Size: M

#16137 arch/stm32f0l0g0/stm32_adc.c: fix ADC calibration
  arch/arm/src/stm32f0l0g0/stm32_adc.c
Labels: Arch: arm, Size: S

#16136 boards/xtensa/esp32s3: Move some .bss sections to the external RAM
  arch/xtensa/src/esp32s3/esp32s3_spiram.c
  arch/xtensa/src/esp32s3/esp32s3_start.c
  boards/xtensa/esp32s3/common/scripts/esp32s3_sections.ld
  boards/xtensa/esp32s3/common/scripts/flat_memory.ld
  boards/xtensa/esp32s3/esp32s3-devkit/configs/python/defconfig
Labels: Arch: xtensa, Size: S, Board: xtensa

#16131 espressif: Simplify the selection of the SPI flash frequency
  arch/risc-v/src/common/espressif/Bootloader.mk
  arch/risc-v/src/common/espressif/Kconfig
  arch/xtensa/src/common/espressif/Kconfig
  arch/xtensa/src/esp32/Bootloader.mk
  arch/xtensa/src/esp32s2/Bootloader.mk
  arch/xtensa/src/esp32s3/Bootloader.mk
  tools/esp32/Config.mk
  tools/esp32s2/Config.mk
  tools/esp32s3/Config.mk
  tools/espressif/Config.mk
  tools/espressif/build_mcuboot.sh
Labels: Area: Tooling, Arch: risc-v, Arch: xtensa, Size: M

#16125 {bp-16112} arch/arm/imx6: fix missed comma
  arch/arm/src/imx6/imx_serial.c
Labels: Arch: arm, Size: XS

#16141 {bp-16137} arch/stm32f0l0g0/stm32_adc.c: fix ADC calibration
  arch/arm/src/stm32f0l0g0/stm32_adc.c
Labels: Arch: arm, Size: S

#16146 boards/arm/stm32f401rc-rs485: Add support to BMP180 Sensor
  Documentation/platforms/arm/stm32f4/boards/stm32f401rc-rs485/index.rst
  boards/arm/stm32/common/src/stm32_bmp180.c
  boards/arm/stm32/stm32f401rc-rs485/src/stm32_bringup.c
Labels: Area: Documentation, Size: M, Board: arm

#16145 (bp-16144) Documentation: add NuttX-12.9.0 release notes
  Documentation/ReleaseNotes/NuttX-12.9.0
Labels: Area: Documentation, Size: L

#16144 Documentation: add NuttX-12.9.0 release notes
  Documentation/ReleaseNotes/NuttX-12.9.0
Labels: Area: Documentation, Size: L

#16143 libs/libc/crc16: add support of CRC-16/ANSI(aka CRC-16/IBM)
  include/nuttx/crc16.h
  libs/libc/misc/Make.defs
  libs/libc/misc/lib_crc16ibm.c
Labels: Area: OS Components, Size: M

#16102 arch/arm/stm32l4: Add CMakeLists for the STM32L4
  arch/arm/src/stm32l4/CMakeLists.txt
  boards/arm/stm32l4/nucleo-l476rg/CMakeLists.txt
  boards/arm/stm32l4/nucleo-l476rg/src/CMakeLists.txt
Labels: Arch: arm, Size: M, Board: arm

#16149 libc/semaphore: Read semaphore value by using NXSEM_COUNT macro
  libs/libc/semaphore/sem_getvalue.c
Labels: Area: OS Components, Size: XS

#16156 xtensa/esp32s2: enable sysclk and deassert reset signal for uart1
  arch/xtensa/src/esp32s2/esp32s2_lowputc.c
  arch/xtensa/src/esp32s2/esp32s2_serial.c
Labels: Arch: xtensa, Size: XS

#16160 Documentation: Add Seeed Studio XIAO ESP32S3 Board
  Documentation/platforms/xtensa/esp32s3/boards/esp32s3-xiao/index.rst
  Documentation/platforms/xtensa/esp32s3/boards/esp32s3-xiao/xiao-esp32s3.jpg
Labels: Area: Documentation, Size: M

#16157 arch/xtensa/espressif: Fix ESP32-S2 SPI flash frequency selection
  arch/xtensa/src/common/espressif/Kconfig
Labels: Arch: xtensa, Size: S

#16163 boards/stm32f0l0g0: unify liker scripts
  boards/arm/stm32f0l0g0/nucleo-c071rb/scripts/flash.ld
  boards/arm/stm32f0l0g0/nucleo-f072rb/scripts/flash.ld
  boards/arm/stm32f0l0g0/nucleo-f091rc/scripts/flash.ld
  boards/arm/stm32f0l0g0/stm32f051-discovery/scripts/flash.ld
  boards/arm/stm32f0l0g0/stm32f072-discovery/scripts/flash.ld
Labels: Size: S, Board: arm

#16164 fs/procfs: fix potential null pointer access in procfs_opendir
  fs/procfs/fs_procfs.c
Labels: Area: File System, Size: XS

#16169 tools/host_info_dump.py: fix UnboundLocalError: local variable 'vendor_specific_module_path' referenced before assignment
  tools/host_info_dump.py
Labels: Area: Tooling, Size: S

#16161 boards/xtensa/esp32s3: Add initial support for Seeed Studio XIAO ESP32S3
  boards/Kconfig
  boards/xtensa/esp32s3/esp32s3-xiao/Kconfig
  boards/xtensa/esp32s3/esp32s3-xiao/configs/combo/defconfig
  boards/xtensa/esp32s3/esp32s3-xiao/configs/usbnsh/defconfig
  boards/xtensa/esp32s3/esp32s3-xiao/include/board.h
  boards/xtensa/esp32s3/esp32s3-xiao/include/board_memorymap.h
  boards/xtensa/esp32s3/esp32s3-xiao/scripts/Make.defs
  boards/xtensa/esp32s3/esp32s3-xiao/src/Make.defs
  boards/xtensa/esp32s3/esp32s3-xiao/src/esp32s3-xiao.h
  boards/xtensa/esp32s3/esp32s3-xiao/src/esp32s3_appinit.c
  boards/xtensa/esp32s3/esp32s3-xiao/src/esp32s3_autoleds.c
  boards/xtensa/esp32s3/esp32s3-xiao/src/esp32s3_boot.c
  boards/xtensa/esp32s3/esp32s3-xiao/src/esp32s3_bringup.c
  boards/xtensa/esp32s3/esp32s3-xiao/src/esp32s3_gpio.c
  boards/xtensa/esp32s3/esp32s3-xiao/src/esp32s3_reset.c
  boards/xtensa/esp32s3/esp32s3-xiao/src/esp32s3_userleds.c
Labels: Size: XL, Board: xtensa

#16166 drivers/rpmsg: correct crc16 catalogue to CRC-16/IBM
  drivers/rpmsg/rpmsg_port_spi.c
  drivers/rpmsg/rpmsg_port_spi_slave.c
  drivers/rpmsg/rpmsg_port_uart.c
Labels: Area: Drivers, Size: S

#16167 nuttx/compiler: add support of deprecated attribute
  include/nuttx/compiler.h
Labels: Area: OS Components, Size: S

#16171 littlefs_open: sync the file only when O_TRUNC is specified
  fs/littlefs/lfs_vfs.c
Labels: Area: File System, Size: S

#16147 libs/libc/crc16: Separate implementation of crc16xmodem from crc16
  include/nuttx/crc16.h
  libs/libc/misc/CMakeLists.txt
  libs/libc/misc/Make.defs
  libs/libc/misc/lib_crc16.c
  libs/libc/misc/lib_crc16xmodem.c
Labels: Area: OS Components, Size: M

#16162 arch/sim: Add i2c setup and shutdown interface
  arch/sim/src/sim/posix/sim_i2c.h
Labels: Arch: simulator, Size: XS

#16173 arch/risc-v: PANIC() on system call crash
  arch/risc-v/src/common/riscv_exception.c
Labels: Arch: risc-v, Size: XS

#16180 arch/arm/stm32h5: DTS Hardware Files
  arch/arm/src/stm32h5/hardware/stm32_dts.h
  arch/arm/src/stm32h5/stm32_dts.h
Labels: Arch: arm, Size: M

#16176 libs/libc/semaphore: Fix DEBUGASSERTS
  libs/libc/semaphore/sem_trywait.c
  libs/libc/semaphore/sem_wait.c
Labels: Area: OS Components, Size: S

#16177 arch/mpfs/usb: Align usb_ctrlreq_s properly to 32-bit boundary
  arch/risc-v/src/mpfs/hardware/mpfs_usb.h
Labels: Arch: risc-v, Size: XS

#16187 {bp-16173} arch/risc-v: PANIC() on system call crash
  arch/risc-v/src/common/riscv_exception.c
Labels: Arch: risc-v, Size: XS

#16185 {bp-16164} fs/procfs: fix potential null pointer access in procfs_opendir
  fs/procfs/fs_procfs.c
Labels: Area: File System, Size: XS

#16191 [nxstyle] fix Relative files path
  arch/arm/src/ra4/CMakeLists.txt
  arch/risc-v/src/nuttsbi/Kconfig
  boards/arm/mcx-nxxx/frdm-mcxn236/src/CMakeLists.txt
  boards/arm/ra4/arduino-r4-minima/CMakeLists.txt
  boards/arm/ra4/arduino-r4-minima/src/CMakeLists.txt
Labels: Arch: arm, Arch: risc-v, Size: S, Board: arm

#16184 {bp-16131} espressif: Simplify the selection of the SPI flash frequency
  arch/risc-v/src/common/espressif/Bootloader.mk
  arch/risc-v/src/common/espressif/Kconfig
  arch/xtensa/src/common/espressif/Kconfig
  arch/xtensa/src/esp32/Bootloader.mk
  arch/xtensa/src/esp32s2/Bootloader.mk
  arch/xtensa/src/esp32s3/Bootloader.mk
  tools/esp32/Config.mk
  tools/esp32s2/Config.mk
  tools/esp32s3/Config.mk
  tools/espressif/Config.mk
  tools/espressif/build_mcuboot.sh
Labels: Area: Tooling, Arch: risc-v, Arch: xtensa, Size: M

#16183 Documentation: fix typo in comments
  CMakeLists.txt
Labels: Area: Build system, Size: XS

#16195 boards/arm/tiva/tm4c123g-launchpad: add CMakeLists.txt
  boards/arm/tiva/tm4c123g-launchpad/CMakeLists.txt
  boards/arm/tiva/tm4c123g-launchpad/src/CMakeLists.txt
Labels: Size: S, Board: arm

#16199 net/netdev: Change SIOCSCANBITRATE to require interface down.
  arch/arm/src/imx9/imx9_flexcan.c
  arch/arm/src/imxrt/imxrt_flexcan.c
  arch/arm/src/kinetis/kinetis_flexcan.c
  arch/arm/src/s32k1xx/s32k1xx_flexcan.c
  arch/arm/src/s32k3xx/s32k3xx_flexcan.c
  arch/arm/src/stm32h7/stm32_fdcan_sock.c
  arch/arm64/src/imx9/imx9_flexcan.c
  net/netdev/netdev_ioctl.c
Labels: Area: Networking, Arch: arm, Arch: arm64, Size: S

#16207 arch/arm/stm32h5: Fix ADC internal channel configuration.
  arch/arm/src/stm32h5/stm32_adc.c
Labels: Arch: arm, Size: S

#16206 arch/arm/stm32h5: Add USART6 serial driver config.
  arch/arm/src/stm32h5/Kconfig
  arch/arm/src/stm32h5/stm32_uart.h
Labels: Arch: arm, Size: S

#16204 arch/arm/stm32h5: copy bss and initialized data before configuring hardware
  arch/arm/src/stm32h5/stm32_start.c
Labels: Arch: arm, Size: S

#16205 arch/arm/stm32h5: Fix i2c compiler warnings.
  arch/arm/src/stm32h5/stm32_i2c.c
Labels: Arch: arm, Size: XS

#16209 stm32h7: enable Ethernet for STM32H7X7XX
  arch/arm/src/stm32h7/hardware/stm32_ethernet.h
Labels: Arch: arm, Size: XS

#16210 arch/arm/rp23xx: Fix PWM registers access
  arch/arm/src/rp23xx/hardware/rp23xx_pwm.h
  arch/arm/src/rp23xx/rp23xx_pwm.c
Labels: Arch: arm, Size: S

#16214 arch/arm/rp23xx: Fix IRQ prioritize
  arch/arm/src/rp23xx/rp23xx_irq.c
Labels: Arch: arm, Size: S

#16208 arch/xtensa: add crt0 to initialize environment
  arch/xtensa/src/Makefile
  arch/xtensa/src/common/Make.defs
  arch/xtensa/src/common/crt0.c
  arch/xtensa/src/lx6/Toolchain.defs
  arch/xtensa/src/lx7/Toolchain.defs
Labels: Arch: xtensa, Size: M

#16220 arch/arm/stm32h5: organize peripheral Kconfig selection
  arch/arm/src/stm32h5/Kconfig
Labels: Arch: arm, Size: M

#16216 Revert "libs/libc/semaphore: Fix DEBUGASSERTS"
  libs/libc/semaphore/sem_trywait.c
  libs/libc/semaphore/sem_wait.c
Labels: Area: OS Components, Size: S

#16222 drivers/video/vnc: Replace direct semcount access with nxsem_get_value
  drivers/video/vnc/vnc_updater.c
Labels: Size: S, Area: Video

#16219 arch/risc-v/espressif: Bump common source version
  arch/risc-v/src/common/espressif/Make.defs
Labels: Arch: risc-v, Size: XS

#16225 net: use bps units for bitrate in SocketCAN interfaces.
  arch/arm/src/imx9/imx9_flexcan.c
  arch/arm/src/imxrt/imxrt_flexcan.c
  arch/arm/src/kinetis/kinetis_flexcan.c
  arch/arm/src/s32k1xx/s32k1xx_flexcan.c
  arch/arm/src/s32k3xx/s32k3xx_flexcan.c
  arch/arm/src/stm32h7/stm32_fdcan_sock.c
  arch/arm64/src/imx9/imx9_flexcan.c
  include/net/if.h
Labels: breaking change, Arch: arm, Arch: arm64, Size: S

#16229 boards/xtensa/esp32: Fix the SPI Flash MTD block device number
  boards/xtensa/esp32/common/src/esp32_board_spiflash.c
Labels: Size: XS, Board: xtensa

#16230 esp32-devkitc/wamr_wasi_debug: bump wamr version
  boards/xtensa/esp32/esp32-devkitc/configs/wamr_wasi_debug/defconfig
Labels: Size: XS, Board: xtensa

#16232 wireless/ieee802154: Replace direct access to semaphore value with nx…
  wireless/ieee802154/mac802154.c
Labels: Size: XS

#16233 include/nuttx/atomic.h: For each ATOMIC func, cast the parameter to (FAR intXX_t *) of correct size
  include/nuttx/atomic.h
Labels: Area: OS Components, Size: S

#15945 fs/littlefs: Add read-only parameter
  fs/littlefs/lfs_vfs.c
Labels: Area: File System, Size: S

#16236 Documentation/applications/examples/elf/index.rst: Update for PR #3062 in nuttx-apps
  Documentation/applications/examples/elf/index.rst
Labels: Area: Documentation, Size: S

#16239 Documentation: Fix bad practice instructions
  Documentation/platforms/sim/network_linux.rst
Labels: Area: Documentation, Size: XS

#16243 drivers/sensors/lis2mdl: Fix SYSLOG call.
  drivers/sensors/lis2mdl_uorb.c
Labels: Area: Sensors, Size: XS

#16242 wireless/lpwan/rn2xx3: Fix invalid sync word bug.
  drivers/wireless/lpwan/rn2xx3/rn2xx3.c
Labels: Area: Drivers, Size: XS

#16250 Documentation: update rp2350 peripheral status
  Documentation/platforms/arm/rp23xx/index.rst
Labels: Area: Documentation, Size: XS

#16244 arch/arm/rp23xx: Address the spinlock errata RP2350-E2
  arch/arm/src/rp23xx/rp23xx_start.c
  arch/arm/src/rp23xx/rp23xx_testset.c
Labels: Arch: arm, Size: S

#16247 arch/arm/rp23xx: fix irq priority levels
  arch/arm/include/rp23xx/chip.h
Labels: Arch: arm, Size: S

#16251 boards/[risc-v|xtensa]/esp32[|c3|c6|h2|s3]: set coexiram sections
  boards/risc-v/esp32c3/common/scripts/esp32c3_sections.ld
  boards/risc-v/esp32c6/common/scripts/esp32c6_sections.ld
  boards/risc-v/esp32h2/common/scripts/esp32h2_sections.ld
  boards/xtensa/esp32/common/scripts/esp32_sections.ld
  boards/xtensa/esp32s3/common/scripts/esp32s3_sections.ld
Labels: Size: XS, Board: risc-v, Board: xtensa

#16253 arch/arm/rp23xx: fix linker scripts 100% RAM usage bug
  boards/arm/rp23xx/raspberrypi-pico-2/scripts/memmap_copy_to_ram.ld
  boards/arm/rp23xx/raspberrypi-pico-2/scripts/memmap_default.ld
  boards/arm/rp23xx/raspberrypi-pico-2/scripts/memmap_no_flash.ld
Labels: Size: S, Board: arm

#16240 net/tcp/tcp_conn.c: optimize the port conflict detection rules for tcp_listener()
  net/tcp/tcp_conn.c
Labels: Area: Networking, Size: XS

#16255 boards/xtensa/esp32[|s2|s3]: Fix unknown disassembling instructions
  boards/xtensa/esp32/common/scripts/esp32_sections.ld
  boards/xtensa/esp32s2/common/scripts/esp32s2_sections.ld
  boards/xtensa/esp32s3/common/scripts/esp32s3_sections.ld
Labels: Size: S, Board: xtensa

#16254 drivers/ioexpander/icjx: add option to set filters during initialization
  drivers/ioexpander/icjx.c
  drivers/ioexpander/icjx.h
  include/nuttx/ioexpander/icjx.h
Labels: Area: Drivers, Size: S

#16262 sched/affinity: Fix CPU_LOCKED functionality for some SMP calls
  sched/sched/sched_backtrace.c
  sched/sched/sched_setpriority.c
  sched/sched/sched_suspend.c
  sched/signal/sig_dispatch.c
  sched/task/task_restart.c
  sched/task/task_terminate.c
Labels: Area: OS Components, Size: XS

#16266 arch/risc-v: save/restore fpu registers always when CONFIG_ARCH_LAZYFPU is off
  arch/risc-v/src/common/riscv_fpu.S
Labels: Arch: risc-v, Size: XS

#16267 drivers/lcd/ili9341: Add custom width/height display options
  drivers/lcd/Kconfig
  drivers/lcd/ili9341.c
Labels: Area: Drivers, Size: S, Area: Graphics

#16274 boards/risc-v/esp32c3 Add initial support to Seeed Studio XIAO ESP32C3
  boards/Kconfig
  boards/risc-v/esp32c3/esp32c3-xiao/Kconfig
  boards/risc-v/esp32c3/esp32c3-xiao/configs/ble/defconfig
  boards/risc-v/esp32c3/esp32c3-xiao/configs/gpio/defconfig
  boards/risc-v/esp32c3/esp32c3-xiao/configs/nsh/defconfig
  boards/risc-v/esp32c3/esp32c3-xiao/configs/usbnsh/defconfig
  boards/risc-v/esp32c3/esp32c3-xiao/configs/wifi/defconfig
  boards/risc-v/esp32c3/esp32c3-xiao/include/board.h
  boards/risc-v/esp32c3/esp32c3-xiao/scripts/Make.defs
  boards/risc-v/esp32c3/esp32c3-xiao/src/Make.defs
  boards/risc-v/esp32c3/esp32c3-xiao/src/esp32c3-xiao.h
  boards/risc-v/esp32c3/esp32c3-xiao/src/esp32c3_appinit.c
  boards/risc-v/esp32c3/esp32c3-xiao/src/esp32c3_boot.c
  boards/risc-v/esp32c3/esp32c3-xiao/src/esp32c3_bringup.c
  boards/risc-v/esp32c3/esp32c3-xiao/src/esp32c3_gpio.c
  boards/risc-v/esp32c3/esp32c3-xiao/src/esp32c3_reset.c
Labels: Size: XL, Board: risc-v

#16273 Documentation: Add Seeed Studio XIAO ESP32C3 Board
  Documentation/platforms/risc-v/esp32c3/boards/esp32c3-xiao/index.rst
  Documentation/platforms/risc-v/esp32c3/boards/esp32c3-xiao/xiao-esp32c3.jpg
Labels: Area: Documentation, Size: M

#16261 xtensa/esp32s3: fix tickless mode timer unexpect interrupt handle
  arch/xtensa/src/esp32s3/esp32s3_tickless.c
Labels: Arch: xtensa, Size: S

#16277 boards/esp32c3: modify nimble defconfig to use UART0 as serial console
  boards/risc-v/esp32c3/esp32c3-generic/configs/nimble/defconfig
Labels: Size: XS, Board: risc-v

#16260 arch/esp32_partition.c: fix the incorrect boot sequence when switching from Factory to OTA_1
  arch/xtensa/src/esp32/esp32_partition.c
Labels: Arch: xtensa, Size: XS

#16279 boards/arm/stm32h7: Fix too small usbhost stack size
  boards/arm/stm32h7/linum-stm32h753bi/src/stm32_usb.c
  boards/arm/stm32h7/nucleo-h743zi/src/stm32_usb.c
  boards/arm/stm32h7/openh743i/src/stm32_usb.c
  boards/arm/stm32h7/stm32h747i-disco/src/stm32_usb.c
  boards/arm/stm32h7/weact-stm32h743/src/stm32_usb.c
Labels: Size: S, Board: arm

#16275 docs/tags: Introduce tagging feature to the documentation.
  Documentation/.gitignore
  Documentation/Makefile
  Documentation/Pipfile
  Documentation/conf.py
  Documentation/contributing/documentation.rst
  Documentation/index.rst
  Documentation/platforms/arm/rp2040/boards/adafruit-feather-rp2040/index.rst
  Documentation/platforms/arm/rp2040/boards/adafruit-kb2040/index.rst
  Documentation/platforms/arm/rp2040/boards/adafruit-qt-py-rp2040/index.rst
  Documentation/platforms/arm/rp2040/boards/pimoroni-tiny2040/index.rst
  Documentation/platforms/arm/rp2040/boards/raspberrypi-pico-w/index.rst
  Documentation/platforms/arm/rp2040/boards/raspberrypi-pico/index.rst
  Documentation/platforms/arm/rp2040/boards/seeed-xiao-rp2040/index.rst
  Documentation/platforms/arm/rp2040/boards/w5500-evb-pico/index.rst
  Documentation/platforms/arm/rp2040/boards/waveshare-rp2040-lcd-1.28/index.rst
  Documentation/platforms/arm/rp2040/boards/waveshare-rp2040-zero/index.rst
  Documentation/platforms/arm/rp2040/index.rst
  Documentation/platforms/arm64/bcm2711/boards/raspberrypi-4b/index.rst
Labels: Area: Documentation, Size: S

#16289 Corrected configure.sh call in customboards.rst
  Documentation/guides/customboards.rst
Labels: Area: Documentation, Size: XS

#16286 serial/uart_pci_16550.c: fix multiport ax99100
  drivers/serial/uart_pci_16550.c
Labels: Area: Drivers, Size: S

#16287 arch/x86_64: add debug interface
  arch/x86_64/Kconfig
  arch/x86_64/src/common/CMakeLists.txt
  arch/x86_64/src/common/Make.defs
  arch/x86_64/src/common/x86_64_hwdebug.c
  arch/x86_64/src/common/x86_64_hwdebug.h
  arch/x86_64/src/common/x86_64_initialize.c
  arch/x86_64/src/intel64/intel64_cpustart.c
Labels: Arch: x86_64, Size: L

#16291 boards/esp32s2: add -fno-omit-frame-pointer to saola board
  boards/xtensa/esp32s2/esp32s2-saola-1/scripts/Make.defs
Labels: Size: XS, Board: xtensa

#16288 x86_64: support for stack canaries
  arch/x86_64/include/intel64/irq.h
  arch/x86_64/src/intel64/intel64_checkstack.c
  arch/x86_64/src/intel64/intel64_cpustart.c
  arch/x86_64/src/intel64/intel64_fullcontextrestore.S
  arch/x86_64/src/intel64/intel64_initialstate.c
  arch/x86_64/src/intel64/intel64_start.c
  arch/x86_64/src/intel64/intel64_vectors.S
Labels: Arch: x86_64, Size: M

#16292 risc-v/k230: update documents
  Documentation/platforms/risc-v/k230/boards/canmv230/index.rst
Labels: Area: Documentation, Size: XS
