Repository apache/nuttx, pull requests merged in 2025-03, with the labels that each got.

#15894 boards/arm/rp2040/common: Add weak_function to SPI common logic
  boards/arm/rp2040/common/src/rp2040_spi.c
Labels: Size: S, Board: arm

#15918 drivers/audio/es8388: set proper format specifier macro for logging
  drivers/audio/es8388.c
Labels: Size: XS, Area: Audio

#15919 doc: Add documentation to USERLED subsystem
  Documentation/components/drivers/character/leds/index.rst
  Documentation/components/drivers/character/leds/userled.rst
Labels: Area: Documentation, Size: S

#15930 Documentation/applications/benchmarks/cyclictest: -q
  Documentation/applications/benchmarks/cyclictest/index.rst
Labels: Area: Documentation, Size: XS

#15924 ptmx: When alloc minor, skip the start addr if it has been used
  drivers/serial/ptmx.c
Labels: Area: Drivers, Size: XS

#15899 net/socket/getsockopt: move the options check to the upper layer
  net/socket/getsockopt.c
Labels: Area: Networking, Size: S

#15928 boards/sim/adb: default enable shell service
  boards/sim/sim/sim/configs/usbdev/defconfig
Labels: Size: XS, Board: simulator

#15923 drivers/lcd/st7789: add option for SPI delay control
  drivers/lcd/Kconfig
  drivers/lcd/st7789.c
Labels: Area: Drivers, Size: S, Area: Graphics

#15927 usbhost: recognize sim usb cdcacm composite device
  drivers/usbhost/usbhost_cdcacm.c
  drivers/usbhost/usbhost_composite.c
Labels: Size: S, Area: USB

#15920 arch/risc-v/common/espressif/espusbserial.c
  arch/risc-v/src/common/espressif/esp_usbserial.c
Labels: Arch: risc-v, Size: XS

#15944 libc/strings: fix compile warning if enable -Wshadow
  include/strings.h
Labels: Area: OS Components, Size: S

#15941 arch/risc-v/common: Fix unaligned stack access on 64-bit risc-v
  arch/risc-v/src/common/riscv_exception_common.S
Labels: Arch: risc-v, Size: S

#15915 drivers/net: update format specifier on lan9250 driver
  drivers/net/lan9250.c
Labels: Area: Networking, Size: XS

#15900 arch/arm/samv7/spi: fix ifdelay setup in spi_setdelay call
  arch/arm/src/samv7/sam_spi.c
Labels: Arch: arm, Size: XS

#15939 arch/arm64: Add up_perf_init for qemu.
  arch/arm64/src/qemu/qemu_boot.c
  arch/arm64/src/qemu/qemu_boot.h
Labels: Arch: arm64, Size: XS

#15947 lpc31xx: typo fix in board olimex-lpc-h3131 document
  Documentation/platforms/arm/lpc31xx/boards/olimex-lpc-h3131/README.txt
Labels: Area: Documentation, Size: XS

#15946 Documentation:: Add photo of PINE64 StarPro64 SBC
  Documentation/platforms/risc-v/eic7700x/boards/starpro64/index.rst
  Documentation/platforms/risc-v/eic7700x/boards/starpro64/starpro64.jpg
Labels: Area: Documentation, Size: XS

#15952 net/can: fix timestamp
  net/can/can_callback.c
Labels: Area: Networking, Size: S

#15951 sched/init: Fix build error with CONFIG_BOARD_CRASHDUMP_CUSTOM
  sched/init/nx_bringup.c
Labels: Area: OS Components, Size: XS

#15949 arch/arm/src/stm32f0l0g0: Fix SPI reads when nbits is 8
  arch/arm/src/stm32f0l0g0/stm32_spi.c
Labels: Arch: arm, Size: S

#15953 tools/mksyscall: fix 106: Unexpected end of line: "FAR char * co"
  tools/csvparser.h
Labels: Area: Tooling, Size: XS

#15857 [Bug]arm64: Initialize sctrl_el1 when running fork
  arch/arm64/src/common/arm64_fork.c
Labels: Arch: arm64, Size: XS

#15718 arch/arm/STM32H5: Initial ICACHE Support
  arch/arm/src/stm32h5/Kconfig
  arch/arm/src/stm32h5/Make.defs
  arch/arm/src/stm32h5/hardware/stm32_icache.h
  arch/arm/src/stm32h5/stm32.h
  arch/arm/src/stm32h5/stm32_icache.c
  arch/arm/src/stm32h5/stm32_icache.h
  arch/arm/src/stm32h5/stm32_start.c
Labels: Arch: arm, Size: L

#15925 drivers/syslog: add cdcacm channel
  drivers/syslog/Kconfig
  drivers/syslog/syslog_channel.c
  drivers/usbdev/cdcacm.c
  include/nuttx/usb/cdcacm.h
Labels: Area: Drivers, Size: M, Area: USB

#15957 audio/pcm_decode: fix typo in assert condition
  audio/pcm_decode.c
Labels: Size: XS, Area: Audio

#15861 boards/arm/stm32f401rc-rs485: Add support to GPIO Subsystem
  boards/arm/stm32/stm32f401rc-rs485/src/CMakeLists.txt
  boards/arm/stm32/stm32f401rc-rs485/src/Make.defs
  boards/arm/stm32/stm32f401rc-rs485/src/stm32_bringup.c
  boards/arm/stm32/stm32f401rc-rs485/src/stm32_gpio.c
  boards/arm/stm32/stm32f401rc-rs485/src/stm32f401rc-rs485.h
Labels: Size: M, Board: arm

#15929 arch/risc-v: tick timer improvements
  arch/risc-v/src/common/riscv_mtimer.c
Labels: Arch: risc-v, Size: M

#15977 Documentation/uorb: fix typo in uorb chapter
  Documentation/applications/system/uorb/index.rst
Labels: Area: Documentation, Size: XS

#15981 documentation/boot/nxboot: update nxboot documentation
  Documentation/applications/boot/nxboot/index.rst
Labels: Area: Documentation, Size: M

#15982 sched/sem_waitirq: Move kmm_map() call to sem_wait()
  sched/semaphore/sem_recover.c
  sched/semaphore/sem_wait.c
  sched/semaphore/sem_waitirq.c
Labels: Area: OS Components, Size: S

#15980 net: sixlowpan icmpv6 return from udp_input
  net/devif/ipv6_input.c
Labels: Area: Networking, Size: S

#15965 net/can: Fix NULL dereference for I/O Block
  net/can/can_callback.c
Labels: Area: Networking, Size: XS

#15907 arch/xtensa: initial support for debugpoint api
  arch/xtensa/Kconfig
  arch/xtensa/src/common/Make.defs
  arch/xtensa/src/common/xtensa_debug.c
  arch/xtensa/src/common/xtensa_int_handlers.S
Labels: Arch: xtensa, Size: L

#15963 fs/virtio-9p:When virtio-9p is not supported, return -ENODEV
  fs/v9fs/virtio_9p.c
Labels: Area: File System, Size: XS

#15992 arch/esp32[c3|c6|h2]: Fix efuse issue on MCUBoot
  arch/risc-v/src/esp32c3/hal_esp32c3.mk
  arch/risc-v/src/esp32c6/hal_esp32c6.mk
  arch/risc-v/src/esp32h2/hal_esp32h2.mk
Labels: Arch: risc-v, Size: S

#15985 arch/xtensa: set PS.EXCM initial value to 1 while new thread created
  arch/xtensa/src/common/xtensa_initialstate.c
Labels: Arch: xtensa, Size: XS

#15967 drivers/wireless/lpwan/rn2xx3: Fix UART dependency
  drivers/wireless/lpwan/Kconfig
Labels: Area: Drivers, Size: XS

#15935 arch/x86_64: Implement TSC frequency query via CPUID 0x40000010
  arch/x86_64/include/intel64/arch.h
  arch/x86_64/src/common/x86_64_internal.h
  arch/x86_64/src/intel64/Kconfig
  arch/x86_64/src/intel64/intel64_freq.c
Labels: Arch: x86_64, Size: M

#15964 coredump:adjust BOARD_COREDUMP_COMPRESSION
  boards/Kconfig
Labels: Size: XS

#15995 arm/nucleo-f746zg: Add example with apps note and trace
  boards/arm/stm32f7/nucleo-f746zg/configs/note/defconfig
Labels: Size: M, Board: arm

#15999 boards/imx6: Add support for mounting tmpfs file system
  boards/arm/imx6/sabre-6quad/src/imx_bringup.c
Labels: Size: S, Board: arm

#15994 drivers/thermal: Update state when temp is stable
  drivers/thermal/thermal_step_wise.c
Labels: Area: Drivers, Size: XS

#15962 arch/xtensa/esp32: espnow improvements
  Documentation/platforms/xtensa/esp32/boards/esp32-devkitc/index.rst
  arch/xtensa/src/esp32/Kconfig
  arch/xtensa/src/esp32/esp32_espnow_pktradio.c
  boards/xtensa/esp32/esp32-devkitc/configs/espnow/defconfig
Labels: Area: Documentation, Arch: xtensa, Size: L, Board: xtensa

#15978 net/udp: correct icmp(v6) response from udp_input
  net/udp/udp_input.c
Labels: Area: Networking, Size: S

#15958 audio/composite: merge composite instance allocate to one times
  audio/audio_comp.c
Labels: Size: S, Area: Audio

#15842 fs/drivers: Avoid causing a busy loop due to context switching induced by sem_post.
  drivers/i2c/i2c_slave_driver.c
  drivers/ipcc/ipcc_read.c
  drivers/ipcc/ipcc_write.c
  drivers/misc/goldfish_pipe.c
  drivers/pipes/pipe_common.c
  drivers/spi/spi_slave_driver.c
  drivers/wireless/bluetooth/bt_slip.c
  fs/notify/inotify.c
Labels: Area: Bluetooth, Area: Drivers, Area: File System, Size: S

#15954 arch/xtensa/esp32[s2|s3]: Add number of IRQ status lists for PHY initialization configuration
  arch/xtensa/src/common/espressif/Kconfig
  arch/xtensa/src/esp32/Make.defs
  arch/xtensa/src/esp32s2/Make.defs
  arch/xtensa/src/esp32s3/Make.defs
Labels: Arch: xtensa, Size: S

#15950 202503 Apache NuttX RTOS Contributing Guidelines update.
  CONTRIBUTING.md
Labels: Area: Documentation, Size: M

#15998 sched: simplify call of get current tcb
  drivers/syslog/vsyslog.c
  sched/sched/sched_setscheduler.c
Labels: Area: Drivers, Area: OS Components, Size: XS

#15971 fs/vfs/fs_poll: Add noinstrument_function to poll_notify function
  fs/vfs/fs_poll.c
Labels: Area: File System, Size: XS

#16000 tools/bdf-converter: Fix loop termination condition.
  tools/bdf-converter.c
Labels: Area: Tooling, Size: S

#15990 drivers/sensors/fakesensor: Add baro sensor type to fakesensor
  drivers/sensors/fakesensor_uorb.c
Labels: Area: Sensors, Size: S

#16015 tools/checkpatch: Use gmake on BSD, make otherwise.
  tools/checkpatch.sh
Labels: Area: Tooling, Size: XS

#16013 Revert "arch/xtensa: set PS.EXCM initial value to 1 while new thread …
  arch/xtensa/src/common/xtensa_initialstate.c
Labels: Arch: xtensa, Size: XS

#16028 include/nuttx/math.h: add missing HUGE_VALF and HUGE_VALL
  include/nuttx/lib/math.h
Labels: Size: XS

#16025 boards/esp32s3: Merge common configurations
  boards/xtensa/esp32s3/common/Kconfig
  boards/xtensa/esp32s3/esp32s3-box/Kconfig
  boards/xtensa/esp32s3/esp32s3-devkit/Kconfig
  boards/xtensa/esp32s3/esp32s3-eye/Kconfig
  boards/xtensa/esp32s3/esp32s3-korvo-2/Kconfig
  boards/xtensa/esp32s3/esp32s3-lcd-ev/Kconfig
  boards/xtensa/esp32s3/esp32s3-lhcbit/Kconfig
  boards/xtensa/esp32s3/esp32s3-meadow/Kconfig
Labels: Size: M, Board: xtensa

#16029 driver/serial/cdcacm: Get the status of rx or tx buf by ioctl
  drivers/usbdev/cdcacm.c
Labels: Size: M, Area: USB

#16040 Documentation: Add XIAO RA4M1 Board
  Documentation/platforms/arm/ra4m1/boards/xiao-ra4m1/index.rst
  Documentation/platforms/arm/ra4m1/boards/xiao-ra4m1/xiao-ra4m1.jpg
Labels: Area: Documentation, Size: M

#16039 boards/arm/ra4: Add support for Seeed Xiao RA4M1 Board
  boards/Kconfig
  boards/arm/ra4/xiao-ra4m1/CMakeLists.txt
  boards/arm/ra4/xiao-ra4m1/Kconfig
  boards/arm/ra4/xiao-ra4m1/configs/combo/defconfig
  boards/arm/ra4/xiao-ra4m1/configs/nsh/defconfig
  boards/arm/ra4/xiao-ra4m1/include/board.h
  boards/arm/ra4/xiao-ra4m1/scripts/Make.defs
  boards/arm/ra4/xiao-ra4m1/scripts/xiao-ra4m1.ld
  boards/arm/ra4/xiao-ra4m1/src/CMakeLists.txt
  boards/arm/ra4/xiao-ra4m1/src/Makefile
  boards/arm/ra4/xiao-ra4m1/src/ra4m1_appinit.c
  boards/arm/ra4/xiao-ra4m1/src/ra4m1_autoleds.c
  boards/arm/ra4/xiao-ra4m1/src/ra4m1_boot.c
  boards/arm/ra4/xiao-ra4m1/src/ra4m1_bringup.c
  boards/arm/ra4/xiao-ra4m1/src/ra4m1_gpio.c
  boards/arm/ra4/xiao-ra4m1/src/ra4m1_userleds.c
  boards/arm/ra4/xiao-ra4m1/src/xiao-ra4m1.h
Labels: Size: XL, Board: arm

#16034 boards/nucleo-f302r8: add ADC support
  boards/arm/stm32/nucleo-f302r8/src/CMakeLists.txt
  boards/arm/stm32/nucleo-f302r8/src/Make.defs
  boards/arm/stm32/nucleo-f302r8/src/stm32_adc.c
Labels: Size: M, Board: arm

#16041 drivers/sensors: Add CXD5602PWBIMU driver for IMU Add-on board
  boards/arm/cxd56xx/common/CMakeLists.txt
  boards/arm/cxd56xx/common/src/Make.defs
  boards/arm/cxd56xx/common/src/cxd56_cxd5602pwbimu.c
  boards/arm/cxd56xx/spresense/Kconfig
  boards/arm/cxd56xx/spresense/include/board.h
  boards/arm/cxd56xx/spresense/include/cxd56_cxd5602pwbimu.h
  boards/arm/cxd56xx/spresense/src/cxd56_bringup.c
  drivers/sensors/CMakeLists.txt
  drivers/sensors/Kconfig
  drivers/sensors/Make.defs
  drivers/sensors/cxd5602pwbimu.c
  include/nuttx/sensors/cxd5602pwbimu.h
Labels: Area: Sensors, Size: XL, Board: arm

#16032 Documentation/benchmarks/mtd: Add MTD transfer rate test app docs.
  Documentation/applications/benchmarks/mtd/index.rst
Labels: Area: Documentation, Size: S

#16062 {bp-15977] Documentation/uorb: fix typo in uorb chapter
  Documentation/applications/system/uorb/index.rst
Labels: Area: Documentation, Size: XS

#16058 {bp-15957} audio/pcm_decode: fix typo in assert condition
  audio/pcm_decode.c
Labels: Size: XS, Area: Audio

#16075 driver/mtd/at45db.c: write to page without built-in erase
  drivers/mtd/at45db.c
Labels: Area: Drivers, Size: S

#16046 {bp-15915} drivers/net: update format specifier on lan9250 driver
  drivers/net/lan9250.c
Labels: Area: Networking, Size: XS

#16048 {bp-15922} arch/arm, risc-v: Fix typos in Code Comments
  arch/arm/src/qemu/qemu_allocateheap.c
  arch/risc-v/src/bl808/bl808_allocateheap.c
  arch/risc-v/src/bl808/bl808_start.c
  arch/risc-v/src/bl808/chip.h
  arch/risc-v/src/c906/c906_allocateheap.c
  arch/risc-v/src/jh7110/chip.h
  arch/risc-v/src/jh7110/jh7110_allocateheap.c
  arch/risc-v/src/jh7110/jh7110_start.c
  arch/risc-v/src/k210/chip.h
  arch/risc-v/src/k230/chip.h
  arch/risc-v/src/k230/k230_allocateheap.c
  arch/risc-v/src/litex/chip.h
  arch/risc-v/src/mpfs/chip.h
  arch/risc-v/src/mpfs/mpfs_allocateheap.c
  arch/risc-v/src/qemu-rv/chip.h
  arch/risc-v/src/qemu-rv/qemu_rv_allocateheap.c
  arch/risc-v/src/qemu-rv/qemu_rv_start.c
  arch/risc-v/src/sg2000/chip.h
  arch/risc-v/src/sg2000/sg2000_allocateheap.c
  arch/risc-v/src/sg2000/sg2000_start.c
Labels: Arch: arm, Arch: risc-v, Size: S

#16049 {bp-15924} ptmx: When alloc minor, skip the start addr if it has been used
  drivers/serial/ptmx.c
Labels: Area: Drivers, Size: XS

#16050 {bp-15941} arch/risc-v/common: Fix unaligned stack access on 64-bit risc-v
  arch/risc-v/src/common/riscv_exception_common.S
Labels: Arch: risc-v, Size: S

#16051 {bp-15944} libc/strings: fix compile warning if enable -Wshadow
  include/strings.h
Labels: Area: OS Components, Size: S

#16052 {bp-15947} lpc31xx: typo fix in board olimex-lpc-h3131 document
  Documentation/platforms/arm/lpc31xx/boards/olimex-lpc-h3131/README.txt
Labels: Area: Documentation, Size: XS

#16053 {bp-15949} arch/arm/src/stm32f0l0g0: Fix SPI reads when nbits is 8
  arch/arm/src/stm32f0l0g0/stm32_spi.c
Labels: Arch: arm, Size: S

#16054 {bp-15950} 202503 Apache NuttX RTOS Contributing Guidelines update.
  CONTRIBUTING.md
Labels: Area: Documentation, Size: M

#16055 {bp-15951} sched/init: Fix build error with CONFIG_BOARD_CRASHDUMP_CUSTOM
  sched/init/nx_bringup.c
Labels: Area: OS Components, Size: XS

#16056 {bp-15952} net/can: fix timestamp
  net/can/can_callback.c
Labels: Area: Networking, Size: S

#16057 {bp-15953} tools/mksyscall: fix 106: Unexpected end of line: "FAR char * co"
  tools/csvparser.h
Labels: Area: Tooling, Size: XS

#16059 {bp-15963} fs/virtio-9p:When virtio-9p is not supported, return -ENODEV
  fs/v9fs/virtio_9p.c
Labels: Area: File System, Size: XS

#16060 {bp-15965} net/can: Fix NULL dereference for I/O Block
  net/can/can_callback.c
Labels: Area: Networking, Size: XS

#16061 {bp-15976} typo: fix incorrect doc
  include/nuttx/fs/uio.h
Labels: Area: File System, Size: XS

#16063 {bp-15978} net/udp: correct icmp(v6) response from udp_input
  net/udp/udp_input.c
Labels: Area: Networking, Size: S

#16064 {bp-15980} net: sixlowpan icmpv6 return from udp_input
  net/devif/ipv6_input.c
Labels: Area: Networking, Size: S

#16065 {bp-15992} arch/esp32[c3|c6|h2]: Fix efuse issue on MCUBoot
  arch/risc-v/src/esp32c3/hal_esp32c3.mk
  arch/risc-v/src/esp32c6/hal_esp32c6.mk
  arch/risc-v/src/esp32h2/hal_esp32h2.mk
Labels: Arch: risc-v, Size: S

#16067 [bp-16000} tools/bdf-converter: Fix loop termination condition.
  tools/bdf-converter.c
Labels: Area: Tooling, Size: S

#16068 {bp-16014} arch/risc-v: Fix wrong source name in make script
  arch/risc-v/src/common/Make.defs
Labels: Arch: risc-v, Size: XS

#16069 [bp-16015} tools/checkpatch: Use gmake on BSD, make otherwise.
  tools/checkpatch.sh
Labels: Area: Tooling, Size: XS

#16070 {bp-16018} arch/arm: add missing itm_syslog.h include
  arch/arm/src/at32/at32_start.c
  arch/arm/src/cxd32xx/cxd32_start.c
  arch/arm/src/eoss3/eoss3_start.c
  arch/arm/src/gd32f4/gd32f4xx_start.c
  arch/arm/src/stm32/stm32_start.c
  arch/arm/src/stm32f7/stm32_start.c
Labels: Arch: arm, Size: XS

#16071 {bp-16028} include/nuttx/math.h: add missing HUGE_VALF and HUGE_VALL
  include/nuttx/lib/math.h
Labels: Size: XS

#15987 driver/mtd: ramtron multi-device spi bus support
  drivers/mtd/ramtron.c
  include/nuttx/mtd/mtd.h
Labels: Area: Drivers, Size: S

#16045 {bp-15900} arch/arm/samv7/spi: fix ifdelay setup in spi_setdelay call
  arch/arm/src/samv7/sam_spi.c
Labels: Arch: arm, Size: XS

#16077 serial:gdbstub need enable irq
  drivers/serial/serial_gdbstub.c
Labels: Area: Drivers, Size: XS

#16072 CI: Improved speed to build nuttx on MSYS2 job
  tools/ci/cibuild.sh
  tools/sethost.sh
Labels: Area: Tooling, Area: CI, Size: S

#15974 boards/arm/nrf52/nrf52840-dk: add GPIO driver based on leds and buttons
  boards/arm/nrf52/nrf52840-dk/Kconfig
  boards/arm/nrf52/nrf52840-dk/src/CMakeLists.txt
  boards/arm/nrf52/nrf52840-dk/src/Make.defs
  boards/arm/nrf52/nrf52840-dk/src/nrf52840-dk.h
  boards/arm/nrf52/nrf52840-dk/src/nrf52_bringup.c
  boards/arm/nrf52/nrf52840-dk/src/nrf52_gpio.c
  boards/arm/nrf52/nrf52840-dk/src/nrf52_userleds.c
Labels: Size: M, Board: arm

#16019 arch/arm: Fix crash when using memcpy/memset as RAMFUNCS
  arch/arm/src/imx6/imx_boot.c
  arch/arm/src/imx9/imx9_start.c
  arch/arm/src/imxrt/imxrt_start.c
  arch/arm/src/kinetis/kinetis_start.c
  arch/arm/src/lc823450/lc823450_start.c
  arch/arm/src/mcx-nxxx/nxxx_start.c
  arch/arm/src/mx8mp/mx8mp_start.c
  arch/arm/src/s32k1xx/s32k1xx_start.c
  arch/arm/src/s32k3xx/s32k3xx_start.c
  arch/arm/src/sam34/sam_start.c
  arch/arm/src/sama5/sam_boot.c
  arch/arm/src/samd5e5/sam_start.c
  arch/arm/src/samv7/sam_start.c
  arch/arm/src/stm32f7/stm32_start.c
  arch/arm/src/stm32h7/stm32_start.c
  arch/arm/src/xmc4/xmc4_start.c
  include/nuttx/compiler.h
Labels: Arch: arm, Area: OS Components, Size: S

#15911 nuttxgdb/dmesg.py:add use gdb dump rpmsg_syslog
  tools/pynuttx/nxgdb/dmesg.py
Labels: Area: Tooling, Size: S

#15904 arch/esp32_spi: Add check to see if the TX_FIFO is empty
  arch/xtensa/src/esp32/esp32_spi.c
  arch/xtensa/src/esp32/hardware/esp32_spi.h
Labels: Arch: xtensa, Size: S

#15855 feat(arch/xensa): add CONFIG_SPIRAM_MEMTEST from ESP-IDF
  arch/xtensa/src/esp32/Kconfig
  arch/xtensa/src/esp32/esp32_start.c
  arch/xtensa/src/esp32s2/Kconfig
  arch/xtensa/src/esp32s2/esp32s2_start.c
  arch/xtensa/src/esp32s3/Kconfig
  arch/xtensa/src/esp32s3/esp32s3_start.c
Labels: Arch: xtensa, Size: S

#15991 arch/arm/stm32: fix stm32f1xx alarm support
  arch/arm/src/stm32/stm32_alarm.h
  arch/arm/src/stm32/stm32_rtc_lowerhalf.c
  arch/arm/src/stm32/stm32_rtcounter.c
Labels: Arch: arm, Size: S

#15854 tools/espressif: Improve version checking by subprocess
  tools/espressif/check_esptool.py
Labels: Area: Tooling, Size: S

#15885 arch/esp32_himemcdev: Replace file descriptor with node
  arch/xtensa/src/esp32/esp32_himem_chardev.c
Labels: Arch: xtensa, Size: S

#16084 {bp-16075} driver/mtd/at45db.c: write to page without built-in erase
  drivers/mtd/at45db.c
Labels: Area: Drivers, Size: S

#16083 {bp-16077} drivers/serial: gdbstub need enable irq
  drivers/serial/serial_gdbstub.c
Labels: Area: Drivers, Size: XS

#16082 {bp-16078} arch/arm/sama5/spi: fix ifdelay setup in spi_setdelay call
  arch/arm/src/sama5/sam_spi.c
Labels: Arch: arm, Size: XS

#16089 tools/ci/testrun/script/test_framework/test_cmocka: skip Skip failed …
  tools/ci/testrun/script/test_framework/test_cmocka.py
Labels: Area: Tooling, Area: CI, Size: XS

#16081 drivers/mtd/mtd_cfi: Add MTDIOC_ERASESTATE
  drivers/mtd/mtd_cfi.c
Labels: Area: Drivers, Size: XS

#16091 boards/esp32: add heap test to psram defconfig
  boards/xtensa/esp32/esp32-devkitc/configs/psram/defconfig
  boards/xtensa/esp32/esp32-devkitc/configs/psram_usrheap/defconfig
Labels: Size: XS, Board: xtensa

#16079 arch/arm/src/samv7: enable GPIO clock even if interrupt not enabled
  arch/arm/src/samv7/sam_gpio.c
  arch/arm/src/samv7/sam_gpio.h
  arch/arm/src/samv7/sam_gpioirq.c
Labels: Arch: arm, Size: S

#16085 arch/esp32s3: The MISO and C/S pins are optional
  arch/xtensa/src/esp32s3/Kconfig
  arch/xtensa/src/esp32s3/esp32s3_spi.c
Labels: Arch: xtensa, Size: M

#16086 driver/serial: Check again the RX buffer, then check file flags
  drivers/serial/serial.c
Labels: Area: Drivers, Size: M

#16090 syslog: add an option to completely disable syslog logic
  drivers/syslog/CMakeLists.txt
  drivers/syslog/Kconfig
  libs/libc/syslog/CMakeLists.txt
  libs/libc/syslog/Make.defs
  libs/libc/syslog/lib_syslog_none.c
Labels: Area: Drivers, Area: OS Components, Size: S
